{{#if error }}
  <div class="alert alert-warning alert-dismissible fade show mt-3">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Unauthorized!</strong> {{error}}.
  </div>
{{/if}}


{{#each errors}}
  <div class="alert alert-danger alert-dismissible fade show mt-3">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Unauthorized!</strong> {{text}}.
  </div>
  {{else}}

{{/each}}