<!-- Footer Begin -->

<div class="container-fluid main-bg">
  <div class="container">
    &nbsp;
    <div class="row">
      <div class="col-md-3 col-md-offset-1 col-sm-6">
        <h4 class="text-white">&nbsp;CodeSnippets</h4>
        <div><a href="/about" class="text-white btn">About</a></div>
        <div><a href="" class="text-white btn">Privacy Policy</a></div>
        <div><a href="/" class="text-white btn">Contact me</a></div>
      </div>

      <div class="col-md-3 col-sm-6">
        <h4 class="text-white">&nbsp;Languages</h4>
        <div><a href="" class="text-white btn">Python <span class="badge badge-primary"></span></a></div>
        <div>
          <a href="" class="text-white btn">Java Script <span class="badge badge-success">New</span></a>
        </div>
        <div>
          <a href="" class="text-white btn">Php <span class="badge badge-primary">New</span></a>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <h4 class="text-white">&nbsp;UI</h4>
        <div><a href="" class="text-white btn">Bootstrap 4</a></div>
        <div><a href="" class="text-white btn">Materialize</a></div>
        <div><a href="" class="text-white btn">Tailwind CSS</a></div>
      </div>

      <div class="col-md-3 col-sm-6">
        <h2 class="text-white text-center">Snippets <sup>&reg;</sup></h2>
        <div class="text-center">
          <a href="" class="text-white btn"><i class="fa fa-facebook-f" style="font-size:20px"></i></a>
          <a href="" class="text-white btn"><i class="fa fa-twitter" style="font-size:20px"></i></a>
          <a href="" class="text-white btn"><i class="fa fa-linkedin " style="font-size:20px"></i></a>
          <a href="" class="text-white btn"><i class="fa fa-reddit-alien" style="font-size:20px"></i></a>
        </div>
      </div>
    </div>
    &nbsp;
    <div class="container text-center text-white">
      <p>© Snippets 2019. All Rights Reserved</p>
    </div>&nbsp;
  </div>
</div>
<!-- Footer End -->