<!-- Footer Begin -->

<div class="container-fluid bg-dark">
  <div class="container">
    &nbsp;
    <div class="row">
      <div class="col-md-3 col-md-offset-1 col-sm-6">
        <h4 class="text-success">&nbsp;My CodeSnippets</h4>
        <div><a href="/about" class="text-success btn">About</a></div>
        <div><a href="" class="text-success btn">Privacy Policy</a></div>
        <div><a href="/about" class="text-success btn">Contact me</a></div>
      </div>

      <div class="col-md-3 col-sm-6">
        <h4 class="text-success">&nbsp;Languages</h4>
        <div><a href="/python/display/" class="text-success btn">Python <span class="badge badge-primary"></span></a></div>
        <div>
          <a href="/new" class="text-success btn">Ruby <span class="badge badge-success">New</span></a>
        </div>
        <div>
          <a href="/new" class="text-success btn">Node.js <span class="badge badge-primary">New</span></a>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <h4 class="text-success">&nbsp;UI</h4>
        <div><a href="/bootstrap_content" class="text-success btn">Bootstrap 4</a></div>
        <div><a href="/material" class="text-success btn">Materialize</a></div>
        <div><a href="/new" class="text-success btn">Tailwind CSS</a></div>
        
      </div>
      
      <div class="col-md-3 col-sm-6">
        <h2 class="text-success text-center">My CodeSnippets <sup>&reg;</sup></h2>
        <div class="text-center">
          <a href="" class="text-success btn"><i class="fa fa-facebook-f" style="font-size:20px"></i></a>
          <a href="/Z/zzz" class="text-success btn"><i class="fa fa-twitter" style="font-size:20px"></i></a>
          <a href="https://www.linkedin.com/in/manoj-kumar-a31416172/" class="text-success btn"><i class="fa fa-linkedin" style="font-size:20px"></i></a>
          <a href="https://www.reddit.com/user/manojkumar25" class="text-success btn"><i class="fa fa-reddit-alien" style="font-size:20px"></i></a>
        </div>
      </div>
    </div>
    &nbsp;
    <div class="container text-center text-success">
      <p>© My CodeSnippets 2019. All Rights Reserved</p>
    </div>&nbsp;
  </div>
</div>
<!-- Footer End -->