<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Code Snippets</h5>
        <p class="grey-text text-lighten-4">Code Everyday.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Code Snippets</h5>
        <ul>
          <li>
            <a class="grey-text text-lighten-3" href="">
          <i class="fa fa-facebook" aria-hidden="true" style="font-size: 25px;"></i>
            </a> &nbsp;&nbsp;&nbsp;
            <a class="grey-text text-lighten-3" href="https://twitter.com/Manoj_Kumar_04">
              <i class="fa fa-twitter" aria-hidden="true" style="font-size: 25px;"></i>
            </a>&nbsp;&nbsp;&nbsp;
            <a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/manoj-kumar-a31416172/">
              <i class="fa fa-linkedin" aria-hidden="true" style="font-size: 25px;"></i>
            </a> &nbsp;&nbsp;&nbsp;
            <a class="grey-text text-lighten-3" href="https://www.reddit.com/user/manojkumar25">
              <i class="fa fa-reddit-alien" aria-hidden="true" style="font-size: 25px;"></i>
            </a> &nbsp;&nbsp;&nbsp;
          </li>
          
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © Snippets 2019. All Rights Reserved
      <a class="grey-text text-lighten-4 right" href="/">CodeSnippets.co.in</a>
    </div>
  </div>
</footer>