<nav>
  <div class="container">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo left">My CodeSnippets</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">CSS</a></li>
        <li><a href="#">Components</a></li>
        <li><a href="#">JavaScript</a></li>
        <li><a href="#">Forms</a></li>
      </ul>
    </div>
  </div>
</nav>