&nbsp;
<div class="container bg-light p-5  mt-3">
    <div class="row mb-3">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="card-deck">
                <div class="card bg-white shadow border border-0">
                    <a href="/python/basics" class="text-decoration-none">
                        <div class="card-body text-center">
                            <img class="img-fluid" src="/imgs/python.png" alt="" width="250" height="250">
                            <hr>
                            <h4 class="text-warning">Python</h4>
                        </div>
                    </a>
                </div>
                <div class="card bg-white shadow border border-0">
                    <a href="/new" class="text-decoration-none">
                        <div class="card-body text-center">
                            <img class="img-fluid mb-3" src="/imgs/django.png" alt="" width="175" height="200">
                            <hr>
                            <h4 class="text-success">Django</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>