<div class="container">&nbsp;
  <hr>
    <h1 class="text-success text-center">Basics :</h1>
  <hr>
  <!-- Snippet1 BEGIN -->
  <div class="container">
    <h3 class="text-primary">Keywords:</h3>
    <p class="lead text-monospace">The words that have predefined meaning in program language are known as keywords. Example : <code>def | pass | del | lambda</code></p>
  </div>
  <div class="container" id="to-copy">
    <div class="float-right">
      <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
        onClick="CopyToClipboard('to-copy')">
        <i class="fa fa-clone" aria-hidden="true"></i>
      </button>
    </div>
    <pre><code class="python">{{> _dots}}
def    :- defines a function 
pass   :- statement that does nothing 
del    :- to delete an object
lambda :- to create an anonymous function .(Similar to Arrow functions in javascript)

</code></pre>
  </div>

  <div class="container">
    <h3 class="text-danger">Explanation :</h3>&nbsp;
    <div class="container bg-dark">&nbsp;
      <div class="container text-warning text-justify">
        <h4>
          and , as , assert , break , class , continue , def , del , elif ,else , except , False , finally , for , from , global , if ,import , in , is , lambda , None , nonlocal , not , or , pass , raise , return , True ,
          try , while , with ,yield .

        </h4>
      </div>&nbsp;
    </div>
  </div>
  <hr>&nbsp;
  <!-- Snippet1 END -->

  <!-- Snippet2 BEGIN -->
  <div class="container">
    <h3 class="text-primary">Literals :</h3>
    <p class="lead text-monospace">Any value that we store into a variable is known as Literal. <br>
    Example : 
    </p>
  </div>
  <div class="container" id="to-copy1">
    <div class="float-right">
      <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
        onClick="CopyToClipboard('to-copy1')">
        <i class="fa fa-clone" aria-hidden="true"></i>
      </button>
    </div>
    <pre><code class="python">{{> _dots}}
      x = 5
      y = 6

</code></pre>
  </div>

  <div class="container">
    <h3 class="text-danger">Explanation :</h3>&nbsp;
    <div class="container bg-white text-dark">&nbsp;
      <div class="container text-monospace">
        Here the values 
        <span class="text-danger lead"> 5 </span> and <span class="text-danger lead"> 6 

        </span> are called as Literals . 
        <span class="text-primary lead"> x </span> and <span class="text-primary lead"> y 

        </span> are called as Variables.
      </div>&nbsp;
    </div>
  </div>
  <hr>&nbsp;

  <!-- Snippet2 END -->


  <!-- Snippet3 BEGIN -->
  <div class="container">
    <h3 class="text-primary">Identifiers :</h3>
    <p class="lead text-monospace">Any name that is used for the purpose if identification will be called as Identifiers. <br>
      Example : <code>account_number , _userprofile , ActiveStatus</code>
    </p>
  </div>
  <div class="container" id="to-copy2">
    <div class="float-right">
      <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
        onClick="CopyToClipboard('to-copy2')">
        <i class="fa fa-clone" aria-hidden="true"></i>
      </button>
    </div>
    <pre><code class="python">{{> _dots}}
        account_number = 138425974
        _userprofile   = "John Morission"
        ActiveStatus   = True

</code></pre>
  </div>

  <div class="container">
    <h3 class="text-danger">Explanation :</h3>&nbsp;
    <div class="container bg-white text-dark">&nbsp;
      <div class="container text-monospace">
        Here the values
        <span class="text-primary lead"> account_number </span> and <span class="text-primary lead"> _userprofile  </span> and
        <span class="text-primary lead"> ActiveStatus </span>
         are called as Identifiers.
      </div>&nbsp;
    </div>
  </div>
  <hr>&nbsp;

  <button class="btn btn-primary float-right" >Next Topic</button>
  <!-- Snippet3 END -->
</div>