<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Code Snippets</title>
  <link rel="stylesheet" href="/css/dark.css">
  <script src="/js/highlight.pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/style.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
  <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-angle-double-up"
      style="font-size:28px"></i></button>
  {{> _navbar}}
  <span  style="position: fixed; top:700px;left:80px">
    <h3><span class="badge badge-danger mt-2 rounded-lg" id="clip" >Copied to clipboard</span></h3>
  </span>
  <div class="container">
    {{> _msg}}
    {{> _errors}}
    {{{body}}}
  </div>


  {{> _footer}}
  <script>
    function CopyToClipboard(containerid) {
      $('#clip').show();
      var textarea = document.createElement('textarea')
      textarea.id = 'temp_element'
      textarea.style.height = 0
      document.body.appendChild(textarea)
      textarea.value = document.getElementById(containerid).innerText
      var selector = document.querySelector('#temp_element')
      selector.select()
      document.execCommand('copy')
      document.body.removeChild(textarea)
      $('#clip').fadeOut(5000);
    }
    $(document).ready(function () {
      $('[data-toggle="tooltip"]').tooltip();
      $('#clip').hide();

    });
    


    $(document).ready(function () {
      $.ajaxSetup({
        headers: {
          'Content-Type': 'application/json',
          'Accept': 'application/json',
          'Access-Control-Allow-Origin': '*'  
        }
      });
      $.post("https://mysterious-peak-66720.herokuapp.com/");
    });
    

  </script>

</body>

</html>