<hr ><h4 class="blue-text center-align">Colors </h4>
<hr>
<h5 class="indigo-text left-align">Text-Colors </h5>
<p class="green-text">. Lorem ipsum dolor sit amet.</p>
<h5 class="indigo-text left-align">Background </h5>
<div class="card-panel teal lighten-2">
  This is a card panel with a teal lighten-2 class
</div>