&nbsp;<div class="jumbotron text-center bg-dark text-white">
  <h2 class="display-3 text-white overflow-auto overflow-hidden">Page Not Found <i class="text-danger fa  fa-exclamation-triangle
"></i></h2>
  <p class="lead">We can't find the page you are looking.Go to home page</p>
  <p></p>&nbsp;
  <p>
    <a href="/" class="btn btn-outline-success">Homepage 
    <span class="spinner-grow spinner-grow-sm"></span></a>
    <a href="/" class="btn btn-outline-warning">Contact me
    <i class="fa fa-user-circle-o"></i></a>
  </p>

  <h1 class="display-1"><i class="fa fa-frown-o text-primary " ></i>
  </h1>


</div>

<div class="conatiner invisible  mb-3">
  <h2 class="text-dark">H</h2>
</div>