&nbsp;<div class="jumbotron text-center">
  <h2 class="display-3 text-dark">{{title}}</h2>
  <p class="lead">This is a Node app for Programing Snippets for Application Improvement</p>
  <a href="/" class="btn btn-primary">Add Snippets</a>
</div>
<div class="conatiner   mb-3">
 <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="manoj-kumar-a31416172"><a class="LI-simple-link" href='https://in.linkedin.com/in/manoj-kumar-a31416172?trk=profile-badge'>MANOJ KUMAR</a></div>
</div>
<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>