&nbsp;<div class="jumbotron text-center">
  <h3 class="">{{title}}</h3>
  <hr>
  <p class="lead text-justify">CodeSnippets is a common platform for showcasing Programming Skill, users can easily incorporate the re-usable
  source code into larger programming modules.</p>
  <p class="lead text-justify " >The main focus of CodeSnippets is to allow the users to avoid repetitive typing of static markups in the application
  development thereby saving a ton of time , thinking about how to start.</p>&nbsp;<hr>
  <h3 class="text-left ">How to use CodeSnippets ?</h3>
  <p class="lead text-justify">Just go to the <a href="/display"  class="btn btn-outline-success btn-sm" >Snippets <span class="spinner-grow spinner-grow-sm"></span></a> section, it will list all the programming languages, select your preferred one and it will
  navigate to a list of commonly used snippets/modules. Click on the module which you are searching for, up at the top-right of each section <abbr title="Copy to Clipboard">
    <button class="btn btn-dark rounded-circle"> <i class="fa fa-clone" ></i></button> 
    </abbr> &nbsp;the button will be available click on that. You are ready to go.
  </p>
  <p class="lead text-justify">Now use the snippet copied to your clipboard & paste <kbd>Ctrl + v</kbd> in the modules of your application. Edit the field according to your need.</p>
  <a href="/" class="btn btn-primary">Find a Snippets</a>
</div>
<div class="conatiner   mb-3">
 <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="manoj-kumar-a31416172"><a class="LI-simple-link" href='https://in.linkedin.com/in/manoj-kumar-a31416172?trk=profile-badge'>MANOJ KUMAR</a></div>
</div>
<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>