&nbsp;<div class="jumbotron text-center">
  <h2 class="display-3 text-dark">{{title}}</h2>
  <p class="lead">This is a Node app for Programing Snippets for Application Improvement</p>
  <a href="/" class="btn btn-primary">Add Snippets</a>
</div>
<div class="conatiner invisible  mb-3">
  <h2 class="text-dark">H</h2>
</div>