
<div class="jumbotron text-center mt-3">
  <h3 class="">{{title}}</h3>
  <hr>
  <p class="lead text-justify">CodeSnippets is a common platform for showcasing Programming Skill, users can easily
    incorporate the re-usable
    source code into larger programming modules.</p>
  <p class="lead text-justify ">The main focus of CodeSnippets is to allow the users to avoid repetitive typing of
    static markups in the application
    development thereby saving a ton of time , thinking about how to start.</p>&nbsp;
  <hr>
  <h3 class="text-left ">How to use CodeSnippets ?</h3>
  <p class="lead text-justify">Just go to the <a href="/display" class="btn btn-outline-success btn-sm">Snippets <span
        class="spinner-grow spinner-grow-sm"></span></a> section, it will list all the programming languages, select
    your preferred one and it will
    navigate to a list of commonly used snippets/modules. Click on the module which you are searching for, up at the
    top-right of each section <abbr title="Copy to Clipboard">
      <button class="btn btn-dark rounded-circle"> <i class="fa fa-clone"></i></button>
    </abbr> &nbsp;the button will be available click on that. You are ready to go.
  </p>
  <p class="lead text-justify">Now use the snippet copied to your clipboard & <kbd>Ctrl + v</kbd> in the modules of your
    application. Edit the field according to your need.</p>&nbsp;

  <hr>
  <h3 class="text-left ">What is purpose of CodeSnippets?</h3>
  <p class="lead text-justify">In a Nutshell, CodeSnippets is only for the showcase of my skill. It is only for teaching and research, nowhere related
  to commercial purposes. Meanwhile, users can check out the topics, and it's free to use.
  </p>&nbsp;

  <hr><br>
  <h3 class="text-left ">How accurate are these Snippets ?</h3>
  <p class="lead text-justify">Initially, the content is made simple for all users to understand in an easy way, then it is executed & tested for some
  test-cases to verify the results.</p>
  <h4 class="text-left lead">Note:- There are two mode:
  </h4>
  <p class="lead text-justify ml-4"><span class="text-danger">Developer Mode:</span>  <span class="text-danger lead" style="font-size: 25px;">&bull;</span>   represents Beta-version. Requires Authentication.</p>
  <p class="lead text-justify ml-4"><span class="text-success">Users Mode: </span><span class="text-success lead" style="font-size: 25px;">&bull;</span>  represents Stable-version.</p>
  <p class="lead text-justify ml-4">Once testing for beta version is completed it will be available to all users.</p>

  <a href="/display" class="btn btn-primary">Find a Snippets</a>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-3 mx-auto ">
      <div class="container mt-3">
        <div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical"
          data-theme="dark" data-vanity="manoj-kumar-a31416172"><a class="LI-simple-link"
            href='https://in.linkedin.com/in/manoj-kumar-a31416172?trk=profile-badge'>MANOJ KUMAR</a></div>
      </div>
    </div>
    <div class="col-sm-1">&nbsp;</div>
    <div class="col-sm-8 bg-light mx-auto">
      <h4 class="mt-3"></h4>
      
      <ul class="list-group">
        <li class="list-group-item active text-center lead">Features of CodeSnippets</li>
        <li class="list-group-item">CodeSnippets Built on top of Node.js .It is lightweight and so efficient</li>
        <li class="list-group-item">Third item</li>
      </ul>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>