&nbsp;
<div class="container">
  <h3 class="text-center" style="color:#602dab">BootStrap 4 Classes</h3>
</div>

<div class="table-responsive">&nbsp;

  <table class="table table-bordered bg-white">

    <tbody class="text-center">
      <tr>
        <td class="lead"><a href="/Bootstrap/classes/cdn" class="text-decoration-none text-danger">CDN <span class="text-success">&#8226;</span></a></td>
        <td class="lead"><a href="/Bootstrap/classes/alerts" class="text-decoration-none">.alerts <span class="text-success">&#8226;</span></a></td>
        <td class="lead"><a href="/Bootstrap/classes/badges" class="text-decoration-none">.badges <span class="text-success">&#8226;</span></a></td>
        <td class="lead"><a href="/Bootstrap/classes/buttons" class="text-decoration-none">.buttons <span class="text-success">&#8226;</span></a></td>
        <td class="lead"><a href="/Bootstrap/classes/cards" class="text-decoration-none">.cards <span class="text-success">&#8226;</span></a></td>

      </tr>

      <tr>
        <td class="lead"><a href="/Bootstrap/classes/carousel" class="text-decoration-none">.carousels <span class="text-danger">&#8226;</span></a></td>
        <td class="lead"><a href="/Bootstrap/classes/collapse" class="text-decoration-none">.collapse <span class="text-danger">&#8226;</span></a></td>
        <td class="lead"><a href="/Bootstrap/classes/colors" class="text-decoration-none">.colors <span class="text-danger">&#8226;</span></a></td>
        <td class="lead"><a href="/Bootstrap/classes/containers" class="text-decoration-none">.containers<span class="text-danger">&#8226;</span></a></td>
        <td class="lead"><a href="/Bootstrap/classes/dropdowns" class="text-decoration-none">.dropdowns<span class="text-danger">&#8226;</span></a></td>

      </tr>
      <tr>
        <td class="lead"><a href="/Bootstrap/classes/filters" class="text-decoration-none">.filters <span class="text-danger">&#8226;</span></a></td>
        <td class="lead"><a href="/Bootstrap/classes/flex" class="text-decoration-none">.flexbox <span class="text-danger">&#8226;</span></a></td>
        <td class="lead"><a href="/Bootstrap/classes/forms" class="text-decoration-none">.forms <span class="text-danger">&#8226;</span></a></td>
        <td class="lead"><a href="/Bootstrap/classes/grids" class="text-decoration-none">.grids <span class="text-danger">&#8226;</span></a></td>
        <td class="lead"><a href="/Bootstrap/classes/images" class="text-decoration-none">.images <span class="text-danger">&#8226;</span></a></td>
      </tr>
      <tr>
        <td class="lead"><a href="/Bootstrap/classes/inputs" class="text-decoration-none">.inputs <span class="text-danger">&#8226;</span></a>
        </td>
        <td class="lead"><a href="/Bootstrap/classes/listgroups" class="text-decoration-none">.listgroups<span class="text-danger">&#8226;</span></a></td>
        <td class="lead"><a href="/Bootstrap/classes/media_objects" class="text-decoration-none">.media_objects<span class="text-danger">&#8226;</span>
        </a></td>
        <td class="lead"><a href="/Bootstrap/classes/modal" class="text-decoration-none">.modal <span class="text-danger">&#8226;</span></a></td>
        <td class="lead"><a href="/Bootstrap/classes/navbars" class="text-decoration-none">.navbars <span class="text-danger">&#8226;</span></a></td>


      </tr>
      <tr>
        <td class="lead"><a href="/Bootstrap/classes/paginations" class="text-decoration-none">.paginations<span class="text-danger">&#8226;</span></a></td>
        <td class="lead"><a href="/Bootstrap/classes/popover" class="text-decoration-none">.popover <span class="text-danger">&#8226;</span></a></td>
        <td class="lead"><a href="/Bootstrap/classes/progressbars" class="text-decoration-none">.progress_bars<span class="text-danger">&#8226;</span></a></td>
        <td class="lead"><a href="/Bootstrap/classes/scrollspy" class="text-decoration-none">.scrollspy <span class="text-danger">&#8226;</span></a></td>
        <td class="lead"><a href="/Bootstrap/classes/spinners" class="text-decoration-none">.spinners <span class="text-danger">&#8226;</span></a></td>
      </tr>
      <tr>
        <td class="lead"><a href="/Bootstrap/classes/tables" class="text-decoration-none">.tables <span class="text-danger">&#8226;</span></a>
        </td>
        <td class="lead"><a href="/Bootstrap/classes/toast" class="text-decoration-none">.toasts <span class="text-danger">&#8226;</span></a>
        </td>
        <td class="lead"><a href="/Bootstrap/classes/tooltip" class="text-decoration-none">.tooltip <span class="text-danger">&#8226;</span></a>
        </td>
        <td class="lead"><a href="/Bootstrap/classes/typography" class="text-decoration-none">.typography<span class="text-danger">&#8226;</span>
        </a></td>
        <td class="lead"><a href="/Bootstrap/classes/utilities" class="text-decoration-none">.utilities <span class="text-danger">&#8226;</span></a></td>
      </tr>
    </tbody>
  </table>&nbsp;
</div>