&nbsp;
<div class="container">
  <div class="container">
    <h3 class="text-primary">Button Styles:</h3>
  </div>
  <!-- Snippet1 BEGIN -->
  <div class="container" id="to-copy">
    <div class="float-right">
      <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
        onClick="CopyToClipboard('to-copy')">
        <i class="fa fa-clone" aria-hidden="true"></i>
      </button>
    </div>
    <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;
  &lt;button type="button" class="btn"&gt;Basic&lt;/button&gt;
  &lt;button type="button" class="btn btn-primary"&gt;Primary&lt;/button&gt;
  &lt;button type="button" class="btn btn-secondary"&gt;Secondary&lt;/button&gt;
  &lt;button type="button" class="btn btn-success"&gt;Success&lt;/button&gt;
  &lt;button type="button" class="btn btn-info"&gt;Info&lt;/button&gt;
  &lt;button type="button" class="btn btn-warning"&gt;Warning&lt;/button&gt;
  &lt;button type="button" class="btn btn-danger"&gt;Danger&lt;/button&gt;
  &lt;button type="button" class="btn btn-dark"&gt;Dark&lt;/button&gt;
  &lt;button type="button" class="btn btn-light"&gt;Light&lt;/button&gt;
  &lt;button type="button" class="btn btn-link"&gt;Link&lt;/button&gt;
&lt;/div&gt;
  </code></pre>
  </div>
  
  <div class="container">
    <h3 class="text-danger">Output:</h3>
    <div class="container bg-white text-center text-white">&nbsp;
      <div class="container">
        <button type="button" class="btn">Basic</button>
        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-secondary">Secondary</button>
        <button type="button" class="btn btn-success">Success</button>
        <button type="button" class="btn btn-info">Info</button>
        <button type="button" class="btn btn-warning">Warning</button>
        <button type="button" class="btn btn-danger">Danger</button>
        <button type="button" class="btn btn-dark">Dark</button>
        <button type="button" class="btn btn-light">Light</button>
        <button type="button" class="btn btn-link">Link</button>
      </div>&nbsp;
    </div>
  </div>
  <hr>&nbsp;
<!-- Snippet1 END -->

<!-- Snippet2 BEGIN -->
<div class="container">
  <h3 class="text-primary">Button Outline:</h3>
</div>
<div class="container" id="to-copy1">
  <div class="float-right">
    <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
      onClick="CopyToClipboard('to-copy1')">
      <i class="fa fa-clone" aria-hidden="true"></i>
    </button>
  </div>
  <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;
  &lt;button type="button" class="btn btn-outline-primary"&gt;Primary&lt;/button&gt;
  &lt;button type="button" class="btn btn-outline-secondary"&gt;Secondary&lt;/button&gt;
  &lt;button type="button" class="btn btn-outline-success"&gt;Success&lt;/button&gt;
  &lt;button type="button" class="btn btn-outline-info"&gt;Info&lt;/button&gt;
  &lt;button type="button" class="btn btn-outline-warning"&gt;Warning&lt;/button&gt;
  &lt;button type="button" class="btn btn-outline-danger"&gt;Danger&lt;/button&gt;
  &lt;button type="button" class="btn btn-outline-dark"&gt;Dark&lt;/button&gt;
  &lt;button type="button" class="btn btn-outline-light text-dark"&gt;Light&lt;/button&gt;
&lt;/div&gt;
  </code></pre>
</div>

<div class="container">
  <h3 class="text-danger">Output:</h3>
  <div class="container bg-white text-center text-white">&nbsp;
    <div class="container">
      <button type="button" class="btn btn-outline-primary">Primary</button>
      <button type="button" class="btn btn-outline-secondary">Secondary</button>
      <button type="button" class="btn btn-outline-success">Success</button>
      <button type="button" class="btn btn-outline-info">Info</button>
      <button type="button" class="btn btn-outline-warning">Warning</button>
      <button type="button" class="btn btn-outline-danger">Danger</button>
      <button type="button" class="btn btn-outline-dark">Dark</button>
      <button type="button" class="btn btn-outline-light text-dark">Light</button>
    </div>&nbsp;
  </div>
</div>
<hr>&nbsp;

<!-- Snippet2 END -->





</div>