<div class="container">&nbsp;
  <!-- Snippet1 BEGIN -->
  <div class="container">
    <h3 class="text-primary">Text Colors:</h3>
    <p><code>.text-muted .text-primary .text-success .text-info .text-warning .text-danger
        .text-secondary .text-white .text-dark .text-light
    </code></p>
  </div>
  <div class="container" id="to-copy">
    <div class="float-right">
      <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
        onClick="CopyToClipboard('to-copy')">
        <i class="fa fa-clone" aria-hidden="true"></i>
      </button>
    </div>
    <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;
  &lt;p class="text-muted"&gt;This text is muted.&lt;/p&gt;
  &lt;p class="text-primary"&gt;This text is important.&lt;/p&gt;
  &lt;p class="text-success"&gt;This text indicates success.&lt;/p&gt;
  &lt;p class="text-info"&gt;This text represents some information.&lt;/p&gt;
  &lt;p class="text-warning"&gt;This text represents a warning.&lt;/p&gt;
  &lt;p class="text-danger"&gt;This text represents danger.&lt;/p&gt;
  &lt;p class="text-secondary"&gt;Secondary text.&lt;/p&gt;
  &lt;p class="text-dark"&gt;This text is dark grey.&lt;/p&gt;
  &lt;p class="text-light"&gt;This text is light grey (on white background).&lt;/p&gt;
  &lt;p class="text-white"&gt;This text is white (on white background).&lt;/p&gt;
&lt;/div&gt;</code></pre>
  </div>

  <div class="container">
    <h3 class="text-danger">Output:</h3>&nbsp;
    <div class="container bg-white text-dark">&nbsp;
      <div class="container">
        <p class="text-muted">This text is muted.</p>
        <p class="text-primary">This text is important.</p>
        <p class="text-success">This text indicates success.</p>
        <p class="text-info">This text represents some information.</p>
        <p class="text-warning">This text represents a warning.</p>
        <p class="text-danger">This text represents danger.</p>
        <p class="text-secondary">Secondary text.</p>
        <p class="text-dark">This text is dark grey.</p>
        <p class="text-light bg-dark rounded">This text is light grey (on white background).</p>
        <p class="text-white bg-dark rounded">This text is white (on white background).</p>
      </div>&nbsp;
    </div>
  </div>
  <hr>&nbsp;
  <!-- Snippet1 END -->

  <!-- Snippet2 BEGIN -->
  <div class="container">
    <h3 class="text-primary">Opacity Text Colors:</h3>
    <p><code>.text-black-50 .text-white-50 </code></p>
  </div>
  <div class="container" id="to-copy1">
    <div class="float-right">
      <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
        onClick="CopyToClipboard('to-copy1')">
        <i class="fa fa-clone" aria-hidden="true"></i>
      </button>
    </div>
    <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;
  &lt;p class="text-black-50"&gt;Black text with 50% opacity on white background&lt;/p&gt;
  &lt;p class="text-white-50 bg-dark"&gt;White text with 50% opacity on black background&lt;/p&gt;
&lt;/div&gt;</code></pre>
  </div>
  
  <div class="container">
    <h3 class="text-danger">Output:</h3>&nbsp;
    <div class="container bg-white text-dark">&nbsp;
      <div class="container">
        <p class="text-black-50">Black text with 50% opacity on white background</p>
        <p class="text-white-50 bg-dark">White text with 50% opacity on black background</p>
      </div>&nbsp;
    </div>
  </div>
  <hr>&nbsp;
  
  <!-- Snippet2 END -->


  <!-- Snippet3 BEGIN -->
  <div class="container">
    <h3 class="text-primary"> Text Backgrounds:</h3>
    <p><code>.bg-primary .bg-success .bg-info .bg-warning .bg-danger .bg-secondary .bg-dark .bg-light</code></p>
  </div>
  <div class="container" id="to-copy2">
    <div class="float-right">
      <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
        onClick="CopyToClipboard('to-copy2')">
        <i class="fa fa-clone" aria-hidden="true"></i>
      </button>
    </div>
    <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;
  &lt;p class="bg-primary text-white"&gt;This text is important.&lt;/p&gt;
  &lt;p class="bg-success text-white"&gt;This text indicates success.&lt;/p&gt;
  &lt;p class="bg-info text-white"&gt;This text represents some information.&lt;/p&gt;
  &lt;p class="bg-warning text-white"&gt;This text represents a warning.&lt;/p&gt;
  &lt;p class="bg-danger text-white"&gt;This text represents danger.&lt;/p&gt;
  &lt;p class="bg-secondary text-white"&gt;Secondary background color.&lt;/p&gt;
  &lt;p class="bg-dark text-white"&gt;Dark grey background color.&lt;/p&gt;
  &lt;p class="bg-light text-dark"&gt;Light grey background color.&lt;/p&gt;
&lt;/div&gt;</code></pre>
  </div>
  
  <div class="container">
    <h3 class="text-danger">Output:</h3>&nbsp;
    <div class="container bg-white text-dark">&nbsp;
      <div class="container">
        <p class="bg-primary text-white">This text is important.</p>
        <p class="bg-success text-white">This text indicates success.</p>
        <p class="bg-info text-white">This text represents some information.</p>
        <p class="bg-warning text-white">This text represents a warning.</p>
        <p class="bg-danger text-white">This text represents danger.</p>
        <p class="bg-secondary text-white">Secondary background color.</p>
        <p class="bg-dark text-white">Dark grey background color.</p>
        <p class="bg-light text-dark">Light grey background color.</p>
      </div>&nbsp;
    </div>
  </div>
  <hr>&nbsp;
  
  <!-- Snippet3 END -->


  </div>