<div class="container">&nbsp;
  <!-- Snippet1 BEGIN -->
  <div class="container">
    <h3 class="text-primary">Headings:</h3>
    <p><code>.h1 .h2 .h3 .h4 .h5 .h6</code></p>
  </div>
  <div class="container" id="to-copy">
    <div class="float-right">
      <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
        onClick="CopyToClipboard('to-copy')">
        <i class="fa fa-clone" aria-hidden="true"></i>
      </button>
    </div>
    <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;
  &lt;h1&gt;h1 Bootstrap heading (2.5rem = 40px)&lt;/h1&gt;
  &lt;h2&gt;h2 Bootstrap heading (2rem = 32px)&lt;/h2&gt;
  &lt;h3&gt;h3 Bootstrap heading (1.75rem = 28px)&lt;/h3&gt;
  &lt;h4&gt;h4 Bootstrap heading (1.5rem = 24px)&lt;/h4&gt;
  &lt;h5&gt;h5 Bootstrap heading (1.25rem = 20px)&lt;/h5&gt;
  &lt;h6&gt;h6 Bootstrap heading (1rem = 16px)&lt;/h6&gt;
&lt;/div&gt;</code></pre>
  </div>

  <div class="container">
    <h3 class="text-danger">Output:</h3>&nbsp;
    <div class="container bg-white text-dark">&nbsp;
      <div class="container">
        <h1>h1 Bootstrap heading (2.5rem = 40px)</h1>
        <h2>h2 Bootstrap heading (2rem = 32px)</h2>
        <h3>h3 Bootstrap heading (1.75rem = 28px)</h3>
        <h4>h4 Bootstrap heading (1.5rem = 24px)</h4>
        <h5>h5 Bootstrap heading (1.25rem = 20px)</h5>
        <h6>h6 Bootstrap heading (1rem = 16px)</h6>
      </div>&nbsp;
    </div>


  </div>
  <hr>&nbsp;

  <!-- Snippet1 END -->


  </div>