<div class="table-responsive">&nbsp;
  <table class="table table-bordered bg-white">

    <tbody class="text-center">
      <tr>
        <td class="lead"><a href="/Bootstrap/classes/alerts" class="text-decoration-none">.alerts</a></td>
        <td class="lead"><a href="/Bootstrap/classes/badges" class="text-decoration-none">.badges</a></td>
        <td class="lead"><a href="/Bootstrap/classes/buttons" class="text-decoration-none">.buttons</a></td>
        <td class="lead"><a href="/Bootstrap/classes/cards" class="text-decoration-none">.cards</a></td>
        <td class="lead"><a href="/Bootstrap/classes/carousel" class="text-decoration-none">.carousels</a></td>
      </tr>

      <tr>
        <td class="lead"><a href="/Bootstrap/classes/colors" class="text-decoration-none">.colors</a></td>
        <td class="lead"><a href="/Bootstrap/classes/containers" class="text-decoration-none">.containers</a></td>
        <td class="lead"><a href="/Bootstrap/classes/collapse" class="text-decoration-none">.collapse</a></td>
        <td class="lead"><a href="/Bootstrap/classes/dropdowns" class="text-decoration-none">.dropdowns</a></td>
        <td class="lead"><a href="/Bootstrap/classes/filters" class="text-decoration-none">.filters</a></td>
      </tr>
      <tr>
        <td class="lead"><a href="/Bootstrap/classes/images" class="text-decoration-none">.images</a></td>
        <td class="lead"><a href="/Bootstrap/classes/listgroups" class="text-decoration-none">.listgroups</a></td>
        <td class="lead"><a href="/Bootstrap/classes/modal" class="text-decoration-none">.modal</a></td>
        <td class="lead"><a href="/Bootstrap/classes/media_objects" class="text-decoration-none">.media_objects</a></td>
        <td class="lead"><a href="/Bootstrap/classes/navbars" class="text-decoration-none">.navbars</a></td>

      </tr>
      <tr>
        <td class="lead"><a href="/Bootstrap/classes/paginations" class="text-decoration-none">.paginations</a></td>
        <td class="lead"><a href="/Bootstrap/classes/popover" class="text-decoration-none">.popover</a></td>
        <td class="lead"><a href="/Bootstrap/classes/progressbars" class="text-decoration-none">.progress_bars</a></td>
        <td class="lead"><a href="/Bootstrap/classes/scrollspy" class="text-decoration-none">.scrollspy</a></td>
        <td class="lead"><a href="/Bootstrap/classes/spinners" class="text-decoration-none">.spinners</a></td>

      </tr>
      <tr>
        <td class="lead"><a href="/Bootstrap/classes/tables" class="text-decoration-none">.tables</a></td>
        <td class="lead"><a href="/Bootstrap/classes/toast" class="text-decoration-none">.toasts</a></td>
        <td class="lead"><a href="/Bootstrap/classes/tooltip" class="text-decoration-none">.tooltip</a></td>
        <td class="lead"><a href="/Bootstrap/classes/typography" class="text-decoration-none">.typography</a></td>
        <td>julyom</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>julyom</td>
        <td>Dooley</td>
        <td>john</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>julyom</td>
        <td>Dooley</td>
        <td>john</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>julyom</td>
        <td>Dooley</td>
        <td>john</td>
      </tr>
    </tbody>
  </table>
</div>