<div class="container">
  <div class="container">
    <h3 class="text-primary">Bootstrap CDN:</h3>
  </div>


  <!-- Snippet1 BEGIN -->

  <div class="container" id="to-copy">
    <div class="float-right">
      <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
        onClick="CopyToClipboard('to-copy')">
        <i class="fa fa-clone" aria-hidden="true"></i>
      </button>
    </div>
    <pre><code class="html">{{> _dots}}
&lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;
&lt;head&gt;
    &lt;title&gt;Snippets&lt;/title&gt;
    &lt;meta charset="utf-8"&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1"&gt;
    &lt;link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"&gt;
    &lt;script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"&gt;&lt;/script&gt;
    &lt;script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"&gt;&lt;/script&gt;
    &lt;script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;div class="container bg-dark"&gt;
        &lt;p&gt;Basic Bootstrap CDN&lt;/p&gt;
    &lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>
  </div>

  <div class="container">
    <h3 class="text-danger">Output:</h3>
    <div class="container bg-dark text-center text-white ">
      <p>Basic Bootstrap CDN</p>
    </div>
  </div>
  <hr>&nbsp;

  <!-- Snippet1 END -->


  <!-- Snippet2 BEGIN -->
  <div class="container">
    <h3 class="text-primary">Container:</h3>
  </div>&nbsp;
  <div class="container" id="to-copy1">
    <div class="float-right">
      <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
        onClick="CopyToClipboard('to-copy1')">
        <i class="fa fa-clone" aria-hidden="true"></i>
      </button>
    </div>
    <pre><code class="html">{{> _dots}}
  &lt;div class="container"&gt;
     &lt;p&gt;The .rounded class adds rounded corners to an image:&lt;/p&gt;
  &lt;/div&gt;</code></pre>
  </div>

  <div class="container">
    <h3 class="text-danger">Output:</h3>&nbsp;
    <div class="container bg-dark text-center col-sm-10 text-white ">
      <p>Bootstrap Container</p>
    </div>
  </div>
  <hr>&nbsp;

  <!-- Snippet2 END -->

  <!-- Snippet3 BEGIN -->
  <div class="container">
    <h3 class="text-primary">Container-Fluid:</h3>
  </div>&nbsp;
  <div class="container" id="to-copy2">
    <div class="float-right">
      <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
        onClick="CopyToClipboard('to-copy2')">
        <i class="fa fa-clone" aria-hidden="true"></i>
      </button>
    </div>
    <pre><code class="html">{{> _dots}}
  &lt;div class="container-fluid"&gt;
      &lt;p&gt;The .rounded class adds rounded corners to an image:&lt;/p&gt;
  &lt;/div&gt;</code></pre>
  </div>

  <div class="container">
    <h3 class="text-danger">Output:</h3>&nbsp;
    <div class="container-fuild bg-dark text-center col-sm-12 text-white ">
      <p>Bootstrap Container-Fuild</p>
    </div>
  </div>
  <hr>&nbsp;

  <!-- Snippet3 END -->

  <!-- Snippet4 BEGIN -->
  <div class="container">
    <h3 class="text-primary">Jumbotron:</h3>
  </div>&nbsp;
  <div class="container" id="to-copy3">
    <div class="float-right">
      <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
        onClick="CopyToClipboard('to-copy3')">
        <i class="fa fa-clone" aria-hidden="true"></i>
      </button>
    </div>
    <pre><code class="html">{{> _dots}}
&lt;div class="jumbotron"&gt;   
    &lt;h1&gt;Lorem, ipsum dolor.&lt;/h1&gt;
    &lt;p&gt;Lorem ipsum dolor sit amet consectetur.&lt;/p&gt;
&lt;/div&gt;</code></pre>
  </div>

  <div class="container">
    <h3 class="text-danger">Output:</h3>&nbsp;
    <div class="container col-sm-10">
      <div class="jumbotron">
        <h1>Lorem, ipsum dolor.</h1>
        <p>Lorem ipsum dolor sit amet consectetur.</p>
      </div>
    </div>


  </div>
  <hr>&nbsp;

  <!-- Snippet4 END -->

  <!-- Snippet5 BEGIN -->
  <div class="container">
    <h3 class="text-primary">Jumbotron-Fluid:</h3>
  </div>&nbsp;
  <div class="container" id="to-copy4">
    <div class="float-right">
      <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
        onClick="CopyToClipboard('to-copy4')">
        <i class="fa fa-clone" aria-hidden="true"></i>
      </button>
    </div>
    <pre><code class="html">{{> _dots}}
&lt;div class="jumbotron jumbotron-fluid"&gt;
    &lt;div class="container"&gt;
        &lt;h1&gt;Lorem, ipsum dolor.&lt;/h1&gt;
        &lt;p&gt;Lorem ipsum dolor sit amet consectetur.&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
  </div>

  <div class="container">
    <h3 class="text-danger">Output:</h3>&nbsp;
    <div class="container col-sm-12">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1>Lorem, ipsum dolor.</h1>
          <p>Lorem ipsum dolor sit amet consectetur.</p>
        </div>
      </div>
    </div>


  </div>
  <hr>&nbsp;

  <!-- Snippet5 END -->


</div>