<div class="table-responsive">&nbsp;
  <table class="table table-bordered bg-white">

    <tbody class="text-center">
      <tr>
        <td class="lead"><a href="/buttons" class="text-decoration-none">.buttons</a></td>
        <td class="lead"><a href="/containers" class="text-decoration-none">.containers</a></td>
        <td>john</td>
        <td>john</td>
        <td>john</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>marym</td>
        <td>marym</td>
        <td>john</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>julyom</td>
        <td>Dooley</td>
        <td>john</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>julyom</td>
        <td>Dooley</td>
        <td>john</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>julyom</td>
        <td>Dooley</td>
        <td>john</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>julyom</td>
        <td>Dooley</td>
        <td>john</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>julyom</td>
        <td>Dooley</td>
        <td>john</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>julyom</td>
        <td>Dooley</td>
        <td>john</td>
      </tr>
    </tbody>
  </table>
</div>