<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
&nbsp;
<div class="container text-center mb-3 bg-white "></div>
  <div class="row mb-3">
    <div class="card-deck">
      <div class="card bg-white">
        <div class="card-body text-center">
            <div class="rounded-lg text-center" style="background-color:#602dab"><br>
              <i class="material-icons " style="font-size: 75px;color:#fff;">format_bold</i><br>
            </div>

          <hr>
          <h4 style="color:#602dab">Bootstrap 4</h4>
        </div>
      </div>
      <div class="card bg-white">
        <div class="card-body text-center">
          <img src="" alt="" class="fa fa-cog" style="font-size:70px;">
          <hr>
          <h4>Bootstrap 4</h4>
        </div>
      </div>
      <div class="card bg-white">
        <div class="card-body text-center">
          <img src="" alt="" class="fa fa-cog" style="font-size:70px;">
          <hr>
          <h4>Bootstrap 4</h4>
        </div>
      </div>
      <div class="card bg-white">
        <div class="card-body text-center">
          <img src="" alt="" class="fa fa-cog" style="font-size:70px;">
          <hr>
          <h4>Bootstrap 4</h4>
        </div>
      </div>

    </div>


  </div>
  <div class="row mb-3">
    <div class="card-deck">
      <div class="card bg-white">
        <div class="card-body text-center">
          <img src="" alt="" class="fa fa-cog" style="font-size:70px;">
          <hr>
          <h4>Bootstrap 4</h4>
        </div>
      </div>
      <div class="card bg-white">
        <div class="card-body text-center">
          <img src="" alt="" class="fa fa-cog" style="font-size:70px;">
          <hr>
          <h4>Bootstrap 4</h4>
        </div>
      </div>
      <div class="card bg-white">
        <div class="card-body text-center">
          <img src="" alt="" class="fa fa-cog" style="font-size:70px;">
          <hr>
          <h4>Bootstrap 4</h4>
        </div>
      </div>
      <div class="card bg-white">
        <div class="card-body text-center">
          <img src="" alt="" class="fa fa-cog" style="font-size:70px;">
          <hr>
          <h4>Bootstrap 4</h4>
        </div>
      </div>
  
    </div>
  
  
  </div>
</div>