<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
&nbsp;
<div class="container text-center mb-3 bg-light "></div>
  <div class="row mb-3">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="card-deck">
        <div class="card bg-white">
          <a href="/bootstrap_content" class="text-decoration-none">
            <div class="card-body text-center">
              <img src="imgs/bootstrap.png" alt="bootstrap" width="180">
              <hr>
              <h4 style="color:#602dab">Bootstrap 4</h4>
            </div>
          </a>
        </div>
        <div class="card bg-white">
          <a href="/material" class="text-decoration-none">
            <div class="card-body text-center">
              <img src="imgs/materialize.png" alt="materialize" width="95">
              <hr>
              <h4 class="text-danger">Materialize</h4>
            </div>
          </a>
        </div>
        <div class="card bg-white">
          <a href="" class="text-decoration-none">
            <div class="card-body text-center">
              <img src="imgs/tailwind.jpg" alt="tailwind" width="95">
              <hr>  
              <h4 class="text-info">Tailwind</h4>
            </div>
          </a>
        </div>
        <div class="card bg-white">
          <a href="" class="text-decoration-none">
            <div class="card-body text-center">
              <img src="imgs/bulma.png" alt="bulma" width="95">
              <hr>
              <h4 style="color:#4dd1b1">Bulma</h4>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
  
  <div class="row mb-3">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="card-deck">
        <div class="card bg-white">
          <a href="" class="text-decoration-none">
            <div class="card-body text-center">
              <img src="imgs/mongodb.png" alt="mongodb" width="95">
              <hr>
              <h4 class="text-success">MongoDB</h4>
            </div>
          </a>
        </div>
        <div class="card bg-white">
          <a href="" class="text-decoration-none">
            <div class="card-body text-center">
              <small class="mt-1 invisible">Express</small>
              <img class="mb-4" src="imgs/expressjs.png" alt="javascript" width="175">
  
              <hr>
              <h4 class="text-muted">Express.Js</h4>
            </div>
          </a>
        </div>
  
        <div class="card bg-white">
          <a href="" class="text-decoration-none">
            <div class="card-body text-center">
              <img src="imgs/reactjs.png" alt="mongodb" width="145">
              <hr>
              <h4 class="text-info">React</h4>
            </div>
          </a>
        </div>
  
        <div class="card bg-white">
          <a href="" class="text-decoration-none">
            <div class="card-body text-center">
              <img src="imgs/nodejs.png" alt="nodejs" width="90">
              <hr>
              <h4 style="color:#8cc84b">NodeJS</h4>
            </div>
          </a>
        </div>
  
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>

  <div class="row mb-3">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="card-deck">
        <div class="card bg-white">
          <a href="" class="text-decoration-none">
            <div class="card-body text-center">
              <img src="imgs/python.png" alt="python" width="125">
              <hr>
              <h4 class="text-primary">Python</h4>
            </div>
          </a>
        </div>
        <div class="card bg-white">
          <a href="" class="text-decoration-none">
            <div class="card-body text-center">
              <img src="imgs/javascript.png" alt="javascript" width="95">
              <hr>
              <h4 class="text-warning">Javascript</h4>
            </div>
          </a>  
        </div>
        
        <div class="card bg-white">
          <a href="" class="text-decoration-none">
            <div class="card-body text-center">
              
              <img class="mb-3 text-center" src="imgs/ruby.png" alt="nodejs" width="90">
              <small class="invisible ">ruby</small>
              <hr>
              <h4 class="text-danger">Ruby</h4>
            </div>
          </a>
        </div>

        <div class="card bg-white">
          <a href="" class="text-decoration-none">
            <div class="card-body text-center mt-1">
              <img class="mb-3" src="imgs/erlang.png" alt="mongodb" width="85">
              
              <hr>
              <h4 class="text-dark">Erlang</h4>
            </div>
          </a>
        </div>
  
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>

  <div class="row mb-3">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="card-deck">
        <div class="card bg-white">
          <a href="" class="text-decoration-none">
            <div class="card-body text-center">
              <img src="imgs/laravel.png" alt="python" width="100">
              <hr>
              <h4 class="text-danger">Laravel</h4>
            </div>
          </a>
        </div>
        <div class="card bg-white">
          <a href="" class="text-decoration-none">
            <div class="card-body text-center mt-3">
              <img class="mb-2" src="imgs/vuejs.png" alt="javascript" width="95">
              <hr>
              <h4 class="text-success">Vue.js</h4>
            </div>
          </a>
        </div>
  
        <div class="card bg-white">
          <a href="" class="text-decoration-none">
            <div class="card-body text-center mt-2">
  
              <img class="mb-2 text-center" src="imgs/git.png" alt="nodejs" width="90">
              <small class="invisible ">git</small>
              <hr>
              <h4 style="color:#fd5000" >Git</h4>
            </div>
          </a>
        </div>
  
        <div class="card bg-white">
          <a href="" class="text-decoration-none">
            <div class="card-body text-center mt-1">
              <img class="mb-3" src="imgs/vagrant.png" alt="mongodb" width="85">
  
              <hr>
              <h4 class="text-primary">vagrant</h4>
            </div>
          </a>
        </div>
  
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>

  
</div>