<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
&nbsp;
<div class="container text-center mb-3 bg-light "></div>
  <div class="row mb-3">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="card-deck">
        <div class="card bg-white">
          <a href="/bootstrap_content" class="text-decoration-none">
            <div class="card-body text-center">
              <img src="imgs/bootstrap.png" alt="bootstrap" width="180">
              <hr>
              <h4 style="color:#602dab">Bootstrap 4</h4>
            </div>
          </a>
        </div>
        <div class="card bg-white">
          <a href="" class="text-decoration-none">
            <div class="card-body text-center">
              <img src="imgs/materialize.png" alt="materialize" width="95">
              <hr>
              <h4 class="text-danger">Materialize</h4>
            </div>
          </a>
        </div>
        <div class="card bg-white">
          <a href="" class="text-decoration-none">
            <div class="card-body text-center">
              <img src="imgs/tailwind.jpg" alt="tailwind" width="95">
              <hr>  
              <h4 class="text-info">Tailwind</h4>
            </div>
          </a>
        </div>
        <div class="card bg-white">
          <a href="" class="text-decoration-none">
            <div class="card-body text-center">
              <img src="imgs/bulma.png" alt="bulma" width="95">
              <hr>
              <h4 style="color:#4dd1b1">Bulma</h4>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
  

  <div class="row mb-3">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="card-deck">
        <div class="card bg-white">
          <a href="" class="text-decoration-none">
            <div class="card-body text-center">
              <img src="imgs/python.png" alt="python" width="125">
              <hr>
              <h4 class="text-primary">Python</h4>
            </div>
          </a>
        </div>
        <div class="card bg-white">
          <a href="" class="text-decoration-none">
            <div class="card-body text-center">
              <img src="imgs/javascript.png" alt="javascript" width="95">
              <hr>
              <h4 class="text-warning">Javascript</h4>
            </div>
          </a>  
        </div>
        
        <div class="card bg-white">
          <a href="" class="text-decoration-none">
            <div class="card-body text-center">
              <img src="imgs/nodejs.png" alt="nodejs" width="90">
              <hr>
              <h4 style="color:#8cc84b">NodeJS</h4>
            </div>
          </a>
        </div>

        <div class="card bg-white">
          <a href="" class="text-decoration-none">
            <div class="card-body text-center">
              <img src="imgs/mongodb.png" alt="mongodb" width="95">
              <hr>
              <h4 class="text-success">MongoDB</h4>
            </div>
          </a>
        </div>
  
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>