&nbsp;<div class="jumbotron text-center">
  <h2 class="display-3 text-secondary overflow-auto">{{title}}</h2>
  <p class="lead">Snippets for Programing</p>
  <a href="/" class="btn btn-primary">Find a Snippet  </a>
</div>

<div class="container bg-light">&nbsp;
  <div class="card-deck mx-auto ">
    <a href="/" data-aos="fade-down" data-aos-duration="2000" class="card bg-light shadow p-5 mb-4 bg-white rounded-lg text-decoration-none">
      <div class="card-body text-center">
        <div class="container">
          <i class="fa fa-home" style="font-size:158px;color: #0077fd;"></i>
        </div>
        <h3 class="lable_text text-primary text-monospace">Home</h3>
      </div>
    </a>
    <div data-aos="fade-right" data-aos-duration="2000" class="card bg-light shadow p-5 mb-4 bg-white rounded-lg">
      <div class="card-body text-center">
        <div class="container">
          <i class="fa fa-file-code-o text-info" style="font-size:128px;"></i>
        </div>
        <br>
        <h3 class="lable_text text-info text-monospace">Snippets</h3>
      </div>
    </div>
    <div data-aos="fade-up" data-aos-duration="2000" class="card bg-light shadow p-5 mb-4 bg-white rounded-lg">
      <div class="card-body text-center">
        <div class="container">
          <i class="fa fa-drivers-license" style="font-size:128px;color: #fd5000;"></i>
        </div>
        <br>
        <h3 class="lable_text text-monospace" style="color: #fd5000;">About Me</h3>
      </div>
    </div>
  </div>
</div>
<div class="container mt-3 text-center bg-light">&nbsp;
  <h3 class="text-center text-primary">My Approch to CSS</h3><br>
  <img class="img-fluid" src="/imgs/UI.jpg" alt="" ><br><br>
</div>

<div class="conatiner invisible  mb-3">
  <h2 class="text-dark">H</h2>
</div>



