<div className="card-panel grey lighten-2">
  <div className="container">
    <h1 class="center red-text lighten-1-text">Materialize</h1>
    <ul class="collection">

      <li class="collection-item avatar">
        <i class="material-icons circle purple darken-3" style="font-size: 30px;">apps</i>
        <span class="title deep-purple-text accent-4-text ">CSS</span>
        <p class="purple-text accent-2-text">Colors, Grid, Helpers, Media, Pulse, Sass, Shadow<br>
          Table,Transitions, Typography
        </p>
        <a href="" class="secondary-content purple-text darken-3"><i class="material-icons">arrow_forward</i></a>
      </li>

      <li class="collection-item avatar">
        <i class="material-icons circle blue accent-4" style="font-size: 30px;">devices</i>
        <span class="title blue-text darken-4-text">Components</span><br>
        <p class="blue-text lighten-5-text">Badges, Buttons, Breadcrumbs, Cards, Collections <br>
          Floating Action Button, Footer, Icons, Navbar, Pagination, Preloader.
        </p>
        <a href="#!" class="secondary-content blue-text accent-4-text"><i class="material-icons">arrow_forward</i></a>
      </li>

      <li class="collection-item avatar">
        <i class="material-icons circle orange darken-4" style="font-size: 25px;">content_copy</i>
        <span class="title deep-orange-text accent-4">JavaScript</span>
        <p class="orange-text accent-3">Auto Init, Carousel, Collapsible, Dropdown, FeatureDiscovery, Media <br>
          Modals, Paraalax, Pushpin, Scrollspy, Sidenav, Tabs, Toasts, Tooltips, Waves
        </p>
        <a href="" class="secondary-content orange-text darken-4"><i class="material-icons">arrow_forward</i></a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle indigo darken-4" style="font-size: 30px;">portrait</i>
        <span class="title indigo-text">Forms</span>
        <p class="indigo-text darken-4-text">Autocomplete, Checkboxes, Chips, Pickers, Radio Buttons<br>
          Range, Select, Switches, Text Inputs.
        </p>
        <a href="" class="secondary-content indigo-text darken-4-text"><i class="material-icons">arrow_forward</i></a>
      </li>
    </ul>
  </div>
</div>