<div className="card-panel grey lighten-2">
  <div className="container">
    <h1 class="center" >Materialize</h1>
    <ul class="collection">

      <li class="collection-item avatar">
        <i class="material-icons circle purple darken-3">apps</i>
        <span class="title deep-purple-text accent-4-text ">CSS</span>
        <p class="purple-text accent-2-text">Colors, Grid, Helpers, Media, Pulse, Sass, Shadow<br>
          Table,Transitions, Typography
        </p>
        <a href="" class="secondary-content purple-text darken-3"><i class="material-icons">arrow_forward</i></a>
      </li>

      <li class="collection-item avatar">
        <i class="material-icons circle blue accent-4">devices</i>
        <span class="title blue-text darken-4-text">Components</span><br>
        <p class="blue-text lighten-5-text">Badges, Buttons, Breadcrumbs, Cards, Collections <br>
          Floating Action Button, Footer, Icons, Navbar, Pagination, Preloader.
        </p>
        <a href="#!" class="secondary-content blue-text accent-4-text"><i class="material-icons">arrow_forward</i></a>
      </li>

      <li class="collection-item avatar">
        <i class="material-icons circle orange darken-4">content_copy</i>
        <span class="title deep-orange-text accent-4">JavaScript</span>
        <p class="orange-text accent-3">First Line <br>
          Second Line
        </p>
        <a href="#!" class="secondary-content orange-text darken-4"><i class="material-icons">arrow_forward</i></a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle red">play_arrow</i>
        <span class="title">Title</span>
        <p>First Line <br>
          Second Line
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
    </ul>
  </div>
</div>