<div class="container">&nbsp;
    <!-- Snippet1 BEGIN -->
    <div class="container">
        <h3 class="text-primary">Modal:</h3>
    </div>
    <div class="container" id="to-copy">
        <div class="float-right">
            <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
                onClick="CopyToClipboard('to-copy')">
                <i class="fa fa-clone" aria-hidden="true"></i>
            </button>
        </div>
        <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;
  &lt;!-- Button to Open the Modal --&gt;
  &lt;button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"&gt;
    Open modal
  &lt;/button&gt;
  &lt;!-- The Modal --&gt;
  &lt;div class="modal" id="myModal"&gt;
    &lt;div class="modal-dialog"&gt;
      &lt;div class="modal-content"&gt;
        &lt;!-- Modal Header --&gt;
        &lt;div class="modal-header"&gt;
          &lt;h4 class="modal-title"&gt;Modal Heading&lt;/h4&gt;
          &lt;button type="button" class="close" data-dismiss="modal"&gt;&amp;times;&lt;/button&gt;
        &lt;/div&gt;
        
        &lt;!-- Modal body --&gt;
        &lt;div class="modal-body"&gt;
          Modal body..
        &lt;/div&gt;
        
        &lt;!-- Modal footer --&gt;
        &lt;div class="modal-footer"&gt;
          &lt;button type="button" class="btn btn-danger" data-dismiss="modal"&gt;Close&lt;/button&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
    </div>

    <div class="container">
        <h3 class="text-danger">Output:</h3>&nbsp;
        <div class="container bg-white">&nbsp;

            <div class="container text-center">
                <!-- Button to Open the Modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    Open modal
                </button>
                <!-- The Modal -->
                <div class="modal" id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Modal Heading</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                Modal body..
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <p>Modal Footer</p>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>&nbsp;
        </div>
        <hr>&nbsp;
    </div>
    <!-- Snippet1 END -->

    <!-- Snippet2 BEGIN -->
    <div class="container">
        <h3 class="text-primary">Add animation:</h3>
        <p><code>.fade</code></p>
    </div>
    <div class="container" id="to-copy1">
        <div class="float-right">
            <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
                onClick="CopyToClipboard('to-copy1')">
                <i class="fa fa-clone" aria-hidden="true"></i>
            </button>
        </div>
        <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;
  &lt;!-- Button to Open the Modal --&gt;
  &lt;button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal1"&gt;
    Open modal
  &lt;/button&gt;

  &lt;!-- The Modal --&gt;
  &lt;div class="modal fade" id="myModal1"&gt;
    &lt;div class="modal-dialog"&gt;
      &lt;div class="modal-content"&gt;
      
        &lt;!-- Modal Header --&gt;
        &lt;div class="modal-header"&gt;
          &lt;h4 class="modal-title"&gt;Modal Heading&lt;/h4&gt;
          &lt;button type="button" class="close" data-dismiss="modal"&gt;&amp;times;&lt;/button&gt;
        &lt;/div&gt;
        
        &lt;!-- Modal body --&gt;
        &lt;div class="modal-body"&gt;
          Modal body..
        &lt;/div&gt;
        
        &lt;!-- Modal footer --&gt;
        &lt;div class="modal-footer"&gt;
          &lt;button type="button" class="btn btn-danger" data-dismiss="modal"&gt;Close&lt;/button&gt;
        &lt;/div&gt;
        
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  
&lt;/div&gt;</code></pre>
    </div>

    <div class="container">
        <h3 class="text-danger">Output:</h3>&nbsp;
        <div class="container bg-white text-dark">&nbsp;
            <div class="container text-center">
                <!-- Button to Open the Modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal1">
                    Open modal
                </button>

                <!-- The Modal -->
                <div class="modal fade" id="myModal1">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Modal Heading</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                Modal body..
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>&nbsp;
        </div>
    </div>
    <hr>&nbsp;

    <!-- Snippet2 END -->


    <!-- Snippet3 BEGIN -->
    <div class="container">
        <h3 class="text-primary">Modal Size:</h3>
        <p><code>.modal-sm .modal-lg .modal-xl</code></p>
    </div>
    <div class="container" id="to-copy2">
        <div class="float-right">
            <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
                onClick="CopyToClipboard('to-copy2')">
                <i class="fa fa-clone" aria-hidden="true"></i>
            </button>
        </div>
        <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;
  &lt;!-- Button to Open the Modal --&gt;
  &lt;button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2"&gt;
    Large modal
  &lt;/button&gt;

  &lt;!-- The Modal --&gt;
  &lt;div class="modal fade" id="myModal2"&gt;
    &lt;div class="modal-dialog modal-lg"&gt;
      &lt;div class="modal-content"&gt;
      
        &lt;!-- Modal Header --&gt;
        &lt;div class="modal-header"&gt;
          &lt;h4 class="modal-title"&gt;Modal Heading&lt;/h4&gt;
          &lt;button type="button" class="close" data-dismiss="modal"&gt;&amp;times;&lt;/button&gt;
        &lt;/div&gt;
        
        &lt;!-- Modal body --&gt;
        &lt;div class="modal-body"&gt;
          Modal body..
        &lt;/div&gt;
        
        &lt;!-- Modal footer --&gt;
        &lt;div class="modal-footer"&gt;
          &lt;button type="button" class="btn btn-secondary" data-dismiss="modal"&gt;Close&lt;/button&gt;
        &lt;/div&gt;
        
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  
&lt;/div&gt;</code></pre>
    </div>

    <div class="container">
        <h3 class="text-danger">Output:</h3>&nbsp;
        <div class="container bg-white text-center">&nbsp;

            <div class="container">
                <!-- Button to Open the Modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">
                    Large modal
                </button>

                <!-- The Modal -->
                <div class="modal fade" id="myModal2">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Modal Heading</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                Modal body..
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>

                        </div>
                    </div>
                </div>

            </div>&nbsp;
        </div>
    </div>
    <hr>&nbsp;

    <!-- Snippet3 END -->

    <!-- Snippet4 BEGIN -->
    <div class="container">
        <h3 class="text-primary">Centered Modal:</h3>
        <p><code>.modal-dialog-centered</code></p>
    </div>
    <div class="container" id="to-copy3">
        <div class="float-right">
            <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
                onClick="CopyToClipboard('to-copy3')">
                <i class="fa fa-clone" aria-hidden="true"></i>
            </button>
        </div>
        <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;
  &lt;!-- Button to Open the Modal --&gt;
  &lt;button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal3"&gt;
    Centered modal
  &lt;/button&gt;

  &lt;!-- The Modal --&gt;
  &lt;div class="modal fade" id="myModal3"&gt;
    &lt;div class="modal-dialog modal-dialog-centered"&gt;
      &lt;div class="modal-content"&gt;
      
        &lt;!-- Modal Header --&gt;
        &lt;div class="modal-header"&gt;
          &lt;h4 class="modal-title"&gt;Centered Modal&lt;/h4&gt;
          &lt;button type="button" class="close" data-dismiss="modal"&gt;&amp;times;&lt;/button&gt;
        &lt;/div&gt;
        
        &lt;!-- Modal body --&gt;
        &lt;div class="modal-body"&gt;
          Modal body..
        &lt;/div&gt;
        
        &lt;!-- Modal footer --&gt;
        &lt;div class="modal-footer"&gt;
          &lt;button type="button" class="btn btn-secondary" data-dismiss="modal"&gt;Close&lt;/button&gt;
        &lt;/div&gt;
        
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  
&lt;/div&gt;</code></pre>
    </div>

    <div class="container">
        <h3 class="text-danger">Output:</h3>&nbsp;
        <div class="container bg-white text-center">&nbsp;

            <div class="container">
                <!-- Button to Open the Modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal3">
                    Centered modal
                </button>

                <!-- The Modal -->
                <div class="modal fade" id="myModal3">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Centered Modal</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                Modal body..
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>&nbsp;
        </div>
    </div>
    <hr>&nbsp;

    <!-- Snippet4 END -->

    <!-- Snippet5 BEGIN -->
    <div class="container">
        <h3 class="text-primary">Scrolling Modal:</h3>
        <p><code>.modal-dialog only</code></p>
    </div>
    <div class="container" id="to-copy4">
        <div class="float-right">
            <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
                onClick="CopyToClipboard('to-copy4')">
                <i class="fa fa-clone" aria-hidden="true"></i>
            </button>
        </div>
        <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;
  &lt;!-- Button to Open the Modal --&gt;
  &lt;button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal4"&gt;
    Scroll modal
  &lt;/button&gt;

  &lt;!-- The Modal --&gt;
  &lt;div class="modal" id="myModal4"&gt;
    &lt;div class="modal-dialog"&gt;
      &lt;div class="modal-content"&gt;
      
        &lt;!-- Modal Header --&gt;
        &lt;div class="modal-header"&gt;
          &lt;h1 class="modal-title"&gt;Modal Heading&lt;/h1&gt;
          &lt;button type="button" class="close" data-dismiss="modal"&gt;×&lt;/button&gt;
        &lt;/div&gt;
        
        &lt;!-- Modal body --&gt;
        &lt;div class="modal-body"&gt;
          &lt;h3&gt;Some text to enable scrolling..&lt;/h3&gt;
          &lt;p&gt;Some text to enable scrolling.. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis 
          aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla 
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
          mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
          laboris nisi ut aliquip ex ea commodo consequat.&lt;/p&gt;
        &lt;/div&gt;
        
        &lt;!-- Modal footer --&gt;
        &lt;div class="modal-footer"&gt;
          &lt;button type="button" class="btn btn-danger" data-dismiss="modal"&gt;Close&lt;/button&gt;
        &lt;/div&gt;
        
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  
&lt;/div&gt;</code></pre>
    </div>

    <div class="container">
        <h3 class="text-danger">Output:</h3>&nbsp;
        <div class="container bg-white text-center">&nbsp;



            <div class="container">
                <!-- Button to Open the Modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal4">
                    Scroll modal
                </button>

                <!-- The Modal -->
                <div class="modal" id="myModal4">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h1 class="modal-title">Modal Heading</h1>
                                <button type="button" class="close" data-dismiss="modal">×</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                <h3>Some text to enable scrolling..</h3>
                                <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                    veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    Duis
                                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                    nulla
                                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                    deserunt
                                    mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut
                                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    ullamco
                                    laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                    veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    Duis
                                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                    nulla
                                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                    deserunt
                                    mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut
                                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    ullamco
                                    laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>

                        </div>
                    </div>
                </div>

            </div>&nbsp;
        </div>
    </div>
    <hr>&nbsp;

    <!-- Snippet5 END -->


    <!-- Snippet6 BEGIN -->
    <div class="container">
        <h3 class="text-primary">Scrolling Inside Modal:</h3>
        <p><code>.modal-dialog-scrollable</code></p>
    </div>
    <div class="container" id="to-copy5">
        <div class="float-right">
            <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
                onClick="CopyToClipboard('to-copy5')">
                <i class="fa fa-clone" aria-hidden="true"></i>
            </button>
        </div>
        <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;
  &lt;!-- Button to Open the Modal --&gt;
  &lt;button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal5"&gt;
    Scroll in modal
  &lt;/button&gt;

  &lt;!-- The Modal --&gt;
  &lt;div class="modal" id="myModal5"&gt;
    &lt;div class="modal-dialog modal-dialog-scrollable"&gt;
      &lt;div class="modal-content"&gt;
      
        &lt;!-- Modal Header --&gt;
        &lt;div class="modal-header"&gt;
          &lt;h1 class="modal-title"&gt;Modal Heading&lt;/h1&gt;
          &lt;button type="button" class="close" data-dismiss="modal"&gt;×&lt;/button&gt;
        &lt;/div&gt;
        
        &lt;!-- Modal body --&gt;
        &lt;div class="modal-body"&gt;
          &lt;h3&gt;Some text to enable scrolling..&lt;/h3&gt;
          &lt;p&gt;Some text to enable scrolling.. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis 
          aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla 
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
          mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
          laboris nisi ut aliquip ex ea commodo consequat.&lt;/p&gt;
        &lt;/div&gt;
        
        &lt;!-- Modal footer --&gt;
        &lt;div class="modal-footer"&gt;
          &lt;button type="button" class="btn btn-danger" data-dismiss="modal"&gt;Close&lt;/button&gt;
        &lt;/div&gt;
        
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  
&lt;/div&gt;</code></pre>
    </div>

    <div class="container">
        <h3 class="text-danger">Output:</h3>&nbsp;
        <div class="container bg-white text-center">&nbsp;




            <div class="container">
                <!-- Button to Open the Modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal5">
                    Scroll in modal
                </button>

                <!-- The Modal -->
                <div class="modal" id="myModal5">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h1 class="modal-title">Modal Heading</h1>
                                <button type="button" class="close" data-dismiss="modal">×</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                <h3>Some text to enable scrolling..</h3>
                                <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                    veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    Duis
                                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                    nulla
                                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                    deserunt
                                    mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut
                                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    ullamco
                                    laboris nisi ut aliquip ex ea commodo consequat.</p>

                                <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                    veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    Duis
                                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                    nulla
                                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                    deserunt
                                    mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut
                                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    ullamco
                                    laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                    veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    Duis
                                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                    nulla
                                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                    deserunt
                                    mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut
                                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    ullamco
                                    laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>

                        </div>
                    </div>
                </div>

            </div>&nbsp;
        </div>
    </div>
    <hr>&nbsp;

    <!-- Snippet6 END -->


</div>