<div class="container">&nbsp;
    <!-- Snippet1 BEGIN -->
    <div class="container">
        <h3 class="text-primary">Headings:</h3>
        <p><code>.h1 .h2 .h3 .h4 .h5 .h6</code></p>
    </div>
    <div class="container" id="to-copy">
        <div class="float-right">
            <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
                onClick="CopyToClipboard('to-copy')">
                <i class="fa fa-clone" aria-hidden="true"></i>
            </button>
        </div>
        <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;
  &lt;h1&gt;h1 Bootstrap heading (2.5rem = 40px)&lt;/h1&gt;
  &lt;h2&gt;h2 Bootstrap heading (2rem = 32px)&lt;/h2&gt;
  &lt;h3&gt;h3 Bootstrap heading (1.75rem = 28px)&lt;/h3&gt;
  &lt;h4&gt;h4 Bootstrap heading (1.5rem = 24px)&lt;/h4&gt;
  &lt;h5&gt;h5 Bootstrap heading (1.25rem = 20px)&lt;/h5&gt;
  &lt;h6&gt;h6 Bootstrap heading (1rem = 16px)&lt;/h6&gt;
&lt;/div&gt;</code></pre>
    </div>

    <div class="container">
        <h3 class="text-danger">Output:</h3>&nbsp;
        <div class="container bg-white text-dark">&nbsp;
            <div class="container">
                <h1>h1 Bootstrap heading (2.5rem = 40px)</h1>
                <h2>h2 Bootstrap heading (2rem = 32px)</h2>
                <h3>h3 Bootstrap heading (1.75rem = 28px)</h3>
                <h4>h4 Bootstrap heading (1.5rem = 24px)</h4>
                <h5>h5 Bootstrap heading (1.25rem = 20px)</h5>
                <h6>h6 Bootstrap heading (1rem = 16px)</h6>
            </div>&nbsp;
        </div>


    </div>
    <hr>&nbsp;

    <!-- Snippet1 END -->


    <!-- Snippet2 BEGIN -->
    <div class="container">
        <h3 class="text-primary">Display Headings:</h3>
        <p><code>.display-1 .display-2 .display-3 .display-4</code></p>
    </div>
    <div class="container" id="to-copy1">
        <div class="float-right">
            <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
                onClick="CopyToClipboard('to-copy1')">
                <i class="fa fa-clone" aria-hidden="true"></i>
            </button>
        </div>
        <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;
  &lt;h1 class="display-1"&gt;Display 1&lt;/h1&gt;
  &lt;h1 class="display-2"&gt;Display 2&lt;/h1&gt;
  &lt;h1 class="display-3"&gt;Display 3&lt;/h1&gt;
  &lt;h1 class="display-4"&gt;Display 4&lt;/h1&gt;
&lt;/div&gt;</code></pre>
    </div>

    <div class="container">
        <h3 class="text-danger">Output:</h3>&nbsp;
        <div class="container bg-white text-dark">&nbsp;
            <div class="container">
                <h1 class="display-1">Display 1</h1>
                <h1 class="display-2">Display 2</h1>
                <h1 class="display-3">Display 3</h1>
                <h1 class="display-4">Display 4</h1>
            </div>&nbsp;
        </div>
    </div>
    <hr>&nbsp;
    <!-- Snippet2 END -->



    <!-- Snippet3 BEGIN -->
    <div class="container">
        <h3 class="text-primary">Block Quote:</h3>
        <p><code>.blockquote</code></p>
    </div>
    <div class="container" id="to-copy2">
        <div class="float-right">
            <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
                onClick="CopyToClipboard('to-copy2')">
                <i class="fa fa-clone" aria-hidden="true"></i>
            </button>
        </div>
        <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;
    &lt;blockquote class="blockquote"&gt;
        &lt;p&gt;Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Ipsum nobis soluta molestiae assumenda fugit asperiores corrupti magnam eum!&lt;/p&gt;
        &lt;footer class="blockquote-footer"&gt;From Snippets's website&lt;/footer&gt;
    &lt;/blockquote&gt;
&lt;/div&gt;</code></pre>
    </div>

    <div class="container">
        <h3 class="text-danger">Output:</h3>&nbsp;
        <div class="container bg-white text-dark">&nbsp;
            <div class="container">
                <blockquote class="blockquote">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                        Ipsum nobis soluta molestiae assumenda fugit asperiores corrupti magnam eum!
                    </p>
                    <footer class="blockquote-footer">From Snippets's website</footer>
                </blockquote>
            </div>&nbsp;
        </div>
    </div>
    <hr>&nbsp;
    <!-- Snippet4 END -->


    <!-- Snippet4 BEGIN -->
    <div class="container">
        <h3 class="text-primary">Small Headings:</h3>
        <p><code>&lt;small&gt;</code></p>
    </div>
    <div class="container" id="to-copy3">
        <div class="float-right">
            <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
                onClick="CopyToClipboard('to-copy3')">
                <i class="fa fa-clone" aria-hidden="true"></i>
            </button>
        </div>
        <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;     
  &lt;h1&gt;h1 heading &lt;small&gt;secondary text&lt;/small&gt;&lt;/h1&gt;
&lt;/div&gt;</code></pre>
    </div>

    <div class="container">
        <h3 class="text-danger">Output:</h3>&nbsp;
        <div class="container bg-white text-dark">&nbsp;
            <div class="container">
                <h1>h1 heading <small>secondary text</small></h1>
            </div>&nbsp;
        </div>
    </div>
    <hr>&nbsp;
    <!-- Snippet4 END -->


    <!-- Snippet5 BEGIN -->
    <div class="container">
        <h3 class="text-primary">Description Lists:(dl-attribute)</h3>
        <p><code>&lt;dl&gt; ... &lt;/dl&gt;</code></p>
    </div>
    <div class="container" id="to-copy4">
        <div class="float-right">
            <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
                onClick="CopyToClipboard('to-copy4')">
                <i class="fa fa-clone" aria-hidden="true"></i>
            </button>
        </div>
        <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;
  &lt;dl&gt;
    &lt;dt&gt;Coffee&lt;/dt&gt;
    &lt;dd&gt;- black hot drink&lt;/dd&gt;
    &lt;dt&gt;Milk&lt;/dt&gt;
    &lt;dd&gt;- white cold drink&lt;/dd&gt;
  &lt;/dl&gt;     
&lt;/div&gt;</code></pre>
    </div>

    <div class="container">
        <h3 class="text-danger">Output:</h3>&nbsp;
        <div class="container bg-white text-dark">&nbsp;
            <div class="container">
                <dl>
                    <dt>Coffee</dt>
                    <dd>- black hot drink</dd>
                    <dt>Milk</dt>
                    <dd>- white cold drink</dd>
                </dl>
            </div>&nbsp;
        </div>
    </div>
    <hr>&nbsp;
    <!-- Snippet5 END -->

    <!-- Snippet6 BEGIN -->
    <div class="container">
        <h3 class="text-primary">Code Snippets:</h3>
        <p><code>&lt;code&gt; ... &lt;/code&gt;</code></p>
    </div>
    <div class="container" id="to-copy5">
        <div class="float-right">
            <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
                onClick="CopyToClipboard('to-copy5')">
                <i class="fa fa-clone" aria-hidden="true"></i>
            </button>
        </div>
        <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;
  &lt;p&gt;The following HTML elements: &lt;code&gt;span&lt;/code&gt;, &lt;code&gt;section&lt;/code&gt;, 
  and &lt;code&gt;div&lt;/code&gt; defines a section in a document.&lt;/p&gt;
&lt;/div&gt;</code></pre>
    </div>

    <div class="container">
        <h3 class="text-danger">Output:</h3>&nbsp;
        <div class="container bg-white text-dark">&nbsp;
            <div class="container">
                <p>The following HTML elements: <code>span</code>, <code>section</code>,
                    and <code>div</code> defines a section in a document.</p>
            </div>&nbsp;
        </div>
    </div>
    <hr>&nbsp;
    <!-- Snippet6 END -->


    <!-- Snippet7 BEGIN -->
    <div class="container">
        <h3 class="text-primary">Multiple Code Lines:(pre-attribute)</h3>
        <p><code>&lt;pre&gt; ... &lt;/pre&gt;</code></p>
    </div>
    <div class="container" id="to-copy6">
        <div class="float-right">
            <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
                onClick="CopyToClipboard('to-copy6')">
                <i class="fa fa-clone" aria-hidden="true"></i>
            </button>
        </div>
        <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;
  &lt;pre&gt;
  # Python function to check whether number is even or odd 
  def evenOdd( x ): 
      if (x % 2 == 0): 
          print "even"
      else: 
          print "odd"

  evenOdd(2) 
  evenOdd(3) 
  &lt;/pre&gt;
&lt;/div&gt;</code></pre>
    </div>

    <div class="container">
        <h3 class="text-danger">Output:</h3>&nbsp;
        <div class="container bg-white text-dark">&nbsp;
            <div class="container">
                <pre>
  # Python function to check whether number is even or odd 
  def evenOdd( x ): 
      if (x % 2 == 0): 
          print "even"
      else: 
          print "odd"

  evenOdd(2) 
  evenOdd(3) 
  </pre>
            </div>
        </div>
    </div>
    <hr>&nbsp;
    <!-- Snippet7 END -->

    <!-- Snippet8 BEGIN -->
    <div class="container">
        <h3 class="text-primary">Keyboard Inputs:(kbd-attribute)</h3>
        <p><code>&lt;kbd&gt; ... &lt;/kbd&gt;</code></p>
    </div>
    <div class="container" id="to-copy7">
        <div class="float-right">
            <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
                onClick="CopyToClipboard('to-copy7')">
                <i class="fa fa-clone" aria-hidden="true"></i>
            </button>
        </div>
        <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;
  &lt;p&gt;Use &lt;kbd&gt;ctrl + p&lt;/kbd&gt; to open the Print dialog box.
  Use &lt;kbd&gt;ctrl + s&lt;/kbd&gt; to Save.&lt;/p&gt;
&lt;/div&gt;</code></pre>
    </div>

    <div class="container">
        <h3 class="text-danger">Output:</h3>&nbsp;
        <div class="container bg-white text-dark">&nbsp;
            <div class="container">
                <p>Use <kbd>ctrl + p</kbd> to open the Print dialog box.
                    Use <kbd>ctrl + s</kbd> to Save.</p>
            </div>&nbsp;
        </div>
    </div>
    <hr>&nbsp;
    <!-- Snippet8 END -->

    <!-- Snippet9 BEGIN -->
    <div class="container">
        <h3 class="text-primary">Subscript & Superscript Text</h3>
        <p><code>&lt;sub&gt; ... &lt;/sub&gt;</code> <code>&lt;sup&gt; ... &lt;/sup&gt;</code></p>
    </div>
    <div class="container" id="to-copy8">
        <div class="float-right">
            <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
                onClick="CopyToClipboard('to-copy8')">
                <i class="fa fa-clone" aria-hidden="true"></i>
            </button>
        </div>
        <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;
    &lt;p&gt;2 NaHCO&lt;sub&gt;3&lt;/sub&gt; &amp;rarr; Na&lt;sub&gt;2&lt;/sub&gt;CO&lt;sub&gt;3&lt;/sub&gt; + H&lt;sub&gt;2&lt;/sub&gt;O +CO &lt;sub&gt;2&lt;/sub&gt;&lt;/p&gt;
    &lt;p&gt;x&lt;sup&gt;3&lt;/sup&gt;+2x&lt;sup&gt;2&lt;/sup&gt;+x=0&lt;/p&gt;  
&lt;/div&gt;</code></pre>
    </div>

    <div class="container">
        <h3 class="text-danger">Output:</h3>&nbsp;
        <div class="container bg-white text-dark">&nbsp;
            <div class="container">
                <p>2 NaHCO<sub>3</sub> &rarr; Na<sub>2</sub>CO<sub>3</sub> + H<sub>2</sub>O +CO <sub>2</sub></p>
                <p>x<sup>3</sup>+2x<sup>2</sup>+x=0</p>
            </div>&nbsp;
        </div>
    </div>
    <hr>&nbsp;
    <!-- Snippet9 END -->




    <!-- Snippet10 BEGIN -->
    <div class="container">
        <h3 class="text-primary">.lead & .small</h3>
        <p><code>.lead .small</code></p>
    </div>
    <div class="container" id="to-copy9">
        <div class="float-right">
            <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
                onClick="CopyToClipboard('to-copy9')">
                <i class="fa fa-clone" aria-hidden="true"></i>
            </button>
        </div>
        <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;
  &lt;p class="lead"&gt;This paragraph with lead class.&lt;/p&gt;
  &lt;p class="small"&gt;This paragraph is smaller.&lt;/p&gt;
  &lt;p&gt;This is a regular paragraph.&lt;/p&gt;
&lt;/div&gt;</code></pre>
    </div>

    <div class="container">
        <h3 class="text-danger">Output:</h3>&nbsp;
        <div class="container bg-white text-dark">&nbsp;
            <div class="container">
                <p class="lead">This paragraph with lead class.</p>
                <p class="small">This paragraph is smaller.</p>
                <p>This is a regular paragraph.</p>
            </div>&nbsp;
        </div>
    </div>
    <hr>&nbsp;
    <!-- Snippet10 END -->

    <!-- Snippet11 BEGIN -->
    <div class="container">
        <h3 class="text-primary">Text-Alignment:</h3>
        <p><code>.text-left .text-right .text-center .text-justify .text-nowrap</code></p>
    </div>
    <div class="container" id="to-copy10">
        <div class="float-right">
            <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
                onClick="CopyToClipboard('to-copy10')">
                <i class="fa fa-clone" aria-hidden="true"></i>
            </button>
        </div>
        <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;
  &lt;p class="text-left"&gt;Left-aligned text.&lt;/p&gt;
  &lt;p class="text-right"&gt;Right-aligned text.&lt;/p&gt;      
  &lt;p class="text-center"&gt;Center-aligned text.&lt;/p&gt;
  &lt;p class="text-justify"&gt;Justified text. Justified text. 
 Justified text. Justified text.&lt;/p&gt;      
  &lt;p class="text-nowrap"&gt;No wrap text. No wrap text. No wrap text.&lt;/p&gt;
  &lt;p&gt;&lt;strong&gt;Hint:&lt;/strong&gt; Try to resize the browser window to see the behaviour of justify and nowrap.&lt;/p&gt;      
&lt;/div&gt;</code></pre>
    </div>

    <div class="container">
        <h3 class="text-danger">Output:</h3>&nbsp;
        <div class="container bg-white text-dark">&nbsp;
            <div class="container">
                <p class="text-left">Left-aligned text.</p>
                <p class="text-right">Right-aligned text.</p>
                <p class="text-center">Center-aligned text.</p>
                <p class="text-justify">Justified text. Justified text.
                    Justified text. Justified text.</p>
                <p class="text-nowrap">No wrap text. No wrap text. No wrap text.</p>
                <p><strong>Hint:</strong> Try to resize the browser window to see the behaviour of justify and nowrap.
                </p>
            </div>&nbsp;
        </div>
    </div>
    <hr>&nbsp;
    <!-- Snippet11 END -->



    <!-- Snippet12 BEGIN -->
    <div class="container">
        <h3 class="text-primary">Font weight & italics</h3>
        <p><code>.font-weight-bold .font-weight-bolder .font-weight-normal .font-weight-light .font-weight-lighter .font-italic</code>
        </p>
    </div>&nbsp;
    <div class="container" id="to-copy11">
        <div class="float-right">
            <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
                onClick="CopyToClipboard('to-copy11')">
                <i class="fa fa-clone" aria-hidden="true"></i>
            </button>
        </div>
        <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;
  &lt;p class="font-weight-bold"&gt;Bold text.&lt;/p&gt;
  &lt;p class="font-weight-bolder"&gt;Bolder text.&lt;/p&gt;
  &lt;p class="font-weight-normal"&gt;Normal weight text.&lt;/p&gt;
  &lt;p class="font-weight-light"&gt;Light weight text.&lt;/p&gt;
  &lt;p class="font-weight-lighter"&gt;Lighter weight text.&lt;/p&gt;
  &lt;p class="font-italic"&gt;Italic text.&lt;/p&gt;
&lt;/div&gt;</code></pre>
    </div>

    <div class="container">
        <h3 class="text-danger">Output:</h3>&nbsp;
        <div class="container bg-white text-dark">&nbsp;
            <div class="container">
                <p class="font-weight-bold">Bold text.</p>
                <p class="font-weight-bolder">Bolder text.</p>
                <p class="font-weight-normal">Normal weight text.</p>
                <p class="font-weight-light">Light weight text.</p>
                <p class="font-weight-lighter">Lighter weight text.</p>
                <p class="font-italic">Italic text.</p>
            </div>&nbsp;
        </div>
    </div>
    <hr>&nbsp;
    <!-- Snippet12 END -->



</div>