/* Smooth scroll Begin */

html {
  scroll-behavior: smooth;
}

/* Smooth scroll End  */

.main-bg {
  background-color: #f9461c;
}

.main-color {
  color: #f9461c;
}

/* Move to top cursor Effects Begin */

#myBtn {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 99;
  background-color: #f02f04;
  border: oldlace;
  border-radius: 50%;
  color: white;
  padding: 4px 11px;
  font-size: 15px;
  cursor: pointer;
}

/* Move to top cursor Effects End */
