&nbsp;
<div class=" bg-light   mt-3">
    <h1 class="display-1 text-success">Hello </h1>
    <h2 class="text-primary" id="time"></h2>
    <br><br>
    <br><br>
    <br><br>

</div>
<script>
    $(document).ready(function (){
        let date = new Date();
    newDate = date.toLocaleString('en-US')
    document.getElementById('time').innerHTML= newDate;
    })
</script>