<div class="container">&nbsp;
  <!-- Snippet1 BEGIN -->
  <div class="container">
    <h3 class="text-primary">Alerts:</h3>
    <p><code>.alert .alert-primary .alert-success .alert-info .alert-warning .alert-danger
        .alert-secondary  .alert-dark .alert-light
    </code></p>
  </div>
  <div class="container" id="to-copy">
    <div class="float-right">
      <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
        onClick="CopyToClipboard('to-copy')">
        <i class="fa fa-clone" aria-hidden="true"></i>
      </button>
    </div>
    <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;
  &lt;div class="alert alert-success"&gt;
    &lt;strong&gt;Success!&lt;/strong&gt; This alert box could indicate a successful or positive action.
  &lt;/div&gt;
  &lt;div class="alert alert-info"&gt;
    &lt;strong&gt;Info!&lt;/strong&gt; This alert box could indicate a neutral informative change or action.
  &lt;/div&gt;
  &lt;div class="alert alert-warning"&gt;
    &lt;strong&gt;Warning!&lt;/strong&gt; This alert box could indicate a warning that might need attention.
  &lt;/div&gt;
  &lt;div class="alert alert-danger"&gt;
    &lt;strong&gt;Danger!&lt;/strong&gt; This alert box could indicate a dangerous or potentially negative action.
  &lt;/div&gt;
  &lt;div class="alert alert-primary"&gt;
    &lt;strong&gt;Primary!&lt;/strong&gt; Indicates an important action.
  &lt;/div&gt;
  &lt;div class="alert alert-secondary"&gt;
    &lt;strong&gt;Secondary!&lt;/strong&gt; Indicates a slightly less important action.
  &lt;/div&gt;
  &lt;div class="alert alert-dark"&gt;
    &lt;strong&gt;Dark!&lt;/strong&gt; Dark grey alert.
  &lt;/div&gt;
  &lt;div class="alert alert-light"&gt;
    &lt;strong&gt;Light!&lt;/strong&gt; Light grey alert.
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
  </div>

  <div class="container">
    <h3 class="text-danger">Output:</h3>&nbsp;
    <div class="container bg-white text-dark">&nbsp;
      <div class="container">
        <div class="alert alert-success">
          <strong>Success!</strong> This alert box could indicate a successful or positive action.
        </div>
        <div class="alert alert-info">
          <strong>Info!</strong> This alert box could indicate a neutral informative change or action.
        </div>
        <div class="alert alert-warning">
          <strong>Warning!</strong> This alert box could indicate a warning that might need attention.
        </div>
        <div class="alert alert-danger">
          <strong>Danger!</strong> This alert box could indicate a dangerous or potentially negative action.
        </div>
        <div class="alert alert-primary">
          <strong>Primary!</strong> Indicates an important action.
        </div>
        <div class="alert alert-secondary">
          <strong>Secondary!</strong> Indicates a slightly less important action.
        </div>
        <div class="alert alert-dark">
          <strong>Dark!</strong> Dark grey alert.
        </div>
        <div class="alert alert-light">
          <strong>Light!</strong> Light grey alert.
        </div>
      </div>&nbsp;
    </div>
  </div>
  <hr>&nbsp;
  <!-- Snippet1 END -->

  <!-- Snippet2 BEGIN -->
  <div class="container">
    <h3 class="text-primary">Alert Links:</h3>
    <p><code>.alert-link </code></p>
  </div>
  <div class="container" id="to-copy1">
    <div class="float-right">
      <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
        onClick="CopyToClipboard('to-copy1')">
        <i class="fa fa-clone" aria-hidden="true"></i>
      </button>
    </div>
    <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;
  &lt;div class="alert alert-success"&gt;
    &lt;strong&gt;Success!&lt;/strong&gt; You should &lt;a href="#" class="alert-link"&gt;read this message&lt;/a&gt;.
  &lt;/div&gt;
  &lt;div class="alert alert-info"&gt;
    &lt;strong&gt;Info!&lt;/strong&gt; You should &lt;a href="#" class="alert-link"&gt;read this message&lt;/a&gt;.
  &lt;/div&gt;
  &lt;div class="alert alert-warning"&gt;
    &lt;strong&gt;Warning!&lt;/strong&gt; You should &lt;a href="#" class="alert-link"&gt;read this message&lt;/a&gt;.
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
  </div>

  <div class="container">
    <h3 class="text-danger">Output:</h3>&nbsp;
    <div class="container bg-white text-dark">&nbsp;
      <div class="container">
        <div class="alert alert-success">
          <strong>Success!</strong> You should <a href="#" class="alert-link">read this message</a>.
        </div>
        <div class="alert alert-info">
          <strong>Info!</strong> You should <a href="#" class="alert-link">read this message</a>.
        </div>
        <div class="alert alert-warning">
          <strong>Warning!</strong> You should <a href="#" class="alert-link">read this message</a>.
        </div>
      </div>&nbsp;
    </div>
  </div>
  <hr>&nbsp;

  <!-- Snippet2 END -->


  <!-- Snippet3 BEGIN -->
  <div class="container">
    <h3 class="text-primary"> Closing Alerts:</h3>
    <p><code>.alert-dismissible class="close" and data-dismiss="alert"</code></p>
  </div>
  <div class="container" id="to-copy2">
    <div class="float-right">
      <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
        onClick="CopyToClipboard('to-copy2')">
        <i class="fa fa-clone" aria-hidden="true"></i>
      </button>
    </div>
    <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;
  &lt;div class="alert alert-success alert-dismissible"&gt;
    &lt;button type="button" class="close" data-dismiss="alert"&gt;&amp;times;&lt;/button&gt;
    &lt;strong&gt;Success!&lt;/strong&gt; This alert box could indicate a successful or positive action.
  &lt;/div&gt;
  &lt;div class="alert alert-info alert-dismissible"&gt;
    &lt;button type="button" class="close" data-dismiss="alert"&gt;&amp;times;&lt;/button&gt;
    &lt;strong&gt;Info!&lt;/strong&gt; This alert box could indicate a neutral informative change or action.
  &lt;/div&gt;
  &lt;div class="alert alert-warning alert-dismissible"&gt;
    &lt;button type="button" class="close" data-dismiss="alert"&gt;&amp;times;&lt;/button&gt;
    &lt;strong&gt;Warning!&lt;/strong&gt; This alert box could indicate a warning that might need attention.
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
  </div>

  <div class="container">
    <h3 class="text-danger">Output:</h3>&nbsp;
    <div class="container bg-white text-dark">&nbsp;
      <div class="container">
        <div class="alert alert-success alert-dismissible">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Success!</strong> This alert box could indicate a successful or positive action.
        </div>
        <div class="alert alert-info alert-dismissible">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Info!</strong> This alert box could indicate a neutral informative change or action.
        </div>
        <div class="alert alert-warning alert-dismissible">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Warning!</strong> This alert box could indicate a warning that might need attention.
        </div>
      </div>&nbsp;
    </div>
  </div>
  <hr>&nbsp;

  <!-- Snippet3 END -->


  <!-- Snippet4 BEGIN -->
  <div class="container">
    <h3 class="text-primary">Animated Alerts:</h3>
    <p><code>.fade .show</code></p>
  </div>
  <div class="container" id="to-copy3">
    <div class="float-right">
      <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
        onClick="CopyToClipboard('to-copy3')">
        <i class="fa fa-clone" aria-hidden="true"></i>
      </button>
    </div>
    <pre><code class="html">{{> _dots}}
  &lt;div class="container"&gt;
    &lt;div class="alert alert-success alert-dismissible fade show"&gt;
      &lt;button type="button" class="close" data-dismiss="alert"&gt;&amp;times;&lt;/button&gt;
      &lt;strong&gt;Success!&lt;/strong&gt; This alert box could indicate a successful or positive action.
    &lt;/div&gt;
    &lt;div class="alert alert-info alert-dismissible fade show"&gt;
      &lt;button type="button" class="close" data-dismiss="alert"&gt;&amp;times;&lt;/button&gt;
      &lt;strong&gt;Info!&lt;/strong&gt; This alert box could indicate a neutral informative change or action.
    &lt;/div&gt;
  &lt;/div&gt;</code></pre>
  </div>
  
  <div class="container">
    <h3 class="text-danger">Output:</h3>&nbsp;
    <div class="container bg-white text-dark">&nbsp;
      <div class="container">
        <div class="alert alert-success alert-dismissible fade show">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Success!</strong> This alert box could indicate a successful or positive action.
        </div>
        <div class="alert alert-info alert-dismissible fade show">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Info!</strong> This alert box could indicate a neutral informative change or action.
        </div>
      </div>&nbsp;
    </div>
  </div>
  <hr>&nbsp;
  
  <!-- Snippet4 END -->


</div>