<div class="container">
    <h3 class="text-primary">Bootstrap 4 CDN:</h3>
</div>


<!-- Snippet1 BEGIN -->

<div class="container" id="to-copy">
    <div class="float-right">
        <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
            onClick="CopyToClipboard('to-copy')">
            <i class="fa fa-clone" aria-hidden="true"></i>
        </button>
    </div>
    <pre><code class="html">{{> _dots}}
&lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;
&lt;head&gt;
    &lt;title&gt;Snippets&lt;/title&gt;
    &lt;meta charset="utf-8"&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1"&gt;
    &lt;link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"&gt;
    &lt;script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"&gt;&lt;/script&gt;
    &lt;script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"&gt;&lt;/script&gt;
    &lt;script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;div class="container bg-dark"&gt;
        &lt;p&gt;Basic Bootstrap CDN&lt;/p&gt;
    &lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>
</div>

<div class="container">
    <h3 class="text-danger">Output:</h3>
    <div class="container bg-dark text-center text-white ">
        <p>Basic Bootstrap CDN</p>
    </div>
</div>
<hr>&nbsp;

<!-- Snippet1 END -->
</div>