<div class="container overflow-auto mb-5">
    <div class="container text-center mb-5">&nbsp;
        <h1 class="display-1"><span class="badge badge-danger">Invalid Request</span></h1>
    </div>
    <div class="container text-center">
        <h1 class="display-2 text-secondary"> Sorry ! Page Not Found</h1>
        <h1 class="display-4 text-danger"> Error 404 </h1>
    </div>
</div>