<div class="container">&nbsp;
  <!-- Snippet1 BEGIN -->
  <div class="container">
    <h3 class="text-primary">Stacked Form:</h3>
    <p>
      <code>.form-group</code>
    </p>
  </div>
  <div class="container" id="to-copy">
    <div class="float-right">
      <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
        onClick="CopyToClipboard('to-copy')">
        <i class="fa fa-clone" aria-hidden="true"></i>
      </button>
    </div>
    <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;
  &lt;form action="/action_page.php"&gt;
    &lt;div class="form-group"&gt;
      &lt;label for="email"&gt;Email:&lt;/label&gt;
      &lt;input type="email" class="form-control" id="email" placeholder="Enter email" name="email"&gt;
    &lt;/div&gt;
    &lt;div class="form-group"&gt;
      &lt;label for="pwd"&gt;Password:&lt;/label&gt;
      &lt;input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd"&gt;
      &lt;/div&gt;
    &lt;div class="form-group form-check"&gt;
      &lt;label class="form-check-label"&gt;
      &lt;input class="form-check-input" type="checkbox" name="remember"&gt; Remember me
      &lt;/label&gt;
    &lt;/div&gt;
  &lt;button type="submit" class="btn btn-primary"&gt;Submit&lt;/button&gt;
  &lt;/form&gt;
&lt;/div&gt;</code></pre>
  </div>

  <div class="container">
    <h3 class="text-danger">Output:</h3>&nbsp;
    <div class="container bg-white text-dark">&nbsp;
      <div class="container">
        <form action="">
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
          </div>
          <div class="form-group form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" name="remember"> Remember me
            </label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>&nbsp;
    </div>
  </div>
  <hr>&nbsp;

  <!-- Snippet1 END -->


  <!-- Snippet2 BEGIN -->
  <div class="container">
    <h3 class="text-primary">Inline Form with Utilities:</h3>
    <p><code>.form-inline to the &lt;form &gt; .mr-sm-2 .mb-2</code></p>
  </div>
  <div class="container" id="to-copy1">
    <div class="float-right">
      <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
        onClick="CopyToClipboard('to-copy1')">
        <i class="fa fa-clone" aria-hidden="true"></i>
      </button>
    </div>
    <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;
  &lt;form class="form-inline" action="/action_page.php"&gt;
    &lt;label for="email2" class="mb-2 mr-sm-2"&gt;Email:&lt;/label&gt;
    &lt;input type="text" class="form-control mb-2 mr-sm-2" id="email2" placeholder="Enter email" name="email"&gt;
    &lt;label for="pwd2" class="mb-2 mr-sm-2"&gt;Password:&lt;/label&gt;
    &lt;input type="text" class="form-control mb-2 mr-sm-2" id="pwd2" placeholder="Enter password" name="pswd"&gt;
    &lt;div class="form-check mb-2 mr-sm-2"&gt;
      &lt;label class="form-check-label"&gt;
        &lt;input type="checkbox" class="form-check-input" name="remember"&gt; Remember me
      &lt;/label&gt;
    &lt;/div&gt;    
  &lt;button type="submit" class="btn btn-primary mb-2"&gt;Submit&lt;/button&gt;
  &lt;/form&gt;
&lt;/div&gt;</code></pre>
  </div>

  <div class="container">
    <h3 class="text-danger">Output:</h3>&nbsp;
    <div class="container bg-white text-dark">&nbsp;
      <div class="container">
        <form class="form-inline" action="">
          <label for="email2" class="mb-2 mr-sm-2">Email:</label>
          <input type="text" class="form-control mb-2 mr-sm-2" id="email2" placeholder="Enter email" name="email">
          <label for="pwd2" class="mb-2 mr-sm-2">Password:</label>
          <input type="text" class="form-control mb-2 mr-sm-2" id="pwd2" placeholder="Enter password" name="pswd">
          <div class="form-check mb-2 mr-sm-2">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="remember"> Remember me
            </label>
          </div>
          <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </form>
      </div>&nbsp;
    </div>
  </div>
  <hr>&nbsp;
  <!-- Snippet2 END -->



  <!-- Snippet3 BEGIN -->
  <div class="container">
    <h3 class="text-primary">Form Validation:</h3>
    <p><code>.was-validated  || .valid-feedback or .invalid-feedback</code></p>
  </div>
  <div class="container" id="to-copy2">
    <div class="float-right">
      <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
        onClick="CopyToClipboard('to-copy2')">
        <i class="fa fa-clone" aria-hidden="true"></i>
      </button>
    </div>
    <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;
  &lt;form action="/action_page.php" class="was-validated"&gt;
    &lt;div class="form-group"&gt;
      &lt;label for="uname"&gt;Username:&lt;/label&gt;
      &lt;input type="text" class="form-control" id="uname" placeholder="Enter username" name="uname" required&gt;
      &lt;div class="valid-feedback"&gt;Valid.&lt;/div&gt;
      &lt;div class="invalid-feedback"&gt;Please fill out this field.&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="form-group"&gt;
      &lt;label for="pwd"&gt;Password:&lt;/label&gt;
      &lt;input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" required&gt;
      &lt;div class="valid-feedback"&gt;Valid.&lt;/div&gt;
      &lt;div class="invalid-feedback"&gt;Please fill out this field.&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="form-group form-check"&gt;
      &lt;label class="form-check-label"&gt;
        &lt;input class="form-check-input" type="checkbox" name="remember" required&gt; I agree on blabla.
        &lt;div class="valid-feedback"&gt;Valid.&lt;/div&gt;
        &lt;div class="invalid-feedback"&gt;Check this checkbox to continue.&lt;/div&gt;
      &lt;/label&gt;
    &lt;/div&gt;
    &lt;button type="submit" class="btn btn-primary"&gt;Submit&lt;/button&gt;
  &lt;/form&gt;
&lt;/div&gt;
</code></pre>
  </div>

  <div class="container">
    <h3 class="text-danger">Output:</h3>&nbsp;
    <div class="container bg-white text-dark">&nbsp;
      <div class="container">
        <form action="" class="was-validated">
          <div class="form-group">
            <label for="uname">Username:</label>
            <input type="text" class="form-control" id="uname" placeholder="Enter username" name="uname" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
          </div>
          <div class="form-group form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" name="remember" required> I agree on blabla.
              <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">Check this checkbox to continue.</div>
            </label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>&nbsp;
    </div>
  </div>
  <hr>&nbsp;
  <!-- Snippet3 END -->


  <!-- Snippet4 BEGIN -->
  <div class="container">
    <h3 class="text-primary">Form Validation:</h3>
    <p><code>.needs-validation || .valid-feedback or .invalid-feedback</code></p>
  </div>
  <div class="container" id="to-copy3">
    <div class="float-right">
      <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
        onClick="CopyToClipboard('to-copy3')">
        <i class="fa fa-clone" aria-hidden="true"></i>
      </button>
    </div>
    <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;
  &lt;form action="/action_page.php" class="needs-validation" novalidate&gt;
    &lt;div class="form-group"&gt;
      &lt;label for="uname"&gt;Username:&lt;/label&gt;
      &lt;input type="text" class="form-control" id="uname" placeholder="Enter username" name="uname" required&gt;
      &lt;div class="valid-feedback"&gt;Valid.&lt;/div&gt;
      &lt;div class="invalid-feedback"&gt;Please fill out this field.&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="form-group"&gt;
      &lt;label for="pwd"&gt;Password:&lt;/label&gt;
      &lt;input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" required&gt;
      &lt;div class="valid-feedback"&gt;Valid.&lt;/div&gt;
      &lt;div class="invalid-feedback"&gt;Please fill out this field.&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="form-group form-check"&gt;
      &lt;label class="form-check-label"&gt;
        &lt;input class="form-check-input" type="checkbox" name="remember" required&gt; I agree on blabla.
        &lt;div class="valid-feedback"&gt;Valid.&lt;/div&gt;
        &lt;div class="invalid-feedback"&gt;Check this checkbox to continue.&lt;/div&gt;
      &lt;/label&gt;
    &lt;/div&gt;
    &lt;button type="submit" class="btn btn-primary"&gt;Submit&lt;/button&gt;
  &lt;/form&gt;
&lt;/div&gt;

&lt;script&gt;
// Disable form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Get the forms we want to add validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
&lt;/script&gt;</code></pre>
  </div>

  <div class="container">
    <h3 class="text-danger">Output:</h3>&nbsp;
    <div class="container bg-white text-dark">&nbsp;
      <div class="container">
        <form action="" class="needs-validation" novalidate>
          <div class="form-group">
            <label for="uname">Username:</label>
            <input type="text" class="form-control" id="uname" placeholder="Enter username" name="uname" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
          </div>
          <div class="form-group form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" name="remember" required> I agree on T & C.
              <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">Check this checkbox to continue.</div>
            </label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      
      <script>
        // Disable form submissions if there are invalid fields
        (function () {
          'use strict';
          window.addEventListener('load', function () {
            // Get the forms we want to add validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
              form.addEventListener('submit', function (event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add('was-validated');
              }, false);
            });
          }, false);
        })();
      </script>&nbsp;
    </div>
  </div>&nbsp;
  <hr><hr>
  <!-- Snippet4 END -->
    <h1 class="text-success text-center">Custom Form Elements :</h1>
  <hr>
  <hr>


  <!-- Snippet5 BEGIN -->
  <div class="container">
    <h3 class="text-primary">Custom Checkbox :</h3>
    <p><code>.custom-control and .custom-checkbox .custom-control-input to type=".custom-control-input  || .custom-control-label"</code></p>
  </div>
  <div class="container" id="to-copy4">
    <div class="float-right">
      <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
        onClick="CopyToClipboard('to-copy4')">
        <i class="fa fa-clone" aria-hidden="true"></i>
      </button>
    </div>
    <pre><code class="html">{{> _dots}}
&lt;div class="container mt-3"&gt;
  &lt;form action="/action_page.php"&gt;
    &lt;div class="custom-control custom-checkbox mb-3"&gt;
      &lt;input type="checkbox" class="custom-control-input" id="customCheck" name="example1"&gt;
      &lt;label class="custom-control-label" for="customCheck"&gt;Custom checkbox&lt;/label&gt;
    &lt;/div&gt;
    &lt;input type="checkbox" id="defaultCheck" name="example2"&gt;
    &lt;label for="defaultCheck"&gt;Default checkbox&lt;/label&gt;
    &lt;br&gt;
    &lt;button type="submit" class="btn btn-primary"&gt;Submit&lt;/button&gt;
  &lt;/form&gt;
&lt;/div&gt;</code></pre>
  </div>

  <div class="container">
    <h3 class="text-danger">Output:</h3>&nbsp;
    <div class="container bg-white text-center">&nbsp;
      <div class="container mt-3">
        <form action="">
          <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
            <label class="custom-control-label" for="customCheck">Custom checkbox</label>
          </div>
          <input type="checkbox" id="defaultCheck" name="example2">
          <label for="defaultCheck">Default checkbox</label>
          <br>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>&nbsp;
    </div>
  </div>
  <hr>&nbsp;
  <!-- Snippet5 END -->

  <!-- Snippet6 BEGIN -->
  <div class="container">
    <h3 class="text-primary">Custom Switch (Toggle Switch):</h3>
    <p><code>.custom-control .custom-switch .custom-control-input</code></p>
  </div>
  <div class="container" id="to-copy5">
    <div class="float-right">
      <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
        onClick="CopyToClipboard('to-copy5')">
        <i class="fa fa-clone" aria-hidden="true"></i>
      </button>
    </div>
    <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;                 
  &lt;form action="/action_page.php"&gt;
    &lt;div class="custom-control custom-switch"&gt;
      &lt;input type="checkbox" class="custom-control-input" id="switch1" name="example"&gt;
      &lt;label class="custom-control-label" for="switch1"&gt;Toggle me&lt;/label&gt;
    &lt;/div&gt;
    &lt;br&gt;
    &lt;button type="submit" class="btn btn-primary"&gt;Submit&lt;/button&gt;
  &lt;/form&gt;
&lt;/div&gt;</code></pre>
  </div>

  <div class="container">
    <h3 class="text-danger">Output:</h3>&nbsp;
    <div class="container bg-white text-center">&nbsp;
      <div class="container">
        <form action="">
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="switch1" name="example">
            <label class="custom-control-label" for="switch1">Toggle me</label>
          </div>
          <br>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>&nbsp;
    </div>
  </div>
  <hr>&nbsp;
  <!-- Snippet6 END -->


  <!-- Snippet7 BEGIN -->
  <div class="container">
    <h3 class="text-primary">Custom Radio buttons :</h3>
    <p><code>.custom-control .custom-radio .custom-control-input  to  input with type="radio". || .custom-control-label</code></p>
  </div>
  <div class="container" id="to-copy6">
    <div class="float-right">
      <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
        onClick="CopyToClipboard('to-copy6')">
        <i class="fa fa-clone" aria-hidden="true"></i>
      </button>
    </div>
    <pre><code class="html">{{> _dots}}
&lt;div class="container mt-3"&gt;
  &lt;form action="/action_page.php"&gt;
    &lt;div class="custom-control custom-radio"&gt;
      &lt;input type="radio" class="custom-control-input" id="customRadio" name="example1"&gt;
      &lt;label class="custom-control-label" for="customRadio"&gt;Custom radio&lt;/label&gt;
    &lt;/div&gt;    
    &lt;input type="radio" id="defaultRadio" name="example2"&gt;
    &lt;label for="defaultRadio"&gt;Default radio&lt;/label&gt;
    &lt;br&gt;
    &lt;button type="submit" class="btn btn-primary"&gt;Submit&lt;/button&gt;
  &lt;/form&gt;
&lt;/div&gt;</code></pre>
  </div>

  <div class="container">
    <h3 class="text-danger">Output:</h3>&nbsp;
    <div class="container bg-white text-center">&nbsp;
      <div class="container mt-3">
        <form action="">
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="customRadio" name="example1">
            <label class="custom-control-label" for="customRadio">Custom radio</label>
          </div>
          <input type="radio" id="defaultRadio" name="example2">
          <label for="defaultRadio">Default radio</label>
          <br>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>&nbsp;
    </div>
  </div>
  <hr>&nbsp;
  <!-- Snippet7 END -->

  <!-- Snippet8 BEGIN -->
  <div class="container">
    <h3 class="text-primary">Inline Custom Form Controls :</h3>
    <p><code>.custom-control-inline</code></p>
  </div>
  <div class="container" id="to-copy7">
    <div class="float-right">
      <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
        onClick="CopyToClipboard('to-copy7')">
        <i class="fa fa-clone" aria-hidden="true"></i>
      </button>
    </div>
    <pre><code class="html">{{> _dots}}
&lt;div class="container mt-3"&gt;
  &lt;form action="/action_page.php"&gt;
    &lt;div class="custom-control custom-radio custom-control-inline"&gt;
      &lt;input type="radio" class="custom-control-input" id="customRadio1" name="example1"&gt;
      &lt;label class="custom-control-label" for="customRadio1"&gt;Custom radio&lt;/label&gt;
    &lt;/div&gt;
    &lt;div class="custom-control custom-radio custom-control-inline"&gt;
      &lt;input type="radio" class="custom-control-input" id="customRadio2" name="example2"&gt;
      &lt;label class="custom-control-label" for="customRadio2"&gt;Custom radio&lt;/label&gt;
    &lt;/div&gt;
    &lt;button type="submit" class="btn btn-primary"&gt;Submit&lt;/button&gt;
  &lt;/form&gt;
&lt;/div&gt;</code></pre>
  </div>

  <div class="container">
    <h3 class="text-danger">Output:</h3>&nbsp;
    <div class="container bg-white text-center">&nbsp;
      <div class="container mt-3">
        <form action="">
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="customRadio1" name="example1">
            <label class="custom-control-label" for="customRadio1">Custom radio</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="customRadio2" name="example2">
            <label class="custom-control-label" for="customRadio2">Custom radio</label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>&nbsp;
    </div>
  </div>
  <hr>&nbsp;
  <!-- Snippet8 END -->

  <!-- Snippet9 BEGIN -->
  <div class="container">
    <h3 class="text-primary">Custom Select Menu :</h3>
    <p><code>.custom-select</code></p>
  </div>
  <div class="container" id="to-copy8">
    <div class="float-right">
      <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
        onClick="CopyToClipboard('to-copy8')">
        <i class="fa fa-clone" aria-hidden="true"></i>
      </button>
    </div>
    <pre><code class="html">{{> _dots}}
&lt;div class="container mt-3"&gt;
  &lt;form action="/action_page.php"&gt;
    &lt;select name="cars" class="custom-select mb-3"&gt;
      &lt;option selected&gt;Custom Select Menu&lt;/option&gt;
      &lt;option value="volvo"&gt;Volvo&lt;/option&gt;
      &lt;option value="fiat"&gt;Fiat&lt;/option&gt;
      &lt;option value="audi"&gt;Audi&lt;/option&gt;
    &lt;/select&gt;
    &lt;button type="submit" class="btn btn-primary"&gt;Submit&lt;/button&gt;
  &lt;/form&gt;
&lt;/div&gt;</code></pre>
  </div>

  <div class="container">
    <h3 class="text-danger">Output:</h3>&nbsp;
    <div class="container bg-white text-center">&nbsp;
      <div class="container mt-3">
        <form action="">
          <select name="cars" class="custom-select mb-3">
            <option selected>Custom Select Cars Menu</option>
            <option value="volvo">Volvo</option>
            <option value="fiat">Fiat</option>
            <option value="audi">Audi</option>
          </select>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>&nbsp;
    </div>
  </div>
  <hr>&nbsp;
  <!-- Snippet9 END -->




  <!-- Snippet10 BEGIN -->
  <div class="container">
    <h3 class="text-primary">Custom Select Menu Size</h3>
    <p><code>.custom-select-sm || .custom-select-lg</code></p>
  </div>
  <div class="container" id="to-copy9">
    <div class="float-right">
      <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
        onClick="CopyToClipboard('to-copy9')">
        <i class="fa fa-clone" aria-hidden="true"></i>
      </button>
    </div>
    <pre><code class="html">{{> _dots}}
&lt;div class="container mt-3"&gt;
  &lt;form&gt;
    &lt;select class="custom-select custom-select-sm mb-3"&gt;
      &lt;option selected&gt;Small Custom Select Menu&lt;/option&gt;
      &lt;option value="volvo"&gt;Volvo&lt;/option&gt;
      &lt;option value="fiat"&gt;Fiat&lt;/option&gt;
      &lt;option value="audi"&gt;Audi&lt;/option&gt;
    &lt;/select&gt;
    &lt;select name="cars" class="custom-select mb-3"&gt;
      &lt;option selected&gt;Default Custom Select Menu&lt;/option&gt;
      &lt;option value="volvo"&gt;Volvo&lt;/option&gt;
      &lt;option value="fiat"&gt;Fiat&lt;/option&gt;
      &lt;option value="audi"&gt;Audi&lt;/option&gt;
    &lt;/select&gt;
    &lt;select name="cars" class="custom-select custom-select-lg mb-3"&gt;
      &lt;option selected&gt;Large Custom Select Menu&lt;/option&gt;
      &lt;option value="volvo"&gt;Volvo&lt;/option&gt;
      &lt;option value="fiat"&gt;Fiat&lt;/option&gt;
      &lt;option value="audi"&gt;Audi&lt;/option&gt;
    &lt;/select&gt;
  &lt;/form&gt;
&lt;/div&gt;</code></pre>
  </div>

  <div class="container">
    <h3 class="text-danger">Output:</h3>&nbsp;
    <div class="container bg-white text-dark">&nbsp;
      <div class="container mt-3">
        <form>
          <select class="custom-select custom-select-sm mb-3">
            <option selected>Small Custom Select Menu</option>
            <option value="volvo">Volvo</option>
            <option value="fiat">Fiat</option>
            <option value="audi">Audi</option>
          </select>
          <select name="cars" class="custom-select mb-3">
            <option selected>Default Custom Select Menu</option>
            <option value="volvo">Volvo</option>
            <option value="fiat">Fiat</option>
            <option value="audi">Audi</option>
          </select>
          <select name="cars" class="custom-select custom-select-lg mb-3">
            <option selected>Large Custom Select Menu</option>
            <option value="volvo">Volvo</option>
            <option value="fiat">Fiat</option>
            <option value="audi">Audi</option>
          </select>
        </form>
      </div>&nbsp;
    </div>
  </div>
  <hr>&nbsp;
  <!-- Snippet10 END -->

  <!-- Snippet11 BEGIN -->
  <div class="container">
    <h3 class="text-primary">Custom Range :</h3>
    <p><code> .custom-range to an input with type="&lt;range&gt;"</code></p>
  </div>
  <div class="container" id="to-copy10">
    <div class="float-right">
      <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
        onClick="CopyToClipboard('to-copy10')">
        <i class="fa fa-clone" aria-hidden="true"></i>
      </button>
    </div>
    <pre><code class="html">{{> _dots}}
&lt;div class="container mt-3"&gt;
  &lt;form action="/action_page.php"&gt;
    &lt;label for="customRange"&gt;Custom range&lt;/label&gt;
    &lt;input type="range" class="custom-range" id="customRange" name="points1"&gt;
    &lt;label for="defaultRange"&gt;Default range&lt;/label&gt;
    &lt;input type="range" id="defaultRange" name="points2"&gt;
    &lt;p&gt;&lt;button type="submit" class="btn btn-primary"&gt;Submit&lt;/button&gt;&lt;/p&gt;
  &lt;/form&gt;
&lt;/div&gt;</code></pre>
  </div>

  <div class="container">
    <h3 class="text-danger">Output:</h3>&nbsp;
    <div class="container bg-white text-center">&nbsp;
      <div class="container mt-3">
        <form action="">
          <label for="customRange">Custom range</label>
          <input type="range" class="custom-range" id="customRange" name="points1">
        </form><br>
        <label for="defaultRange">Default range</label><br>
        <input type="range" id="defaultRange" name="points2">
        <p><button type="submit" class="btn btn-primary">Submit</button></p>
      </div>&nbsp;
    </div>
  </div>
  <hr>&nbsp;
  <!-- Snippet11 END -->



  <!-- Snippet12 BEGIN -->
  <div class="container">
    <h3 class="text-primary">Custom File Upload :</h3>
    <p>
      <code>.custom-file to input with type="file" .custom-control-input || .custom-control-label</code>
    </p>
  </div>
  <div class="container" id="to-copy11">
    <div class="float-right">
      <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
        onClick="CopyToClipboard('to-copy11')">
        <i class="fa fa-clone" aria-hidden="true"></i>
      </button>
    </div>
    <pre><code class="html">{{> _dots}}
&lt;div class="container mt-3"&gt;
  &lt;form action="/action_page.php"&gt;
    &lt;p&gt;Custom file:&lt;/p&gt;
    &lt;div class="custom-file mb-3"&gt;
      &lt;input type="file" class="custom-file-input" id="customFile" name="filename"&gt;
      &lt;label class="custom-file-label" for="customFile"&gt;Choose file&lt;/label&gt;
    &lt;/div&gt;
    
    &lt;p&gt;Default file:&lt;/p&gt;
    &lt;input type="file" id="myFile" name="filename2"&gt;
  
    &lt;div class="mt-3"&gt;
      &lt;button type="submit" class="btn btn-primary"&gt;Submit&lt;/button&gt;
    &lt;/div&gt;
  &lt;/form&gt;
&lt;/div&gt;

&lt;script&gt;
// Add the following code if you want the name of the file appear on select
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
&lt;/script&gt;</code></pre>
  </div>

  <div class="container">
    <h3 class="text-danger">Output:</h3>&nbsp;
    <div class="container bg-white text-dark">&nbsp;
      <div class="container mt-3">
        <form action="">
          <p>Custom file:</p>
          <div class="custom-file mb-3">
            <input type="file" class="custom-file-input" id="customFile" name="filename">
            <label class="custom-file-label" for="customFile">Choose file</label>
          </div>
      
          <p>Default file:</p>
          <input type="file" id="myFile" name="filename2">
      
          <div class="mt-3">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
      
      <script>
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
          var fileName = $(this).val().split("\\").pop();
          $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
      </script>&nbsp;
    </div>
  </div>
  <hr>&nbsp;
  <!-- Snippet12 END -->
</div>