<div class="container">&nbsp;
  <!-- Snippet1 BEGIN -->
  <div class="container">
    <h3 class="text-primary">Images Shapes:</h3>
    <p><code>.rounded .rounded-circle .img-thumbnail </code></p>
  </div>
  <div class="container" id="to-copy">
    <div class="float-right">
      <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
        onClick="CopyToClipboard('to-copy')">
        <i class="fa fa-clone" aria-hidden="true"></i>
      </button>
    </div>
    <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;
  &lt;img src="duck.png" class="rounded" alt="Cinque Terre" width="300" height="230"&gt;
  &lt;img src="duck.png" class="rounded-circle" alt="Cinque Terre" width="300" height="230"&gt;
  &lt;img src="duck.png" class="img-thumbnail" alt="Cinque Terre" width="300" height="230"&gt;
&lt;/div&gt;</code></pre>
  </div>

  <div class="container">
    <h3 class="text-danger">Output:</h3>&nbsp;
    <div class="container bg-dark text-center text-dark">&nbsp;
      <div class="container">
        <img src="/imgs/duck.png" class="rounded" alt="Cinque Terre" width="150" height="130">
        <img src="/imgs/duck.png" class="rounded-circle" alt="Cinque Terre" width="150" height="130">
        <img src="/imgs/duck.png" class="img-thumbnail" alt="Cinque Terre" width="150" height="130">
      </div>  &nbsp;
    </div>
  </div>
  <hr>&nbsp;
  <!-- Snippet1 END -->

  <!-- Snippet2 BEGIN -->
  <div class="container">
    <h3 class="text-primary">Aligning Images:</h3>
    <p><code>.float-left .float-right  followed by .clearfix</code></p>
  </div>
  <div class="container" id="to-copy1">
    <div class="float-right">
      <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
        onClick="CopyToClipboard('to-copy1')">
        <i class="fa fa-clone" aria-hidden="true"></i>
      </button>
    </div>
    <pre><code class="html">{{> _dots}}
&lt;div class="container clearfix"&gt;
  &lt;img src="duck.png" class="float-left" alt="Paris" width="304" height="236"&gt;
  &lt;img src="duck.png" class="float-right" alt="Paris" width="304" height="236"&gt;
&lt;/div&gt;</code></pre>
  </div>

  <div class="container">
    <h3 class="text-danger">Output:</h3>&nbsp;
    <div class="container bg-white text-dark">&nbsp;
      <div class="container clearfix">
        <img src="/imgs/duck.png" class="float-left" alt="Paris" width="150" height="130">
        <img src="/imgs/duck.png" class="float-right" alt="Paris" width="150" height="130">
      </div>&nbsp;
    </div>
  </div>
  <hr>&nbsp;

  <!-- Snippet2 END -->


  <!-- Snippet3 BEGIN -->
  <div class="container">
    <h3 class="text-primary"> Centered Image:</h3>
    <p><code>.mx-auto  and .d-block</code></p>
  </div>
  <div class="container" id="to-copy2">
    <div class="float-right">
      <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
        onClick="CopyToClipboard('to-copy2')">
        <i class="fa fa-clone" aria-hidden="true"></i>
      </button>
    </div>
    <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;
  &lt;img src="duck.png" class="mx-auto d-block" alt="Paris" style="width:25%"&gt;
&lt;/div&gt;</code></pre>
  </div>

  <div class="container">
    <h3 class="text-danger">Output:</h3>&nbsp;
    <div class="container bg-white text-dark">&nbsp;
      <div class="container">
        <img src="/imgs/duck.png" class="mx-auto d-block" alt="Paris" style="width:25%">
      </div>&nbsp;
    </div>
  </div>
  <hr>&nbsp;

  <!-- Snippet3 END -->


  <!-- Snippet4 BEGIN -->
  <div class="container">
    <h3 class="text-primary">Responsive Images:</h3>
    <p><code>.img-fluid</code></p>
  </div>
  <div class="container" id="to-copy3">
    <div class="float-right">
      <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
        onClick="CopyToClipboard('to-copy3')">
        <i class="fa fa-clone" aria-hidden="true"></i>
      </button>
    </div>
    <pre><code class="html">{{> _dots}}
  &lt;div class="container"&gt;
    &lt;img src="duck.png" class="img-fluid" alt="Paris" style="width:25%"&gt;
  &lt;/div&gt;</code></pre>
  </div>

  <div class="container">
    <h3 class="text-danger">Output:</h3>&nbsp;
    <div class="container bg-white text-dark">&nbsp;
      <div class="container text-center">
        <img src="/imgs/duck.png" class="img-fluid" alt="Paris">
      </div>&nbsp;
    </div>
  </div>
  <hr>&nbsp;

  <!-- Snippet4 END -->
</div>