<div class="container">&nbsp;
    <!-- Snippet1 BEGIN -->
    <div class="container">
        <h3 class="text-primary">Bootstrap Input :</h3>
        <p>
            <code>.form-control type="text" type="password"  </code>
        </p>
    </div>
    <div class="container" id="to-copy">
        <div class="float-right">
            <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
                onClick="CopyToClipboard('to-copy')">
                <i class="fa fa-clone" aria-hidden="true"></i>
            </button>
        </div>
        <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;
  &lt;form action="/action_page.php"&gt;
    &lt;div class="form-group"&gt;
      &lt;label for="usr"&gt;Name:&lt;/label&gt;
      &lt;input type="text" class="form-control" id="usr" name="username"&gt;
    &lt;/div&gt;
    &lt;div class="form-group"&gt;
      &lt;label for="pwd"&gt;Password:&lt;/label&gt;
      &lt;input type="password" class="form-control" id="pwd" name="password"&gt;
    &lt;/div&gt;
    &lt;button type="submit" class="btn btn-primary"&gt;Submit&lt;/button&gt;
  &lt;/form&gt;
&lt;/div&gt;</code></pre>
    </div>

    <div class="container">
        <h3 class="text-danger">Output:</h3>&nbsp;
        <div class="container bg-white text-dark">&nbsp;
            <div class="container">
                <form action="">
                    <div class="form-group">
                        <label for="usr">Name:</label>
                        <input type="text" class="form-control" id="usr" name="username">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" class="form-control" id="pwd" name="password">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>&nbsp;
        </div>


    </div>
    <hr>&nbsp;

    <!-- Snippet1 END -->


    <!-- Snippet2 BEGIN -->
    <div class="container">
        <h3 class="text-primary">Textarea:</h3>
        <p><code>.dropdown-divider</code></p>
    </div>
    <div class="container" id="to-copy1">
        <div class="float-right">
            <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
                onClick="CopyToClipboard('to-copy1')">
                <i class="fa fa-clone" aria-hidden="true"></i>
            </button>
        </div>
        <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;
  &lt;form action="/action_page.php"&gt;
    &lt;div class="form-group"&gt;
      &lt;label for="comment"&gt;Comment:&lt;/label&gt;
      &lt;textarea class="form-control" rows="5" id="comment" name="text"&gt;&lt;/textarea&gt;
    &lt;/div&gt;
    &lt;button type="submit" class="btn btn-primary"&gt;Submit&lt;/button&gt;
  &lt;/form&gt;
&lt;/div&gt;</code></pre>
    </div>

    <div class="container">
        <h3 class="text-danger">Output:</h3>&nbsp;
        <div class="container bg-white text-dark">&nbsp;
            <div class="container">
                <form action="">
                    <div class="form-group">
                        <label for="comment">Comment:</label>
                        <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>&nbsp;
        </div>
    </div>
    <hr>&nbsp;
    <!-- Snippet2 END -->



    <!-- Snippet3 BEGIN -->
    <div class="container">
        <h3 class="text-primary">Checkboxes:</h3>
        <p><code>.form-check-label .form-check-input .form-check  class="form-check"</code></p>
    </div>
    <div class="container" id="to-copy2">
        <div class="float-right">
            <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
                onClick="CopyToClipboard('to-copy2')">
                <i class="fa fa-clone" aria-hidden="true"></i>
            </button>
        </div>
        <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;
  &lt;form action="/action_page.php"&gt;
    &lt;div class="form-check"&gt;
      &lt;label class="form-check-label" for="check1"&gt;
        &lt;input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked&gt;Option 1
      &lt;/label&gt;
    &lt;/div&gt;
    &lt;div class="form-check"&gt;
      &lt;label class="form-check-label" for="check2"&gt;
        &lt;input type="checkbox" class="form-check-input" id="check2" name="option2" value="something"&gt;Option 2
      &lt;/label&gt;
    &lt;/div&gt;
    &lt;div class="form-check"&gt;
      &lt;label class="form-check-label"&gt;
        &lt;input type="checkbox" class="form-check-input" disabled&gt;Option 3
      &lt;/label&gt;
    &lt;/div&gt;
    &lt;button type="submit" class="btn btn-primary"&gt;Submit&lt;/button&gt;
  &lt;/form&gt;
&lt;/div&gt;
</code></pre>
    </div>

    <div class="container">
        <h3 class="text-danger">Output:</h3>&nbsp;
        <div class="container bg-white text-dark">&nbsp;
            <div class="container">
                <form action="">
                    <div class="form-check">
                        <label class="form-check-label" for="check1">
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something"
                                checked>Option 1
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" for="check2">
                            <input type="checkbox" class="form-check-input" id="check2" name="option2"
                                value="something">Option 2
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" disabled>Option 3
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            &nbsp;
        </div>
    </div>
    <hr>&nbsp;
    <!-- Snippet3 END -->


    <!-- Snippet4 BEGIN -->
    <div class="container">
        <h3 class="text-primary">Inline Checkboxes:</h3>
        <p><code>.form-check-inline</code></p>
    </div>
    <div class="container" id="to-copy3">
        <div class="float-right">
            <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
                onClick="CopyToClipboard('to-copy3')">
                <i class="fa fa-clone" aria-hidden="true"></i>
            </button>
        </div>
        <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;
  &lt;form action="/action_page.php"&gt;
    &lt;div class="form-check-inline"&gt;
      &lt;label class="form-check-label" for="check1"&gt;
        &lt;input type="checkbox" class="form-check-input" id="check1" name="vehicle1" value="something" checked&gt;Option 1
      &lt;/label&gt;
    &lt;/div&gt;
    &lt;div class="form-check-inline"&gt;
      &lt;label class="form-check-label" for="check2"&gt;
        &lt;input type="checkbox" class="form-check-input" id="check2" name="vehicle2" value="something"&gt;Option 2
      &lt;/label&gt;
    &lt;/div&gt;
    &lt;div class="form-check-inline"&gt;
      &lt;label class="form-check-label"&gt;
        &lt;input type="checkbox" class="form-check-input" disabled&gt;Option 3
      &lt;/label&gt;
    &lt;/div&gt;
    &lt;button type="submit" class="btn btn-primary"&gt;Submit&lt;/button&gt;
  &lt;/form&gt;
&lt;/div&gt;</code></pre>
    </div>

    <div class="container">
        <h3 class="text-danger">Output:</h3>&nbsp;
        <div class="container bg-white text-dark">&nbsp;
            <div class="container">
                <form action="">
                    <div class="form-check-inline">
                        <label class="form-check-label" for="check1">
                            <input type="checkbox" class="form-check-input" id="check1" name="vehicle1"
                                value="something" checked>Option 1
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label" for="check2">
                            <input type="checkbox" class="form-check-input" id="check2" name="vehicle2"
                                value="something">Option 2
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" disabled>Option 3
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>&nbsp;
        </div>
    </div>
    <hr>&nbsp;
    <!-- Snippet4 END -->


    <!-- Snippet5 BEGIN -->
    <div class="container">
        <h3 class="text-primary">Radio Buttons :</h3>
        <p><code>class="form-check"</code></p>
    </div>
    <div class="container" id="to-copy4">
        <div class="float-right">
            <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
                onClick="CopyToClipboard('to-copy4')">
                <i class="fa fa-clone" aria-hidden="true"></i>
            </button>
        </div>
        <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;
  &lt;form action="/action_page.php"&gt;
    &lt;div class="form-check"&gt;
      &lt;label class="form-check-label" for="radio1"&gt;
        &lt;input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" checked&gt;Option 1
      &lt;/label&gt;
    &lt;/div&gt;
    &lt;div class="form-check"&gt;
      &lt;label class="form-check-label" for="radio2"&gt;
        &lt;input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2"&gt;Option 2
      &lt;/label&gt;
    &lt;/div&gt;
    &lt;div class="form-check"&gt;
      &lt;label class="form-check-label"&gt;
        &lt;input type="radio" class="form-check-input" disabled&gt;Option 3
      &lt;/label&gt;
    &lt;/div&gt;
    &lt;button type="submit" class="btn btn-primary"&gt;Submit&lt;/button&gt;
  &lt;/form&gt;
&lt;/div&gt;</code></pre>
    </div>

    <div class="container">
        <h3 class="text-danger">Output:</h3>&nbsp;
        <div class="container bg-white text-dark">&nbsp;
            <div class="container">
                <form action="">
                    <div class="form-check">
                        <label class="form-check-label" for="radio1">
                            <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1"
                                checked>Option 1
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" for="radio2">
                            <input type="radio" class="form-check-input" id="radio2" name="optradio"
                                value="option2">Option 2
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" disabled>Option 3
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>&nbsp;
        </div>
    </div>
    <hr>&nbsp;
    <!-- Snippet5 END -->

    <!-- Snippet6 BEGIN -->
    <div class="container">
        <h3 class="text-primary">Inline Radio Buttons:</h3>
        <p><code>.form-check-inline</code></p>
    </div>
    <div class="container" id="to-copy5">
        <div class="float-right">
            <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
                onClick="CopyToClipboard('to-copy5')">
                <i class="fa fa-clone" aria-hidden="true"></i>
            </button>
        </div>
        <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;
  &lt;form action="/action_page.php"&gt;
    &lt;div class="form-check-inline"&gt;
      &lt;label class="form-check-label" for="radio1"&gt;
        &lt;input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" checked&gt;Option 1
      &lt;/label&gt;
    &lt;/div&gt;
    &lt;div class="form-check-inline"&gt;
      &lt;label class="form-check-label" for="radio2"&gt;
        &lt;input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2"&gt;Option 2
      &lt;/label&gt;
    &lt;/div&gt;
    &lt;div class="form-check-inline"&gt;
      &lt;label class="form-check-label"&gt;
        &lt;input type="radio" class="form-check-input" disabled&gt;Option 3
      &lt;/label&gt;
    &lt;/div&gt;
    &lt;button type="submit" class="btn btn-primary"&gt;Submit&lt;/button&gt;
  &lt;/form&gt;
&lt;/div&gt;</code></pre>
    </div>

    <div class="container">
        <h3 class="text-danger">Output:</h3>&nbsp;
        <div class="container bg-white text-dark">&nbsp;
            <div class="container">
                <form action="">
                    <div class="form-check-inline">
                        <label class="form-check-label" for="radio1">
                            <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1"
                                checked>Option 1
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label" for="radio2">
                            <input type="radio" class="form-check-input" id="radio2" name="optradio"
                                value="option2">Option 2
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" disabled>Option 3
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>&nbsp;
        </div>
    </div>
    <hr>&nbsp;
    <!-- Snippet6 END -->


    <!-- Snippet7 BEGIN -->
    <div class="container">
        <h3 class="text-primary">Select List : (Single / Multiple)</h3>
        <p><code> &lt;select class="form-control"&gt; &lt;option&gt;1&lt;/option&gt; &lt;/select&gt;</code></p>
    </div>
    <div class="container" id="to-copy6">
        <div class="float-right">
            <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
                onClick="CopyToClipboard('to-copy6')">
                <i class="fa fa-clone" aria-hidden="true"></i>
            </button>
        </div>
        <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;
  &lt;form action="/action_page.php"&gt;
    &lt;div class="form-group"&gt;
      &lt;label for="sel1"&gt;Select list (select one):&lt;/label&gt;
      &lt;select class="form-control" id="sel1" name="sellist1"&gt;
        &lt;option&gt;1&lt;/option&gt;
        &lt;option&gt;2&lt;/option&gt;
        &lt;option&gt;3&lt;/option&gt;
        &lt;option&gt;4&lt;/option&gt;
      &lt;/select&gt;
      &lt;br&gt;
      &lt;label for="sel2"&gt;Mutiple select list (hold Control(Ctrl) to select more than one):&lt;/label&gt;
      &lt;select multiple class="form-control" id="sel2" name="sellist2"&gt;
        &lt;option&gt;1&lt;/option&gt;
        &lt;option&gt;2&lt;/option&gt;
        &lt;option&gt;3&lt;/option&gt;
        &lt;option&gt;4&lt;/option&gt;
        &lt;option&gt;5&lt;/option&gt;
      &lt;/select&gt;
    &lt;/div&gt;
    &lt;button type="submit" class="btn btn-primary"&gt;Submit&lt;/button&gt;
  &lt;/form&gt;
&lt;/div&gt;
</code></pre>
    </div>

    <div class="container">
        <h3 class="text-danger">Output:</h3>&nbsp;
        <div class="container bg-white text-dark">&nbsp;
            <div class="container">
                <form action="">
                    <div class="form-group">
                        <label for="sel1">Select list (select one):</label>
                        <select class="form-control" id="sel1" name="sellist1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                        <br>
                        <label for="sel2">Mutiple select list (hold <kbd>Ctrl</kbd> key to select more than
                            one):</label>
                        <select multiple class="form-control" id="sel2" name="sellist2">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            &nbsp;
        </div>
    </div>
    <hr>&nbsp;
    <!-- Snippet7 END -->

    <!-- Snippet8 BEGIN -->
    <div class="container">
        <h3 class="text-primary">Form Control Sizing & Plain Text:</h3>
        <p><code>.form-control-sm .form-control-lg || .form-control-plaintext</code></p>
    </div>
    <div class="container" id="to-copy7">
        <div class="float-right">
            <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
                onClick="CopyToClipboard('to-copy7')">
                <i class="fa fa-clone" aria-hidden="true"></i>
            </button>
        </div>
        <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;
  &lt;h2&gt;Form Control Sizing&lt;/h2&gt;
  &lt;form action="/action_page.php"&gt;
    &lt;div class="form-group"&gt;
      &lt;input type="text" class="form-control form-control-sm" placeholder="Small form control" name="text1"&gt;
    &lt;/div&gt;
    &lt;div class="form-group"&gt;
      &lt;input type="text" class="form-control" placeholder="Default form control" name="text2"&gt;
    &lt;/div&gt;
    &lt;div class="form-group"&gt;
      &lt;input type="text" class="form-control form-control-lg" placeholder="Large form control" name="text3"&gt;
    &lt;/div&gt;
    &lt;button type="submit" class="btn btn-primary"&gt;Submit&lt;/button&gt;
  &lt;/form&gt;
  
  &lt;hr&gt;
  
  &lt;h2&gt;Form Control Plain Text&lt;/h2&gt;
  &lt;form action="/action_page.php"&gt;
    &lt;div class="form-group"&gt;
      &lt;input type="text" class="form-control" placeholder="Default form control" name="text1"&gt;
    &lt;/div&gt;
    &lt;div class="form-group"&gt;
      &lt;input type="text" class="form-control-plaintext" placeholder="Form control with plain text" name="text2"&gt;
    &lt;/div&gt;
    &lt;button type="submit" class="btn btn-primary"&gt;Submit&lt;/button&gt;
  &lt;/form&gt;
&lt;/div&gt;</code></pre>
    </div>

    <div class="container">
        <h3 class="text-danger">Output:</h3>&nbsp;
        <div class="container bg-white text-dark">&nbsp;
            <div class="container">
                <h2>Form Control Sizing</h2>
                <form action="/action_page.php">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-sm" placeholder="Small form control"
                            name="text1">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Default form control" name="text2">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control form-control-lg" placeholder="Large form control"
                            name="text3">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

                <hr>

                <h2>Form Control Plain Text</h2>
                <form action="/action_page.php">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Default form control" name="text1">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control-plaintext" placeholder="Form control with plain text"
                            name="text2">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>&nbsp;
        </div>
    </div>
    <hr>&nbsp;
    <!-- Snippet8 END -->

    <!-- Snippet9 BEGIN -->
    <div class="container">
        <h3 class="text-primary">Form Control File and Range :</h3>
        <p><code>.form-control-range to input type"range" || .form-control-file to input type"file""</code></p>
    </div>
    <div class="container" id="to-copy8">
        <div class="float-right">
            <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
                onClick="CopyToClipboard('to-copy8')">
                <i class="fa fa-clone" aria-hidden="true"></i>
            </button>
        </div>
        <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;
  &lt;form action="/action_page.php"&gt;
    &lt;div class="form-group"&gt;
      &lt;input type="range" class="form-control-range" name="range"&gt;
    &lt;/div&gt;
    &lt;div class="form-group"&gt;
      &lt;input type="file" class="form-control-file border" name="file"&gt;
    &lt;/div&gt;
    &lt;button type="submit" class="btn btn-primary"&gt;Submit&lt;/button&gt;
  &lt;/form&gt;
&lt;/div&gt;</code></pre>
    </div>

    <div class="container">
        <h3 class="text-danger">Output:</h3>&nbsp;
        <div class="container bg-white text-center">&nbsp;
            <div class="container">
                <form action="/action_page.php">
                    <div class="form-group">
                        <input type="range" class="form-control-range" name="range">
                    </div>
                    <div class="form-group">
                        <input type="file" class="form-control-file border" name="file">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>&nbsp;
        </div>
    </div>
    <hr>&nbsp;
    <!-- Snippet9 END -->




    <!-- Snippet10 BEGIN -->
    <div class="container">
        <h3 class="text-primary">Bootstrap 4 Input Groups</h3>
        <p><code>.input-group .input-group-prepend  .input-group-append  .input-group-text</code></p>
    </div>
    <div class="container" id="to-copy9">
        <div class="float-right">
            <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
                onClick="CopyToClipboard('to-copy9')">
                <i class="fa fa-clone" aria-hidden="true"></i>
            </button>
        </div>
        <pre><code class="html">{{> _dots}}
&lt;div class="container mt-3"&gt;
  &lt;form action="/action_page.php"&gt;
    &lt;div class="input-group mb-3"&gt;
      &lt;div class="input-group-prepend"&gt;
        &lt;span class="input-group-text"&gt;@&lt;/span&gt;
      &lt;/div&gt;
      &lt;input type="text" class="form-control" placeholder="Username" id="usr" name="username"&gt;
    &lt;/div&gt;

    &lt;div class="input-group mb-3"&gt;
      &lt;input type="text" class="form-control" placeholder="Your Email" id="mail" name="email"&gt;
      &lt;div class="input-group-append"&gt;
        &lt;span class="input-group-text"&gt;@example.com&lt;/span&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;button type="submit" class="btn btn-primary"&gt;Submit&lt;/button&gt;
  &lt;/form&gt;
&lt;/div&gt;</code></pre>
    </div>

    <div class="container">
        <h3 class="text-danger">Output:</h3>&nbsp;
        <div class="container bg-white text-dark">&nbsp;
            <div class="container mt-3">
                <form action="">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">@</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Username" id="usr" name="username">
                    </div>

                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Your Email" id="mail" name="email">
                        <div class="input-group-append">
                            <span class="input-group-text">@example.com</span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>&nbsp;
        </div>
    </div>
    <hr>&nbsp;
    <!-- Snippet10 END -->

    <!-- Snippet11 BEGIN -->
    <div class="container">
        <h3 class="text-primary">Input Group Sizing:</h3>
        <p><code>.input-group-sm .input-group-lg</code></p>
    </div>
    <div class="container" id="to-copy10">
        <div class="float-right">
            <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
                onClick="CopyToClipboard('to-copy10')">
                <i class="fa fa-clone" aria-hidden="true"></i>
            </button>
        </div>
        <pre><code class="html">{{> _dots}}
&lt;div class="container mt-3"&gt;
  &lt;form&gt;
    &lt;div class="input-group mb-3 input-group-sm"&gt;
      &lt;div class="input-group-prepend"&gt;
        &lt;span class="input-group-text"&gt;Small&lt;/span&gt;
      &lt;/div&gt;
      &lt;input type="text" class="form-control"&gt;
    &lt;/div&gt;
  &lt;/form&gt;
  &lt;form&gt;
    &lt;div class="input-group mb-3"&gt;
      &lt;div class="input-group-prepend"&gt;
        &lt;span class="input-group-text"&gt;Default&lt;/span&gt;
      &lt;/div&gt;
      &lt;input type="text" class="form-control"&gt;
    &lt;/div&gt;
  &lt;/form&gt;
  &lt;form&gt;
    &lt;div class="input-group mb-3 input-group-lg"&gt;
      &lt;div class="input-group-prepend"&gt;
        &lt;span class="input-group-text"&gt;Large&lt;/span&gt;
      &lt;/div&gt;
      &lt;input type="text" class="form-control"&gt;
    &lt;/div&gt;
  &lt;/form&gt;
&lt;/div&gt;</code></pre>
    </div>

    <div class="container">
        <h3 class="text-danger">Output:</h3>&nbsp;
        <div class="container bg-white text-center">&nbsp;
            <div class="container mt-3">
                <form>
                    <div class="input-group mb-3 input-group-sm">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Small</span>
                        </div>
                        <input type="text" class="form-control">
                    </div>
                </form>
                <form>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Default</span>
                        </div>
                        <input type="text" class="form-control">
                    </div>
                </form>
                <form>
                    <div class="input-group mb-3 input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Large</span>
                        </div>
                        <input type="text" class="form-control">
                    </div>
                </form>
            </div>&nbsp;
        </div>
    </div>
    <hr>&nbsp;
    <!-- Snippet11 END -->



    <!-- Snippet12 BEGIN -->
    <div class="container">
        <h3 class="text-primary">Multiple Inputs and Helpers</h3>
    </div>
    <div class="container" id="to-copy11">
        <div class="float-right">
            <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
                onClick="CopyToClipboard('to-copy11')">
                <i class="fa fa-clone" aria-hidden="true"></i>
            </button>
        </div>
        <pre><code class="html">{{> _dots}}
&lt;div class="container mt-3"&gt;
  &lt;form&gt;
    &lt;div class="input-group mb-3"&gt;
      &lt;div class="input-group-prepend"&gt;
        &lt;span class="input-group-text"&gt;Person&lt;/span&gt;
      &lt;/div&gt;
      &lt;input type="text" class="form-control" placeholder="First Name"&gt;
      &lt;input type="text" class="form-control" placeholder="Last Name"&gt;
    &lt;/div&gt;  
  &lt;/form&gt;
  
  &lt;form&gt;
    &lt;div class="input-group mb-3"&gt;
      &lt;div class="input-group-prepend"&gt;
        &lt;span class="input-group-text"&gt;One&lt;/span&gt;
        &lt;span class="input-group-text"&gt;Two&lt;/span&gt;
        &lt;span class="input-group-text"&gt;Three&lt;/span&gt;
      &lt;/div&gt;
      &lt;input type="text" class="form-control"&gt;
    &lt;/div&gt;
  &lt;/form&gt;
&lt;/div&gt;</code></pre>
    </div>

    <div class="container">
        <h3 class="text-danger">Output:</h3>&nbsp;
        <div class="container bg-white text-dark">&nbsp;
            <div class="container mt-3">
                <form>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Person</span>
                        </div>
                        <input type="text" class="form-control" placeholder="First Name">
                        <input type="text" class="form-control" placeholder="Last Name">
                    </div>
                </form>

                <form>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">One</span>
                            <span class="input-group-text">Two</span>
                            <span class="input-group-text">Three</span>
                        </div>
                        <input type="text" class="form-control">
                    </div>
                </form>
            </div>&nbsp;
        </div>
    </div>
    <hr>&nbsp;
    <!-- Snippet12 END -->


    <!-- Snippet13 BEGIN -->
    <div class="container">
        <h3 class="text-primary">Input Group with Checkboxes and Radios:</h3>
    </div>
    <div class="container" id="to-copy12">
        <div class="float-right">
            <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
                onClick="CopyToClipboard('to-copy12')">
                <i class="fa fa-clone" aria-hidden="true"></i>
            </button>
        </div>
        <pre><code class="html">{{> _dots}}
&lt;div class="container mt-3"&gt;
  &lt;form&gt;
    &lt;div class="input-group mb-3"&gt;
      &lt;div class="input-group-prepend"&gt;
        &lt;div class="input-group-text"&gt;
          &lt;input type="checkbox"&gt; 
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;input type="text" class="form-control" placeholder="Some text"&gt;
    &lt;/div&gt;
  &lt;/form&gt;
  
  &lt;form&gt;
    &lt;div class="input-group mb-3"&gt;
      &lt;div class="input-group-prepend"&gt;
        &lt;div class="input-group-text"&gt;
          &lt;input type="radio"&gt; 
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;input type="text" class="form-control" placeholder="Some text"&gt;
    &lt;/div&gt;
  &lt;/form&gt;
&lt;/div&gt;</code></pre>
    </div>

    <div class="container">
        <h3 class="text-danger">Output:</h3>&nbsp;
        <div class="container bg-white text-dark">&nbsp;
            <div class="container mt-3">
                <form>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox">
                            </div>
                        </div>
                        <input type="text" class="form-control" placeholder="Some text">
                    </div>
                </form>

                <form>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="radio">
                            </div>
                        </div>
                        <input type="text" class="form-control" placeholder="Some text">
                    </div>
                </form>
            </div>&nbsp;
        </div>
    </div>
    <hr>&nbsp;
    <!-- Snippet13 END -->


    <!-- Snippet14 BEGIN -->
    <div class="container">
        <h3 class="text-primary">Input Group Buttons:</h3>
    </div>
    <div class="container" id="to-copy13">
        <div class="float-right">
            <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
                onClick="CopyToClipboard('to-copy13')">
                <i class="fa fa-clone" aria-hidden="true"></i>
            </button>
        </div>
        <pre><code class="html">{{> _dots}}
&lt;div class="container mt-3"&gt;
  &lt;div class="input-group mb-3"&gt;
    &lt;div class="input-group-prepend"&gt;
      &lt;button class="btn btn-outline-primary" type="button"&gt;Basic Button&lt;/button&gt;  
    &lt;/div&gt;
    &lt;input type="text" class="form-control" placeholder="Some text"&gt;
  &lt;/div&gt;

  &lt;div class="input-group mb-3"&gt;
    &lt;input type="text" class="form-control" placeholder="Search"&gt;
    &lt;div class="input-group-append"&gt;
      &lt;button class="btn btn-success" type="submit"&gt;Go&lt;/button&gt;  
     &lt;/div&gt;
  &lt;/div&gt;

  &lt;div class="input-group mb-3"&gt;
    &lt;input type="text" class="form-control" placeholder="Something clever.."&gt;
    &lt;div class="input-group-append"&gt;
      &lt;button class="btn btn-primary" type="button"&gt;OK&lt;/button&gt;  
      &lt;button class="btn btn-danger" type="button"&gt;Cancel&lt;/button&gt;  
     &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
    </div>

    <div class="container">
        <h3 class="text-danger">Output:</h3>&nbsp;
        <div class="container bg-white text-dark">&nbsp;
            <div class="container mt-3">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-primary" type="button">Basic Button</button>
                    </div>
                    <input type="text" class="form-control" placeholder="Some text">
                </div>

                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="input-group-append">
                        <button class="btn btn-success" type="submit">Go</button>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Something clever..">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">OK</button>
                        <button class="btn btn-danger" type="button">Cancel</button>
                    </div>
                </div>
            </div>&nbsp;
        </div>
    </div>
    <hr>&nbsp;
    <!-- Snippet14 END -->



    <!-- Snippet15 BEGIN -->
    <div class="container">
        <h3 class="text-primary">Input Group with Dropdown Button:</h3>
    </div>
    <div class="container" id="to-copy14">
        <div class="float-right">
            <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
                onClick="CopyToClipboard('to-copy14')">
                <i class="fa fa-clone" aria-hidden="true"></i>
            </button>
        </div>
        <pre><code class="html">{{> _dots}}
&lt;div class="container mt-3"&gt;
  &lt;form&gt;
    &lt;div class="input-group mt-3 mb-3"&gt;
      &lt;div class="input-group-prepend"&gt;
        &lt;button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown"&gt;
          Dropdown button
        &lt;/button&gt;
        &lt;div class="dropdown-menu"&gt;
          &lt;a class="dropdown-item" href="#"&gt;Link 1&lt;/a&gt;
          &lt;a class="dropdown-item" href="#"&gt;Link 2&lt;/a&gt;
          &lt;a class="dropdown-item" href="#"&gt;Link 3&lt;/a&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;input type="text" class="form-control" placeholder="Username"&gt;
    &lt;/div&gt;
  &lt;/form&gt;
&lt;/div&gt;</code></pre>
    </div>

    <div class="container">
        <h3 class="text-danger">Output:</h3>&nbsp;
        <div class="container bg-white">&nbsp;
            <div class="container mt-3">
                <form>
                    <div class="input-group mt-3 mb-3">
                        <div class="input-group-prepend">
                            <button type="button" class="btn btn-outline-secondary dropdown-toggle"
                                data-toggle="dropdown">
                                Dropdown button
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Link 1</a>
                                <a class="dropdown-item" href="#">Link 2</a>
                                <a class="dropdown-item" href="#">Link 3</a>
                            </div>
                        </div>
                        <input type="text" class="form-control" placeholder="Username">
                    </div>
                </form>
            </div>&nbsp;
        </div>
    </div>
    <hr>&nbsp;
    <!-- Snippet15 END -->


    <!-- Snippet16 BEGIN -->
    <div class="container">
        <h3 class="text-primary">Input Group Labels</h3>
    </div>
    <div class="container" id="to-copy15">
        <div class="float-right">
            <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
                onClick="CopyToClipboard('to-copy15')">
                <i class="fa fa-clone" aria-hidden="true"></i>
            </button>
        </div>
        <pre><code class="html">{{> _dots}}
&lt;div class="container mt-3"&gt;
  &lt;form&gt;
    &lt;label for="demo"&gt;Write your email here:&lt;/label&gt;
    &lt;div class="input-group mb-3"&gt;
      &lt;input type="text" class="form-control" placeholder="Email" id="demo" name="email"&gt;
      &lt;div class="input-group-append"&gt;
        &lt;span class="input-group-text"&gt;@example.com&lt;/span&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/form&gt;
&lt;/div&gt;</code></pre>
    </div>

    <div class="container">
        <h3 class="text-danger">Output:</h3>&nbsp;
        <div class="container bg-white">&nbsp;
            <div class="container mt-3">
                <form>
                    <label for="demo">Write your email here:</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Email" id="demo" name="email">
                        <div class="input-group-append">
                            <span class="input-group-text">@example.com</span>
                        </div>
                    </div>
                </form>
            </div>&nbsp;
        </div>
    </div>
    <hr>&nbsp;
    <!-- Snippet16 END -->
</div>