<div class="container">&nbsp;
  <!-- Snippet1 BEGIN -->
  <div class="container">
    <h3 class="text-primary">Media Objects:</h3>
    <p>
      <code>.media .media-body</code>
    </p>
  </div>
  <div class="container" id="to-copy">
    <div class="float-right">
      <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
        onClick="CopyToClipboard('to-copy')">
        <i class="fa fa-clone" aria-hidden="true"></i>
      </button>
    </div>
    <pre><code class="html">{{> _dots}}
&lt;div class="container mt-3"&gt;
  &lt;div class="media border p-3"&gt;
    &lt;img src="/imgs/img_3.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;"&gt;
    &lt;div class="media-body"&gt;
      &lt;h4&gt;John Doe &lt;small&gt;&lt;i&gt;Posted on February 19, 2016&lt;/i&gt;&lt;/small&gt;&lt;/h4&gt;
      &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
  </div>

  <div class="container">
    <h3 class="text-danger">Output:</h3>&nbsp;
    <div class="container bg-white text-dark">&nbsp;
      <div class="container mt-3">
        <div class="media border p-3">
          <img src="/imgs/img_3.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
          <div class="media-body">
            <h4>John Doe <small><i>Posted on August 04, 2010</i></small></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.</p>
          </div>
        </div>
      </div>&nbsp;
    </div>


  </div>
  <hr>&nbsp;

  <!-- Snippet1 END -->


  <!-- Snippet2 BEGIN -->
  <div class="container">
    <h3 class="text-primary">Nested Media Objects:</h3>
    <p><code>.media .media-body</code></p>
  </div>
  <div class="container" id="to-copy1">
    <div class="float-right">
      <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
        onClick="CopyToClipboard('to-copy1')">
        <i class="fa fa-clone" aria-hidden="true"></i>
      </button>
    </div>
    <pre><code class="html">{{> _dots}}
&lt;div class="container mt-3"&gt;
  &lt;div class="media border p-3"&gt;
    &lt;img src="/imgs/img_3.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;"&gt;
    &lt;div class="media-body"&gt;
      &lt;h4&gt;John Doe &lt;small&gt;&lt;i&gt;Posted on August 08, 2018&lt;/i&gt;&lt;/small&gt;&lt;/h4&gt;
      &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.&lt;/p&gt;
      &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.&lt;/p&gt;
      &lt;div class="media p-3"&gt;
        &lt;img src="/imgs/img_2.png" alt="Jane Doe" class="mr-3 mt-3 rounded-circle" style="width:45px;"&gt;
        &lt;div class="media-body"&gt;
          &lt;h4&gt;Jane Doe &lt;small&gt;&lt;i&gt;Posted on August 4 2018&lt;/i&gt;&lt;/small&gt;&lt;/h4&gt;
          &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.&lt;/p&gt;
          &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.&lt;/p&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
  </div>

  <div class="container">
    <h3 class="text-danger">Output:</h3>&nbsp;
    <div class="container bg-white text-dark overflow-auto">&nbsp;
      <div class="container mt-3">
        <div class="media border p-3 overflow-auto">
          <img src="/imgs/img_3.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
          <div class="media-body">
            <h4>John Doe <small><i>Posted on August 08, 2018</i></small></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
              incididunt ut labore et dolore magna aliqua.</p>
          
            <div class="media p-3">
              <img src="/imgs/img_2.png" alt="Jane Doe" class="mr-3 mt-3 rounded-circle" style="width:45px;">
              <div class="media-body">
                <h4>Jane Doe <small><i>Posted on August 4 2018</i></small></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et
                  doloremagna aliqua.</p>
                
              </div>
            </div>
          </div>
        </div>
      </div>&nbsp;
    </div>
  </div>
  <hr>&nbsp;
  <!-- Snippet2 END -->



  <!-- Snippet3 BEGIN -->
  <div class="container">
    <h3 class="text-primary">Right-Aligned Media Image:</h3>
    <p><code>.media .media-body</code></p>
  </div>
  <div class="container" id="to-copy2">
    <div class="float-right">
      <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
        onClick="CopyToClipboard('to-copy2')">
        <i class="fa fa-clone" aria-hidden="true"></i>
      </button>
    </div>
    <pre><code class="html">{{> _dots}}
&lt;div class="container mt-3"&gt;
  &lt;div class="media border p-3"&gt;
    &lt;div class="media-body"&gt;
      &lt;h4&gt;John Doe &lt;small&gt;&lt;i&gt;Posted on February 19, 2016&lt;/i&gt;&lt;/small&gt;&lt;/h4&gt;
      &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.&lt;/p&gt;
    &lt;/div&gt;
    &lt;img src="/imgs/img_3.png" alt="John Doe" class="ml-3 mt-3 rounded-circle" style="width:60px;"&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code></pre>
  </div>

  <div class="container">
    <h3 class="text-danger">Output:</h3>&nbsp;
    <div class="container bg-white text-dark">&nbsp;
      <div class="container mt-3">
        <div class="media border p-3">
          <div class="media-body">
            <h4>John Doe <small><i>Posted on February 19, 2016</i></small></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.</p>
          </div>
          <img src="/imgs/img_3.png" alt="John Doe" class="ml-3 mt-3 rounded-circle" style="width:60px;">
        </div>
      </div>&nbsp;
    </div>
  </div>
  <hr>&nbsp;
  <!-- Snippet4 END -->


  <!-- Snippet4 BEGIN -->
  <div class="container">
    <h3 class="text-primary">Top, Middle or Bottom Alignment Media Objects:</h3>
    <p><code> .align-self-* </code></p>
  </div>
  <div class="container" id="to-copy3">
    <div class="float-right">
      <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
        onClick="CopyToClipboard('to-copy3')">
        <i class="fa fa-clone" aria-hidden="true"></i>
      </button>
    </div>
    <pre><code class="html">{{> _dots}}
&lt;div class="container mt-3"&gt;
  &lt;!-- Media top --&gt;
  &lt;div class="media"&gt;
    &lt;img src="/imgs/img_1.png" class="align-self-start mr-3" style="width:60px"&gt;
    &lt;div class="media-body"&gt;
      &lt;h4&gt;Media Top&lt;/h4&gt;
      &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.&lt;/p&gt;
      &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.&lt;/p&gt;
      &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;!-- Media middle --&gt;
  &lt;div class="media mt-3"&gt;
    &lt;img src="/imgs/img_1.png" class="align-self-center mr-3" style="width:60px"&gt;
    &lt;div class="media-body"&gt;
      &lt;h4&gt;Media Middle&lt;/h4&gt;
      &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.&lt;/p&gt;
      &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.&lt;/p&gt;
      &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;!-- Media bottom --&gt;
  &lt;div class="media mt-3"&gt;
    &lt;img src="/imgs/img_1.png" class="align-self-end mr-3" style="width:60px"&gt;
    &lt;div class="media-body"&gt;
      &lt;h4&gt;Media Bottom&lt;/h4&gt;
      &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.&lt;/p&gt;
      &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.&lt;/p&gt;
      &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
  </div>

  <div class="container">
    <h3 class="text-danger">Output:</h3>&nbsp;
    <div class="container bg-white text-dark">&nbsp;
      <div class="container mt-3">
        <!-- Media top -->
        <div class="media">
          <img src="/imgs/img_1.png" class="align-self-start mr-3" style="width:60px">
          <div class="media-body">
            <h4>Media Top</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.</p>
          </div>
        </div>
      
        <!-- Media middle -->
        <div class="media mt-3">
          <img src="/imgs/img_1.png" class="align-self-center mr-3" style="width:60px">
          <div class="media-body">
            <h4>Media Middle</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.</p>
          </div>
        </div>
      
        <!-- Media bottom -->
        <div class="media mt-3">
          <img src="/imgs/img_1.png" class="align-self-end mr-3" style="width:60px">
          <div class="media-body">
            <h4>Media Bottom</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.</p>
          </div>
        </div>
      </div>&nbsp;
    </div>
  </div>
  <hr>&nbsp;
  <!-- Snippet4 END -->
</div>