<div class="container">&nbsp;
  <!-- Snippet1 BEGIN -->
  <div class="container">
    <h3 class="text-primary">Popover:</h3>
    <p><code>data-toggle="popover" </code></p>
  </div>
  <div class="container" id="to-copy">
    <div class="float-right">
      <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
        onClick="CopyToClipboard('to-copy')">
        <i class="fa fa-clone" aria-hidden="true"></i>
      </button>
    </div>
    <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;
  &lt;a href="#" data-toggle="popover" title="Popover Head" data-content="Content inside the
  popover (body)"&gt;popover&lt;/a&gt;
&lt;/div&gt;

&lt;script&gt;
  $(document).ready(function(){
  $('[data-toggle="popover"]').popover();
  $("a").click(function (event) {
  event.preventDefault();
  });
  });
&lt;/script&gt;</code></pre>
  </div>

  <div class="container">
    <h3 class="text-danger">Output:</h3>&nbsp;
    <div class="container bg-white  text-center">&nbsp;
      <div class="container">
        <a href="#" data-toggle="popover" title="Popover Head" data-content="Content inside the
        popover (body)">popover</a>
      </div>
      
      <script>
        $(document).ready(function () {
          $('[data-toggle="popover"]').popover();
          $("a").click(function (event) {
            event.preventDefault();
          });
        });
      </script>&nbsp;
    </div>
  </div>
  <hr>&nbsp;
  <!-- Snippet1 END -->

  <!-- Snippet2 BEGIN -->
  <div class="container">
    <h3 class="text-primary">Position of Popovers:</h3>
    <p><code>data-placement = top | bottom |left | right</code></p>
  </div>
  <div class="container" id="to-copy1">
    <div class="float-right">
      <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
        onClick="CopyToClipboard('to-copy1')">
        <i class="fa fa-clone" aria-hidden="true"></i>
      </button>
    </div>
    <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;
  &lt;a href="#" title="Header" data-toggle="popover" data-placement="top" data-content="Content"&gt;Top&lt;/a&gt;
  &lt;a href="#" title="Header" data-toggle="popover" data-placement="bottom" data-content="Content"&gt;Bottom&lt;/a&gt;
  &lt;a href="#" title="Header" data-toggle="popover" data-placement="left" data-content="Content"&gt;Left&lt;/a&gt;
  &lt;a href="#" title="Header" data-toggle="popover" data-placement="right" data-content="Content"&gt;Right&lt;/a&gt;
&lt;/div&gt;

&lt;script&gt;
  $(document).ready(function(){
  $('[data-toggle="popover"]').popover();
  });
  $("a").click(function (event) {
  event.preventDefault();
  });
&lt;/script&gt;</code></pre>
  </div>

  <div class="container">
    <h3 class="text-danger">Output:</h3>&nbsp;
    <div class="container bg-white text-center">&nbsp;
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <a href="#" title="Header" data-toggle="popover" data-placement="top" data-content="Content">Top (&#8593;)</a>
          </div>
          <div class="col-sm">
            <a href="#" title="Header" data-toggle="popover" data-placement="left" data-content="Content">Left (&#8592;)</a>
          </div>
          <div class="col-sm">
            <a href="#" title="Header" data-toggle="popover" data-placement="right" data-content="Content">Right (&#8594;)</a>
          </div>
          <div class="col-sm">
            <a href="#" title="Header" data-toggle="popover" data-placement="bottom" data-content="Content">Bottom (&#8595;)</a>
          </div>
        </div>
      </div>
      &nbsp;
    </div>
  </div>
  <hr>&nbsp;

  <!-- Snippet2 END -->


  <!-- Snippet3 BEGIN -->
  <div class="container">
    <h3 class="text-primary">Closing Popovers:</h3>
    <p><code>data-trigger="focus" || data-trigger="hover"</code></p>
  </div>
  <div class="container" id="to-copy2">
    <div class="float-right">
      <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
        onClick="CopyToClipboard('to-copy2')">
        <i class="fa fa-clone" aria-hidden="true"></i>
      </button>
    </div>
    <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;
  &lt;a href="#" title="Dismissible popover" data-toggle="popover" data-trigger="focus" 
    data-content="Click anywhere to close this popover"&gt;Click me&lt;/a&gt;&lt;br&gt;
  &lt;a href="#" title="Header" data-toggle="popover" data-trigger="hover" 
    data-content="Move the mouse to close me"&gt;Hover over me&lt;/a&gt;
&lt;/div&gt;
&lt;script&gt;
  $(document).ready(function(){
  $('[data-toggle="popover"]').popover();
  });
  $("a").click(function (event) {
  event.preventDefault();
  });
&lt;/script&gt;</code></pre>
  </div>

  <div class="container">
    <h3 class="text-danger">Output:</h3>&nbsp;
    <div class="container bg-white text-center text-dark">&nbsp;
      <div class="container">
        <a href="#" title="Dismissible popover" data-toggle="popover" data-trigger="focus"
          data-content="Click anywhere to close this popover">Click me</a><br>
        <a href="#" title="Header" data-toggle="popover" data-trigger="hover" data-content="Move the mouse to close me">Hover over me</a>
      </div>&nbsp;
    </div>
  </div>
  <hr>&nbsp;

  <!-- Snippet3 END -->
</div>