<div class="container">&nbsp;
  <!-- Snippet1 BEGIN -->
  <div class="container">
    <h3 class="text-primary">Progress Bars:</h3>
    <p><code>.progress .progress-bar</code></p>
  </div>
  <div class="container" id="to-copy">
    <div class="float-right">
      <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
        onClick="CopyToClipboard('to-copy')">
        <i class="fa fa-clone" aria-hidden="true"></i>
      </button>
    </div>
    <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;
  &lt;div class="progress"&gt;
    &lt;div class="progress-bar" style="width:70%"&gt;&lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
  </div>

  <div class="container">
    <h3 class="text-danger">Output:</h3>&nbsp;
    <div class="container bg-white text-dark">&nbsp;
      <div class="container">
        <div class="progress">
          <div class="progress-bar" style="width:70%"></div>
        </div>
      </div>&nbsp;
    </div>


  </div>
  <hr>&nbsp;

  <!-- Snippet1 END -->


  <!-- Snippet2 BEGIN -->
  <div class="container">
    <h3 class="text-primary">Progress Bar Height:</h3>
  </div>
  <div class="container" id="to-copy1">
    <div class="float-right">
      <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
        onClick="CopyToClipboard('to-copy1')">
        <i class="fa fa-clone" aria-hidden="true"></i>
      </button>
    </div>
    <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;
  &lt;div class="progress" style="height:10px"&gt;
    &lt;div class="progress-bar" style="width:40%;height:10px"&gt;&lt;/div&gt;
  &lt;/div&gt;
  &lt;br&gt;
  &lt;div class="progress" style="height:20px"&gt;
    &lt;div class="progress-bar" style="width:50%;height:20px"&gt;&lt;/div&gt;
  &lt;/div&gt;
  &lt;br&gt;
  &lt;div class="progress" style="height:30px"&gt;
    &lt;div class="progress-bar" style="width:60%;height:30px"&gt;&lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code></pre>
  </div>

  <div class="container">
    <h3 class="text-danger">Output:</h3>&nbsp;
    <div class="container bg-white text-dark">&nbsp;
      <div class="container">
        <div class="progress" style="height:10px">
          <div class="progress-bar" style="width:40%;height:10px"></div>
        </div>
        <br>
        <div class="progress" style="height:20px">
          <div class="progress-bar" style="width:50%;height:20px"></div>
        </div>
        <br>
        <div class="progress" style="height:30px">
          <div class="progress-bar" style="width:60%;height:30px"></div>
        </div>
      </div>&nbsp;
    </div>
  </div>
  <hr>&nbsp;
  <!-- Snippet2 END -->



  <!-- Snippet3 BEGIN -->
  <div class="container">
    <h3 class="text-primary">Colored Progress Bars:</h3>
  </div>
  <div class="container" id="to-copy2">
    <div class="float-right">
      <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
        onClick="CopyToClipboard('to-copy2')">
        <i class="fa fa-clone" aria-hidden="true"></i>
      </button>
    </div>
    <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;
    &lt;!-- Blue --&gt;
    &lt;div class="progress"&gt;
      &lt;div class="progress-bar" style="width:10%"&gt;&lt;/div&gt;
    &lt;/div&gt;&lt;br&gt;

    &lt;!-- Green --&gt;
    &lt;div class="progress"&gt;
      &lt;div class="progress-bar bg-success" style="width:20%"&gt;&lt;/div&gt;
    &lt;/div&gt;&lt;br&gt;

    &lt;!-- Turquoise --&gt;
    &lt;div class="progress"&gt;
      &lt;div class="progress-bar bg-info" style="width:30%"&gt;&lt;/div&gt;
    &lt;/div&gt;&lt;br&gt;

    &lt;!-- Orange --&gt;
    &lt;div class="progress"&gt;
      &lt;div class="progress-bar bg-warning" style="width:40%"&gt;&lt;/div&gt;
    &lt;/div&gt;&lt;br&gt;

    &lt;!-- Red --&gt;
    &lt;div class="progress"&gt;
      &lt;div class="progress-bar bg-danger" style="width:50%"&gt;&lt;/div&gt;
    &lt;/div&gt;&lt;br&gt;

    &lt;!-- White --&gt;
    &lt;div class="progress border"&gt;
      &lt;div class="progress-bar bg-white" style="width:60%"&gt;&lt;/div&gt;
    &lt;/div&gt;&lt;br&gt;

    &lt;!-- Grey --&gt;
    &lt;div class="progress"&gt;
      &lt;div class="progress-bar bg-secondary" style="width:70%"&gt;&lt;/div&gt;
    &lt;/div&gt;&lt;br&gt;

    &lt;!-- Light Grey --&gt;
    &lt;div class="progress border"&gt;
      &lt;div class="progress-bar bg-light" style="width:80%"&gt;&lt;/div&gt;
    &lt;/div&gt;&lt;br&gt;

    &lt;!-- Dark Grey --&gt;
    &lt;div class="progress"&gt;
      &lt;div class="progress-bar bg-dark" style="width:90%"&gt;&lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

</code></pre>
  </div>

  <div class="container">
    <h3 class="text-danger">Output:</h3>&nbsp;
    <div class="container bg-white text-dark">&nbsp;
      <div class="container">
        <!-- Blue -->
        <div class="progress">
          <div class="progress-bar" style="width:10%"></div>
        </div><br>
      
        <!-- Green -->
        <div class="progress">
          <div class="progress-bar bg-success" style="width:20%"></div>
        </div><br>
      
        <!-- Turquoise -->
        <div class="progress">
          <div class="progress-bar bg-info" style="width:30%"></div>
        </div><br>
      
        <!-- Orange -->
        <div class="progress">
          <div class="progress-bar bg-warning" style="width:40%"></div>
        </div><br>
      
        <!-- Red -->
        <div class="progress">
          <div class="progress-bar bg-danger" style="width:50%"></div>
        </div><br>
      
        <!-- White -->
        <div class="progress border">
          <div class="progress-bar bg-white" style="width:60%"></div>
        </div><br>
      
        <!-- Grey -->
        <div class="progress">
          <div class="progress-bar bg-secondary" style="width:70%"></div>
        </div><br>
      
        <!-- Light Grey -->
        <div class="progress border">
          <div class="progress-bar bg-light" style="width:80%"></div>
        </div><br>
      
        <!-- Dark Grey -->
        <div class="progress">
          <div class="progress-bar bg-dark" style="width:90%"></div>
        </div>
      </div>&nbsp;
    </div>
  </div>
  <hr>&nbsp;
  <!-- Snippet4 END -->


  <!-- Snippet4 BEGIN -->
  <div class="container">
    <h3 class="text-primary">Striped Progress Bars:</h3>
    <p><code>.progress-bar-striped</code></p>
  </div>
  <div class="container" id="to-copy3">
    <div class="float-right">
      <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
        onClick="CopyToClipboard('to-copy3')">
        <i class="fa fa-clone" aria-hidden="true"></i>
      </button>
    </div>
    <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;
  &lt;div class="progress"&gt;
    &lt;div class="progress-bar progress-bar-striped" style="width:30%"&gt;&lt;/div&gt;
  &lt;/div&gt;
  &lt;br&gt;
  &lt;div class="progress"&gt;
    &lt;div class="progress-bar bg-success progress-bar-striped" style="width:40%"&gt;&lt;/div&gt;
  &lt;/div&gt;
  &lt;br&gt;
  &lt;div class="progress"&gt;
    &lt;div class="progress-bar bg-info progress-bar-striped" style="width:50%"&gt;&lt;/div&gt;
  &lt;/div&gt;
  &lt;br&gt;
  &lt;div class="progress"&gt;
    &lt;div class="progress-bar bg-warning progress-bar-striped" style="width:60%"&gt;&lt;/div&gt;
  &lt;/div&gt;
  &lt;br&gt;
  &lt;div class="progress"&gt;
    &lt;div class="progress-bar bg-danger progress-bar-striped" style="width:70%"&gt;&lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
  </div>

  <div class="container">
    <h3 class="text-danger">Output:</h3>&nbsp;
    <div class="container bg-white text-dark">&nbsp;
      <div class="container">
        <div class="progress">
          <div class="progress-bar progress-bar-striped" style="width:30%"></div>
        </div>
        <br>
        <div class="progress">
          <div class="progress-bar bg-success progress-bar-striped" style="width:40%"></div>
        </div>
        <br>
        <div class="progress">
          <div class="progress-bar bg-info progress-bar-striped" style="width:50%"></div>
        </div>
        <br>
        <div class="progress">
          <div class="progress-bar bg-warning progress-bar-striped" style="width:60%"></div>
        </div>
        <br>
        <div class="progress">
          <div class="progress-bar bg-danger progress-bar-striped" style="width:70%"></div>
        </div>
      </div>&nbsp;
    </div>
  </div>
  <hr>&nbsp;
  <!-- Snippet4 END -->


  <!-- Snippet5 BEGIN -->
  <div class="container">
    <h3 class="text-primary">Animated Progress Bar:</h3>
    <p><code>.progress-bar-animated</code></p>
  </div>
  <div class="container" id="to-copy4">
    <div class="float-right">
      <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
        onClick="CopyToClipboard('to-copy4')">
        <i class="fa fa-clone" aria-hidden="true"></i>
      </button>
    </div>
    <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;
  &lt;div class="progress"&gt;
    &lt;div class="progress-bar progress-bar-striped progress-bar-animated" style="width:40%"&gt;&lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
  </div>

  <div class="container">
    <h3 class="text-danger">Output:</h3>&nbsp;
    <div class="container bg-white text-dark">&nbsp;
      <div class="container">
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:40%"></div>
        </div>
      </div>&nbsp;
    </div>
  </div>
  <hr>&nbsp;
  <!-- Snippet5 END -->

  <!-- Snippet6 BEGIN -->
  <div class="container">
    <h3 class="text-primary">Multiple Progress Bars (stacked):</h3>
  </div>
  <div class="container" id="to-copy5">
    <div class="float-right">
      <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
        onClick="CopyToClipboard('to-copy5')">
        <i class="fa fa-clone" aria-hidden="true"></i>
      </button>
    </div>
    <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;
  &lt;div class="progress"&gt;
    &lt;div class="progress-bar bg-success" style="width:40%"&gt;
    Free Space
    &lt;/div&gt;
    &lt;div class="progress-bar bg-warning" style="width:10%"&gt;
    Warning
    &lt;/div&gt;
    &lt;div class="progress-bar bg-danger" style="width:20%"&gt;
    Danger
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
  </div>

  <div class="container">
    <h3 class="text-danger">Output:</h3>&nbsp;
    <div class="container bg-white text-dark">&nbsp;
      <div class="container">
        <div class="progress">
          <div class="progress-bar bg-success" style="width:40%">
            Free Space
          </div>
          <div class="progress-bar bg-warning" style="width:10%">
            Warning
          </div>
          <div class="progress-bar bg-danger" style="width:20%">
            Danger
          </div>
        </div>
      </div>&nbsp;
    </div>
  </div>
  <hr>&nbsp;
  <!-- Snippet6 END -->
</div>