<div class="container">&nbsp;
  <!-- Snippet1 BEGIN -->
  <div class="container">
    <h3 class="text-primary">Scrollspy:</h3>
    <p>
      <code>data-spy="scroll"</code>
    </p>
  </div>
  <div class="container" id="to-copy">
    <div class="float-right">
      <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
        onClick="CopyToClipboard('to-copy')">
        <i class="fa fa-clone" aria-hidden="true"></i>
      </button>
    </div>
    <pre><code class="html">{{> _dots}}
&lt;head&gt;
  &lt;style&gt;
    body {
    position: relative;
    }
  &lt;/style&gt;
&lt;/head&gt;
&lt;body data-spy="scroll" data-target=".navbar" data-offset="50"&gt;
  &lt;div class="container-fluid"&gt;

    &lt;nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top"&gt;
    &lt;ul class="navbar-nav"&gt;
      &lt;li class="nav-item"&gt;
      &lt;a class="nav-link" href="#section1"&gt;Section 1&lt;/a&gt;
      &lt;/li&gt;
      &lt;li class="nav-item"&gt;
      &lt;a class="nav-link" href="#section2"&gt;Section 2&lt;/a&gt;
      &lt;/li&gt;
      &lt;li class="nav-item"&gt;
      &lt;a class="nav-link" href="#section3"&gt;Section 3&lt;/a&gt;
      &lt;/li&gt;
      &lt;li class="nav-item dropdown"&gt;
      &lt;a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"&gt;
      Section 4
      &lt;/a&gt;
      &lt;div class="dropdown-menu"&gt;
      &lt;a class="dropdown-item" href="#section41"&gt;Link 1&lt;/a&gt;
      &lt;a class="dropdown-item" href="#section42"&gt;Link 2&lt;/a&gt;
      &lt;/div&gt;
      &lt;/li&gt;
    &lt;/ul&gt;
    &lt;/nav&gt;

    &lt;div id="section1" class="container-fluid bg-success" style="padding-top:70px;padding-bottom:70px"&gt;
    &lt;h1&gt;Section 1&lt;/h1&gt;
    &lt;p&gt;Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look
    at the navigation bar while scrolling!&lt;/p&gt;
    &lt;p&gt;Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look
    at the navigation bar while scrolling!&lt;/p&gt;
    &lt;/div&gt;
    &lt;div id="section2" class="container-fluid bg-warning" style="padding-top:70px;padding-bottom:70px"&gt;
    &lt;h1&gt;Section 2&lt;/h1&gt;
    &lt;p&gt;Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look
    at the navigation bar while scrolling!&lt;/p&gt;
    &lt;p&gt;Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look
    at the navigation bar while scrolling!&lt;/p&gt;
    &lt;/div&gt;
    &lt;div id="section3" class="container-fluid bg-secondary" style="padding-top:70px;padding-bottom:70px"&gt;
    &lt;h1&gt;Section 3&lt;/h1&gt;
    &lt;p&gt;Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look
    at the navigation bar while scrolling!&lt;/p&gt;
    &lt;p&gt;Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look
    at the navigation bar while scrolling!&lt;/p&gt;
    &lt;/div&gt;
    &lt;div id="section41" class="container-fluid bg-danger" style="padding-top:70px;padding-bottom:70px"&gt;
    &lt;h1&gt;Section 4 Submenu 1&lt;/h1&gt;
    &lt;p&gt;Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look
    at the navigation bar while scrolling!&lt;/p&gt;
    &lt;p&gt;Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look
    at the navigation bar while scrolling!&lt;/p&gt;
    &lt;/div&gt;
    &lt;div id="section42" class="container-fluid bg-info" style="padding-top:70px;padding-bottom:70px"&gt;
    &lt;h1&gt;Section 4 Submenu 2&lt;/h1&gt;
    &lt;p&gt;Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look
    at the navigation bar while scrolling!&lt;/p&gt;
    &lt;p&gt;Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look
    at the navigation bar while scrolling!&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/body&gt;</code></pre>
  </div>

  <div class="container">
    <h3 class="text-danger">Output:</h3>&nbsp;
    <div class="container bg-white text-dark">&nbsp;
      <div class="container overflow-auto" data-spy="scroll" data-target=".navbar" data-offset="50">
        <div class="container-fluid  h-25 d-inline-block">
      
          <nav class="navbar navbar-expand-sm bg-dark navbar-dark ">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#section1">Section 1</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#section2">Section 2</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#section3">Section 3</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                  Section 4
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#section41">Link 1</a>
                  <a class="dropdown-item" href="#section42">Link 2</a>
                </div>
              </li>
            </ul>
          </nav>
      
          <div id="section1" class="container-fluid bg-success" style="padding-top:70px;padding-bottom:70px">
            <h1>Section 1</h1>
            <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look
              at the navigation bar while scrolling!</p>
            <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look
              at the navigation bar while scrolling!</p>
          </div>
          <div id="section2" class="container-fluid bg-warning" style="padding-top:70px;padding-bottom:70px">
            <h1>Section 2</h1>
            <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look
              at the navigation bar while scrolling!</p>
            <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look
              at the navigation bar while scrolling!</p>
          </div>
          <div id="section3" class="container-fluid bg-secondary" style="padding-top:70px;padding-bottom:70px">
            <h1>Section 3</h1>
            <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look
              at the navigation bar while scrolling!</p>
            <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look
              at the navigation bar while scrolling!</p>
          </div>
          <div id="section41" class="container-fluid bg-danger" style="padding-top:70px;padding-bottom:70px">
            <h1>Section 4 Submenu 1</h1>
            <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look
              at the navigation bar while scrolling!</p>
            <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look
              at the navigation bar while scrolling!</p>
          </div>
          <div id="section42" class="container-fluid bg-info" style="padding-top:70px;padding-bottom:70px">
            <h1>Section 4 Submenu 2</h1>
            <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look
              at the navigation bar while scrolling!</p>
            <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look
              at the navigation bar while scrolling!</p>
          </div>
        </div>
      </div>&nbsp;
    </div>


  </div>
  <hr>&nbsp;

  <!-- Snippet1 END -->


  <!-- Snippet2 BEGIN -->
  <div class="container">
    <h3 class="text-primary">Scrollspy Vertical Menu:</h3>
    <p><code></code></p>
  </div>
  <div class="container" id="to-copy1">
    <div class="float-right">
      <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
        onClick="CopyToClipboard('to-copy1')">
        <i class="fa fa-clone" aria-hidden="true"></i>
      </button>
    </div>
    <pre><code class="html">{{> _dots}}
&lt;head&gt;
  &lt;style&gt;
    body {
    position: relative;
    }
    ul.nav-pills {
    top: 20px;
    position: fixed;
    }
    div.col-8 div {
    height: 500px;
    }
  &lt;/style&gt;
&lt;/head&gt;
&lt;body data-spy="scroll" data-target="#myScrollspy1" data-offset="1"&gt;

  &lt;div class="container-fluid"&gt;
    &lt;div class="row"&gt;
    &lt;nav class="col-sm-3 col-4" id="myScrollspy1"&gt;
    &lt;ul class="nav nav-pills flex-column"&gt;
      &lt;li class="nav-item"&gt;
      &lt;a class="nav-link active" href="#section1"&gt;Section 1&lt;/a&gt;
      &lt;/li&gt;
      &lt;li class="nav-item"&gt;
      &lt;a class="nav-link" href="#section2"&gt;Section 2&lt;/a&gt;
      &lt;/li&gt;
      &lt;li class="nav-item"&gt;
      &lt;a class="nav-link" href="#section3"&gt;Section 3&lt;/a&gt;
      &lt;/li&gt;
      &lt;li class="nav-item dropdown"&gt;
      &lt;a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"&gt;Section 4&lt;/a&gt;
      &lt;div class="dropdown-menu"&gt;
      &lt;a class="dropdown-item" href="#section41"&gt;Link 1&lt;/a&gt;
      &lt;a class="dropdown-item" href="#section42"&gt;Link 2&lt;/a&gt;
      &lt;/div&gt;
      &lt;/li&gt;
    &lt;/ul&gt;
    &lt;/nav&gt;
    &lt;div class="col-sm-9 col-8"&gt;
    &lt;div id="section1" class="bg-success"&gt;
    &lt;h1&gt;Section 1&lt;/h1&gt;
    &lt;p&gt;Try to scroll this section and look at the navigation list while scrolling!&lt;/p&gt;
    &lt;/div&gt;
    &lt;div id="section2" class="bg-warning"&gt;
    &lt;h1&gt;Section 2&lt;/h1&gt;
    &lt;p&gt;Try to scroll this section and look at the navigation list while scrolling!&lt;/p&gt;
    &lt;/div&gt;
    &lt;div id="section3" class="bg-secondary"&gt;
    &lt;h1&gt;Section 3&lt;/h1&gt;
    &lt;p&gt;Try to scroll this section and look at the navigation list while scrolling!&lt;/p&gt;
    &lt;/div&gt;
    &lt;div id="section41" class="bg-danger"&gt;
    &lt;h1&gt;Section 4-1&lt;/h1&gt;
    &lt;p&gt;Try to scroll this section and look at the navigation list while scrolling!&lt;/p&gt;
    &lt;/div&gt;
    &lt;div id="section42" class="bg-info"&gt;
    &lt;h1&gt;Section 4-2&lt;/h1&gt;
    &lt;p&gt;Try to scroll this section and look at the navigation list while scrolling!&lt;/p&gt;
    &lt;/div&gt;
    &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;

&lt;/body&gt;</code></pre>
  </div>

  <div class="container">
    <h3 class="text-danger">Output:</h3>&nbsp;
    <div class="container bg-white text-dark">&nbsp;
      <body data-spy="scroll" data-target="#myScrollspy1" data-offset="1">
      
        <div class="container-fluid">
          <div class="row">
            <nav class="col-sm-3 col-4" id="myScrollspy1">
              <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                  <a class="nav-link active" href="#section1">Section 1</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#section2">Section 2</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#section3">Section 3</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Section 4</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#section41">Link 1</a>
                    <a class="dropdown-item" href="#section42">Link 2</a>
                  </div>
                </li>
              </ul>
            </nav>
            <div class="col-sm-9 col-8">
              <div id="section1" class="bg-success">
                <h1>Section 1</h1>
                <p>Try to scroll this section and look at the navigation list while scrolling!</p>
              </div>
              <div id="section2" class="bg-warning">
                <h1>Section 2</h1>
                <p>Try to scroll this section and look at the navigation list while scrolling!</p>
              </div>
              <div id="section3" class="bg-secondary">
                <h1>Section 3</h1>
                <p>Try to scroll this section and look at the navigation list while scrolling!</p>
              </div>
              <div id="section41" class="bg-danger">
                <h1>Section 4-1</h1>
                <p>Try to scroll this section and look at the navigation list while scrolling!</p>
              </div>
              <div id="section42" class="bg-info">
                <h1>Section 4-2</h1>
                <p>Try to scroll this section and look at the navigation list while scrolling!</p>
              </div>
            </div>
          </div>
        </div>
      
      </body>&nbsp;
    </div>
  </div>
  <hr>&nbsp;
  <!-- Snippet2 END --> 
</div>