<div class="container">&nbsp;
    <!-- Snippet1 BEGIN -->
    <div class="container">
        <h3 class="text-primary">Spinners:</h3>
        <p><code>.spinner-border </code></p>
    </div>
    <div class="container" id="to-copy">
        <div class="float-right">
            <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
                onClick="CopyToClipboard('to-copy')">
                <i class="fa fa-clone" aria-hidden="true"></i>
            </button>
        </div>
        <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;                             
  &lt;div class="spinner-border"&gt;&lt;/div&gt;
&lt;/div&gt;</code></pre>
    </div>

    <div class="container">
        <h3 class="text-danger">Output:</h3>&nbsp;
        <div class="container bg-white  text-dark ">&nbsp;
            <div class="container text-center">
                <div class="spinner-border"></div>
            </div>&nbsp;
        </div>
    </div>
    <hr>&nbsp;
    <!-- Snippet1 END -->

    <!-- Snippet2 BEGIN -->
    <div class="container">
        <h3 class="text-primary">Colored Spinners:</h3>
        <p><code>.spinner-border text-primary</code></p>
    </div>
    <div class="container" id="to-copy1">
        <div class="float-right">
            <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
                onClick="CopyToClipboard('to-copy1')">
                <i class="fa fa-clone" aria-hidden="true"></i>
            </button>
        </div>
        <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;                     
  &lt;div class="spinner-border text-muted"&gt;&lt;/div&gt;
  &lt;div class="spinner-border text-primary"&gt;&lt;/div&gt;
  &lt;div class="spinner-border text-success"&gt;&lt;/div&gt;
  &lt;div class="spinner-border text-info"&gt;&lt;/div&gt;
  &lt;div class="spinner-border text-warning"&gt;&lt;/div&gt;
  &lt;div class="spinner-border text-danger"&gt;&lt;/div&gt;
  &lt;div class="spinner-border text-secondary"&gt;&lt;/div&gt;
  &lt;div class="spinner-border text-dark"&gt;&lt;/div&gt;
  &lt;div class="spinner-border text-light"&gt;&lt;/div&gt;
&lt;/div&gt;</code></pre>
    </div>

    <div class="container">
        <h3 class="text-danger">Output:</h3>&nbsp;
        <div class="container bg-dark text-center text-white">&nbsp;
            <div class="container">
                <div class="spinner-border text-muted"></div>
                <div class="spinner-border text-primary"></div>
                <div class="spinner-border text-success"></div>
                <div class="spinner-border text-info"></div>
                <div class="spinner-border text-warning"></div>
                <div class="spinner-border text-danger"></div>
                <div class="spinner-border text-secondary"></div>
                <div class="spinner-border text-dark"></div>
                <div class="spinner-border text-light"></div>
            </div>&nbsp;
        </div>
    </div>
    <hr>&nbsp;

    <!-- Snippet2 END -->


    <!-- Snippet3 BEGIN -->
    <div class="container">
        <h3 class="text-primary">Growing Spinners:</h3>
        <p><code>.spinner-grow</code></p>
    </div>
    <div class="container" id="to-copy2">
        <div class="float-right">
            <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
                onClick="CopyToClipboard('to-copy2')">
                <i class="fa fa-clone" aria-hidden="true"></i>
            </button>
        </div>
        <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;
  &lt;div class="spinner-grow text-muted"&gt;&lt;/div&gt;
  &lt;div class="spinner-grow text-primary"&gt;&lt;/div&gt;
  &lt;div class="spinner-grow text-success"&gt;&lt;/div&gt;
  &lt;div class="spinner-grow text-info"&gt;&lt;/div&gt;
  &lt;div class="spinner-grow text-warning"&gt;&lt;/div&gt;
  &lt;div class="spinner-grow text-danger"&gt;&lt;/div&gt;
  &lt;div class="spinner-grow text-secondary"&gt;&lt;/div&gt;
  &lt;div class="spinner-grow text-dark"&gt;&lt;/div&gt;
  &lt;div class="spinner-grow text-light"&gt;&lt;/div&gt;
&lt;/div&gt;</code></pre>
    </div>

    <div class="container">
        <h3 class="text-danger">Output:</h3>&nbsp;
        <div class="container bg-dark text-center text-white">&nbsp;
            <div class="container">
                <div class="spinner-grow text-muted"></div>
                <div class="spinner-grow text-primary"></div>
                <div class="spinner-grow text-success"></div>
                <div class="spinner-grow text-info"></div>
                <div class="spinner-grow text-warning"></div>
                <div class="spinner-grow text-danger"></div>
                <div class="spinner-grow text-secondary"></div>
                <div class="spinner-grow text-dark"></div>
                <div class="spinner-grow text-light"></div>
            </div>&nbsp;
        </div>
    </div>
    <hr>&nbsp;

    <!-- Snippet3 END -->


    <!-- Snippet4 BEGIN -->
    <div class="container">
        <h3 class="text-primary">Growing Spinners:</h3>
        <p><code>.spinner-border-sm  .spinner-grow-sm</code></p>
    </div>
    <div class="container" id="to-copy3">
        <div class="float-right">
            <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
                onClick="CopyToClipboard('to-copy3')">
                <i class="fa fa-clone" aria-hidden="true"></i>
            </button>
        </div>
        <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;
  &lt;div class="spinner-border spinner-border-sm"&gt;&lt;/div&gt;
  &lt;div class="spinner-grow spinner-grow-sm"&gt;&lt;/div&gt;
&lt;/div&gt;</code></pre>
    </div>

    <div class="container">
        <h3 class="text-danger">Output:</h3>&nbsp;
        <div class="container bg-dark text-center text-white">&nbsp;
            <div class="container">
                <div class="spinner-border spinner-border-sm"></div>
                <div class="spinner-grow spinner-grow-sm"></div>
            </div>&nbsp;
        </div>
    </div>
    <hr>&nbsp;

    <!-- Snippet4 END -->


    <!-- Snippet5 BEGIN -->
    <div class="container">
        <h3 class="text-primary">Growing Spinners:</h3>
        <p><code>.spinner-border-sm  .spinner-grow-sm</code></p>
    </div>
    <div class="container" id="to-copy4">
        <div class="float-right">
            <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
                onClick="CopyToClipboard('to-copy4')">
                <i class="fa fa-clone" aria-hidden="true"></i>
            </button>
        </div>
        <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;                                    
  &lt;button class="btn btn-success"&gt;
    &lt;span class="spinner-border spinner-border-sm"&gt;&lt;/span&gt;
  &lt;/button&gt;

  &lt;button class="btn btn-success"&gt;
    &lt;span class="spinner-border spinner-border-sm"&gt;&lt;/span&gt;
    Uploading..
  &lt;/button&gt;
  
  &lt;button class="btn btn-success" disabled&gt;
    &lt;span class="spinner-border spinner-border-sm"&gt;&lt;/span&gt;
    Downloading..
  &lt;/button&gt;
  
  &lt;button class="btn btn-success" disabled&gt;
    &lt;span class="spinner-grow spinner-grow-sm"&gt;&lt;/span&gt;
    Processing..
  &lt;/button&gt;
&lt;/div&gt;</code></pre>
    </div>

    <div class="container">
        <h3 class="text-danger">Output:</h3>&nbsp;
        <div class="container bg-white text-center text-dark">&nbsp;
            <div class="container">
                <button class="btn btn-success">
                    <span class="spinner-border spinner-border-sm"></span>
                </button>

                <button class="btn btn-success">
                    <span class="spinner-border spinner-border-sm"></span>
                    Uploading..
                </button>

                <button class="btn btn-success" disabled>
                    <span class="spinner-border spinner-border-sm"></span>
                    Downloading..
                </button>

                <button class="btn btn-success" disabled>
                    <span class="spinner-grow spinner-grow-sm"></span>
                    Processing..
                </button>
            </div>&nbsp;
        </div>
    </div>
    <hr>&nbsp;

    <!-- Snippet5 END -->



</div>