<div class="container">&nbsp;
  <!-- Snippet1 BEGIN -->
  <div class="container">
    <h3 class="text-primary">Toast:</h3>
    <p><code>.toast .toast-header .toast-body </code></p>
  </div>
  <div class="container" id="to-copy">
    <div class="float-right">
      <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
        onClick="CopyToClipboard('to-copy')">
        <i class="fa fa-clone" aria-hidden="true"></i>
      </button>
    </div>
    <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;
  &lt;button type="button" class="btn btn-primary" id="myBtn"&gt;Show Toast&lt;/button&gt;
    &lt;div class="toast"&gt;
      &lt;div class="toast-header"&gt;
      Toast Header
      &lt;/div&gt;
      &lt;div class="toast-body"&gt;
      Toast body
      &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;!-- Note: Difference btewwen model and Toast is Toast will disappear after some time --&gt;

&lt;script&gt;
  $(document).ready(function(){
    $("#myBtn").click(function(){
      $('.toast').toast('show');
      });
  });
&lt;/script&gt;</code></pre>
  </div>

  <div class="container">
    <h3 class="text-danger">Output:</h3>&nbsp;
    <div class="container bg-white text-center  text-dark">&nbsp;
      <div class="container">
        <button type="button" class="btn btn-primary" id="myBtn1">Show Toast</button>
        <div class="toast">
          <div class="toast-header">
            Toast Header
          </div>
          <div class="toast-body">
            Toast body
          </div>
        </div>
      </div>
      
      <script>
        $(document).ready(function () {
          $("#myBtn1").click(function () {
            $('.toast').toast('show');
          });
        });
      </script>
      &nbsp;
    </div>
  </div>
  <hr>&nbsp;
  <!-- Snippet1 END -->

  <!-- Snippet2 BEGIN -->
  <div class="container">
    <h3 class="text-primary">Show & Hide Toast:</h3>
    <p><code>data-autohide="false" to show  || data-autohide="true" to hide</code></p>
  </div>
  <div class="container" id="to-copy1">
    <div class="float-right">
      <button class="button button1" data-toggle="tooltip" data-placement="right" title="Copy to clipboard"
        onClick="CopyToClipboard('to-copy1')">
        <i class="fa fa-clone" aria-hidden="true"></i>
      </button>
    </div>
    <pre><code class="html">{{> _dots}}
&lt;div class="container"&gt;
  &lt;div class="toast" data-autohide="false"&gt;
    &lt;div class="toast-header"&gt;
      &lt;strong class="mr-auto text-primary"&gt;Toast Head&lt;/strong&gt;
      &lt;small class="text-muted"&gt;2 days to go&lt;/small&gt;
      &lt;button type="button" class="ml-2 mb-1 close" data-dismiss="toast"&gt;&amp;times;&lt;/button&gt;
    &lt;/div&gt;
  &lt;div class="toast-body"&gt;
   toast body
  &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;script&gt;
  $(document).ready(function(){
    $('.toast').toast('show');
  });
&lt;/script&gt;</code></pre>
  </div>

  <div class="container">
    <h3 class="text-danger">Output:</h3>&nbsp;
    <div class="container bg-white text-dark">&nbsp;
      <div class="container">
        <div class="toast" data-autohide="false">
          <div class="toast-header">
            <strong class="mr-auto text-primary">Toast Head</strong>
            <small class="text-muted">2 days to go</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
          </div>
          <div class="toast-body">
            toast body
          </div>
        </div>
      </div>
      
      <script>
        $(document).ready(function () {
          $('.toast').toast('show');
        });
      </script>&nbsp;
    </div>
  </div>
  <hr>&nbsp;

  <!-- Snippet2 END -->

</div>