
<div class="container text-center mt-3">

    <div class="mx-auto w-50 p-1">
        <div class="row mt-3 mb-2">
            <div class="card bg-primary text-white col-sm-4 mr-1">
                <div class="card-body">My <br> Apps</div>
            </div>
            <div class="card bg-success text-white col-sm-4 mr-1">
                <div class="card-body">Gold Calculators</div>
            </div>
        </div>
        <div class="row mt-3 mb-2">
            <div class="card bg-warning text-white col-sm-4 mr-1">
                <div class="card-body">Convertors</div>
            </div>
            <div class="card bg-danger text-white col-sm-4 mr-1">
                <div class="card-body">Primary card</div>
            </div>
        </div>
    </div>
    
</div>
