
<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    .switch input { 
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: #28a645;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #28a645;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }
</style>
<div class="text-center mt-4 mb-4">
    <div class="row">
            <div class="card bg-dark col-xl mr-1 mb-1">
                <br><br>
                <div class="card-body">
                    <h4 class="text-white">Notification Sounds <i class="fa fa-bell text-success" style="font-size:22px;"></i></h4><br>
                    <label class="switch">
                        <input type="checkbox" id="notification_sound" onclick="triggerAction('notification_sound')">
                        <span class="slider round"></span>
                    </label>
                </div>
                <br><br>
            </div>
            <div class="card bg-dark col-xl mr-1 mb-1">
                <br><br>
                <div class="card-body">
                    <h4 class="text-white">Dark Mode <i class="fa fa-moon-o text-success" style="font-size:22px;"></i></h4><br>
                    <label class="switch">
                        <input type="checkbox" id="darkmode" onclick="triggerAction('darkmode')">
                        <span class="slider round"></span>
                    </label>
                </div>
                <br><br>
            </div>
        </div>
        <div class="row">
            <div class="card bg-dark col-xl mr-1 mb-1">
                <br><br>
                <div class="card-body">
                    <h4 class="text-white">Email Notications <i class="fa fa-envelope text-success" style="font-size:22px;"></i></h4><br>
                    <label class="switch">
                        <input type="checkbox" id="email_notification" onclick="triggerAction('email_notification')">
                        <span class="slider round"></span>
                    </label>
                </div>
                <br><br>
            </div>
            <div class="card bg-dark col-xl mr-1 mb-1">
                <br><br>
                <div class="card-body">
                    <h4 class="text-white">Telegram Notications <i class="fa fa-paper-plane text-success" style="font-size:22px;"></i></h4><br>
                    <label class="switch">
                        <input type="checkbox" id="telegram_notification" onclick="triggerAction('telegram_notification')">
                        <span class="slider round"></span>
                    </label>
                </div>
                <br><br>
            </div>
        </div>
</div>

<script>
    const updateStatus = (data)=>{
        localStorage.setItem("notification_sound",data.notification_sound );
        if(data.notification_sound == true){
            $('#notification_sound').attr('checked',true)
        }
        if(data.darkmode == true){
            $('#darkmode').attr('checked',true)
        }
        if(data.email_notification == true){
            $('#email_notification').attr('checked',true)
        }
        if(data.telegram_notification == true){
            $('#telegram_notification').attr('checked',true)
        }
    }

    $(document).ready(function(){
        const response = fetch('/users/myprofile/{{user._id}}/settings-json')
        .then((response)=>{return response.json()})
        .then((data)=>{updateStatus(data)})
    })
</script>
<script>
    function triggerAction(task){
        const taskname = task;
        const taskstatus = $('#'+task).is(':checked');
        const url = '/users/myprofile/{{user._id}}/settings-json';
        fetch(url,
        {
            method:'POST',
            mode: 'cors',
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify({'task':[taskname],'taskstatus':taskstatus})
        })
        .then((response)=>{return response.json()})
        .then((data)=>{updateStatus(data)})
        .catch((err)=>console.log(err))
    }
</script>